<div id="c-pool-orders">
  <div id="a-edit">
    <h1>Order Pool: <%= @pool.pretty_name %></h1>

    <%= simple_form_for(@pool, format: :js, html: { id: "ordering-form" }) do |f| %>
      <% if @pool.post_count <= Pool::POOL_ORDER_LIMIT %>
        <p>Drag and drop the list below to determine ordering.</p>

        <%= render "posts/partials/common/inline_blacklist" %>

        <ul id="sortable">
          <% @pool.posts.each do |post| %>
            <li class="ui-state-default" id="pool[post_ids]_<%= post.id %>">
              <%= PostPresenter.preview(post).presence || "Hidden: Post ##{post.id}" %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>Reorder the post IDs in the text box below to reorder the pool.</p>

        <%= f.input :post_ids_string, as: :text, label: "Posts" %>
      <% end %>

      <%= f.submit "Save" %>
    <% end %>
  </div>
</div>

<%= render "pools/secondary_links" %>

<% content_for(:page_title) do %>
  Order Pool - <%= Danbooru.config.app_name %>
<% end %>
