<h2>Edit Pool: <%= @pool.name %></h2>
<p>Drag and drop the list below to determine ordering.</p>

<ul id="sortable">
  <% posts.each do |post| %>
    <li class="ui-state-default" id="pool[post_id_array]_<%= post.id %>">
      <%= link_to(image_tag(post.preview_file_url), post_path(post)) %>        
      <span class="ui-icon ui-icon-closethick delete" title="Remove post"></span>
    </li>
  <% end %>
</ul>

<%= simple_form_for(@pool, :format => :js, :html => {:id => "ordering-form"}) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= submit_tag "Save" %>
<% end %>
