<div id="c-pools">
  <div id="a-edit">
    <%= simple_form_for(@pool) do |f| %>
      <h1>Edit Pool: <%= @pool.pretty_name %></h1>
      <%= f.input :name, :input_html => { :value => @pool.pretty_name } %>
      <%= f.input :description %>
      <%= f.input :post_ids, :label => "Posts" %>
      <%= f.input :is_active %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Pool - <%= Danbooru.config.app_name %>
<% end %>
