<div id="c-pools">
  <div id="a-edit">
    <%= simple_form_for(@pool) do |f| %>
      <h1>Edit Pool: <%= @pool.name %></h1>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :post_ids, :label => "Posts" %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>
