<div id="c-pools">
  <div id="a-index">
    <%= render "search", :path => pools_path %>
    <table class="striped" width="100%">
      <thead>
        <tr>
          <th width="5%"></th>
          <th width="60%">Name</th>
          <th width="10%">Count</th>
        </tr>
      </thead>
      <tbody>
        <% @pools.each do |pool| %>
          <%= content_tag(:tr, :id => "pool-#{pool.id}", :class => "pool-category-#{pool.category}") do %>
            <td>

            </td>
            <td>
              <%= link_to pool.pretty_name, pool_path(pool) %>
              <% if pool.is_deleted? %>
                <span class="inactive">(deleted)</span>
              <% end %>

              <% if pool.post_count > CurrentUser.user.per_page %>
                <%= link_to "page #{pool.last_page}", pool_path(pool, :page => pool.last_page), :class => "last-page" %>
              <% end %>
            </td>
            <td>
              <%= pool.post_count %>
            </td>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@pools) %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Pools - <%= Danbooru.config.app_name %>
<% end %>

<% content_for(:html_header) do %>
  <meta name="description" content="Pools are groups of posts with something in common. The most common use of pools is for posts that are part of a series (such as a comic, or a group of images released by an artist).">
<% end %>
