<div id="c-pools">
  <div id="a-show">
    <h1>Pool: <%= @pool.name %></h1>
    
    <div id="description">
      <%= format_text(@pool.description) %>
    </div>
    
    <section id="content">
      <%= @post_set.presenter.post_previews_html(self) %>

      <div class="clearfix"></div>
    
      <div class="paginator">
        <%= numbered_paginator(@post_set) %>
      </div>
    </section>
  </div>
</div>

<%= render "secondary_links" %>

