<div id="c-pools">
  <div id="a-show">
    <h1>
      <%= @pool.pretty_category %>:
      <%= link_to @pool.pretty_name, posts_path(:tags => "pool:#{@pool.id}"), :class => "pool-category-#{@pool.category}" %>
      <% if @pool.is_deleted? %>
        <span class="inactive">(deleted)</span>
      <% end %>
    </h1>

    <div id="description" class="prose">
      <%= format_text(@pool.description, :ragel => true) %>
    </div>

    <%= render "posts/partials/common/inline_blacklist" %>

    <section>
      <%= @post_set.presenter.post_previews_html(self) %>

      <%= numbered_paginator(@post_set) %>
    </section>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Pool - <%= @pool.pretty_name %> - <%= Danbooru.config.app_name %>
<% end %>

<% content_for(:html_header) do %>
  <meta name="description" content="<%= strip_dtext(@pool.description) %>">
<% end %>
