<% page_title @pool.pretty_name %>
<% meta_description("#{number_with_delimiter(@pool.post_count)} posts. #{DText.excerpt(@pool.description)}") %>

<%= render "meta_links", collection: @posts %>
<%= render "secondary_links" %>

<div id="c-pools">
  <div id="a-show">
    <h1>
      <%= @pool.pretty_category %>:
      <%= link_to @pool.pretty_name, posts_path(:tags => "pool:#{@pool.id}"), :class => "pool-category-#{@pool.category}" %>
      <% if @pool.is_deleted? %>
        <span class="inactive">(deleted)</span>
      <% end %>
    </h1>

    <div id="description" class="prose">
      <%= format_text(@pool.description) %>
    </div>

    <%= render "posts/partials/common/inline_blacklist" %>

    <section>
      <% if @pool.post_count == 0 %>
        <%= render "post_sets/blank" %>
      <% else %>
        <%= post_previews_html(@posts, pool_id: @pool.id, show_deleted: @pool.is_series?) %>

        <%= numbered_paginator(@posts) %>
      <% end %>
    </section>
  </div>
</div>
