<div id="c-pools">
  <div id="a-show">
    <h1>Pool: <%= @pool.pretty_name %></h1>
    
    <div id="description">
      <%= format_text(@pool.description) %>
    </div>
    
    <section id="content">
      <%= @post_set.presenter.post_previews_html(self) %>

      <%= numbered_paginator(@post_set) %>
    </section>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Pool - <%= @pool.name %> - <%= Danbooru.config.app_name %>
<% end %>
