<%= error_messages_for("forum_topic") %>

<div id="form-content">
  <%= edit_form_for(forum_topic) do |f| %>
    <%= f.input :title %>

    <div class="input">
      <label for="forum_topic_category_id">Category</label>
      <%= forum_topic_category_select("forum_topic", "category_id") %>
    </div>

    <%= f.simple_fields_for :original_post do |pf| %>
      <%= pf.input :body, as: :dtext %>
    <% end %>

    <% if policy(forum_topic).moderate? %>
      <%= f.input :min_level, :include_blank => false, :collection => available_min_user_levels %>
      <%= f.input :is_sticky, :label => "Sticky" %>
      <%= f.input :is_locked, :label => "Locked" %>
    <% end %>

    <%= f.button :submit, "Submit" %>
    <%= dtext_preview_button "forum_topic_original_post_body" %>
  <% end %>
</div>
