<div id="form-content">
  <%= error_messages_for("forum_topic") %>

  <%= simple_form_for(@forum_topic) do |f| %>
    <%= f.input :title %>

    <%= f.simple_fields_for :original_post do |pf| %>
      <% unless @forum_topic.new_record? %>
        <%= hidden_field_tag "forum_topic[original_post_attributes][topic_id]", @forum_topic.id %>
      <% end %>
      
      <%= dtext_field "forum_post", "body", :input_name => "forum_topic[original_post_attributes][body]", :value => @forum_topic.original_post.body %>
    <% end %>
  
    <% if CurrentUser.is_moderator? %>
      <%= f.input :is_sticky %>
      <%= f.input :is_locked %>
    <% end %>
  
    <%= f.button :submit, "Submit" %>
    <%= dtext_preview_button "forum_post", "body" %>
  <% end %>
</div>
