<%= table_for forum_topics, width: "100%" do |t| %>
  <% t.column "Title" do |topic| %>
    <% if topic.is_sticky? %>
      <span class="sticky">Sticky:</span>
    <% end %>

    <% if !topic.is_read? %>
      <span class="new">NEW</span>
    <% end %>

    <%= link_to topic.title, forum_topic_path(topic), class: "forum-post-link" %>

    <% if topic.response_count > Danbooru.config.posts_per_page %>
      <%= link_to "page #{topic.last_page}", forum_topic_path(topic, :page => topic.last_page), :class => "last-page" %>
    <% end %>

    <% if topic.is_locked? %>
      <span class="locked-topic">(locked)</span>
    <% end %>

    <% if topic.min_level > 0 %>
      <span class="level-topic">(<%= User.level_string(topic.min_level).downcase %> only)</span>
    <% end %>
  <% end %>
  <% t.column "BURs", width: "20%" do |topic| %>
    <%= bulk_update_request_counts(topic) %>
  <% end %>
  <% t.column "Creator", width: "8%" do |topic| %>
    <%= link_to_user topic.creator %>
  <% end %>
  <% t.column "Updated by", width: "8%" do |topic| %>
    <%= link_to_user topic.updater %>
  <% end %>
  <% t.column "Updated at", width: "8%" do |topic| %>
    <%= compact_time topic.updated_at %>
  <% end %>
<% end %>
