<%= table_for forum_topics, width: "100%" do |t| %>
  <% t.column "Title" do |topic| %>
    <% if topic.is_sticky? %>
      <span class="topic-status icon stickied">
        <i class="fas fa-thumbtack" title="Stickied"></i>
      </span>
    <% end %>

    <% if topic.is_locked? %>
      <span class="topic-status icon locked">
        <i class="fas fa-lock" title="Locked"></i>
      </span>
    <% end %>

    <% if topic.is_deleted? %>
      <span class="topic-status icon deleted">
        <i class="fas fa-trash-alt" title="Deleted"></i>
      </span>
    <% end %>

    <% if topic.min_level > 0 %>
      <span class="topic-status icon restricted">
        <i class="fas fa-hand-paper" title="<%= User.level_string(topic.min_level) %> only"></i>
      </span>
    <% end %>

    <% status = forum_topic_status(topic) %>
    <% if status.present? %>
      <span class="topic-status label <%= status %>"><%= status %></span>
      <%= link_to topic.pretty_title, forum_topic_path(topic), class: "forum-post-link" %>
    <% else %>
      <%= link_to topic.title, forum_topic_path(topic), class: "forum-post-link" %>
    <% end %>

    <% if topic.response_count > Danbooru.config.posts_per_page %>
      <%= link_to "page #{topic.last_page}", forum_topic_path(topic, :page => topic.last_page), :class => "last-page" %>
    <% end %>
  <% end %>
  <% t.column "Creator", width: "8%" do |topic| %>
    <%= link_to_user topic.creator %>
  <% end %>
  <% t.column "Updated by", width: "8%" do |topic| %>
    <%= link_to_user topic.updater %>
  <% end %>
  <% t.column "Updated at", width: "8%" do |topic| %>
    <%= compact_time topic.updated_at %>
  <% end %>
<% end %>
