<h1>Edit Topic</h1>

<%= simple_form_for(@forum_topic) do |f| %>
  <%= f.input :title %>
  
  <%= f.simple_fields_for :original_post do |pf| %>
    <%= text_field_tag "forum_topic[original_post_attributes][topic_id]", @forum_topic.id %>
    <%= pf.input :body %>
  <% end %>
  
  <%= f.button :submit %>
<% end %>
