<div id="c-forum-topics">
  <div id="a-merge">
    <h1>Merge Forum Topic</h1>

    <p>Merge <strong><%= @forum_topic.title %></strong> into:</p>

    <%= form_tag(create_merge_forum_topic_path(@forum_topic)) do %>
      <div>
        <label>
          Forum Topic ID:
          <%= text_field_tag :merged_id %>
        </label>
      </div>
      <%= submit_tag "Merge" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Merge Forum Topic - <%= Danbooru.config.app_name %>
<% end %>
