<% page_title @forum_topic.title %>
<% meta_description(DText.excerpt(@forum_topic.original_post&.body)) %>

<% atom_feed_tag(@forum_topic.title, forum_topic_url(@forum_topic.id, format: :atom)) %>
<%= render "meta_links", collection: @forum_posts %>
<%= render "secondary_links" %>

<div id="c-forum-topics">
  <div id="a-show">
    <h1>
      <%= @forum_topic.title %>

      <% if @forum_topic.is_private? %>
        <span class="level-topic">(<%= User.level_string(@forum_topic.min_level).downcase %>+ only)</span>
      <% end %>

      <% if @forum_topic.is_deleted? %>
        <span class="locked-topic">(deleted)</span>
      <% end %>
    </h1>

    <p class="fineprint">Posted under <%= link_to @forum_topic.category_name, forum_topics_path(:search => {:category_id => @forum_topic.category_id}) %></p>

    <% if @forum_topic.is_locked? %>
      <div class="notice">
        <p>This topic has been locked.</p>
      </div>
    <% end %>

    <%= render "forum_posts/listing", forum_posts: @forum_posts, original_forum_post_id: @forum_topic.original_post&.id, dtext_data: DText.preprocess(@forum_posts.map(&:body)), moderation_reports: @forum_topic.moderation_reports.visible(CurrentUser.user).recent %>

    <% if policy(ForumPost.new(topic: @forum_topic)).create? %>
      <p><%= link_to "Post reply", new_forum_post_path(topic_id: @forum_topic.id), id: "new-response-link" %></p>

      <div style="display: none;" id="topic-response">
        <%= render "forum_posts/partials/new/form", forum_post: ForumPost.new(topic_id: @forum_topic.id) %>
      </div>
    <% end %>

    <%= numbered_paginator(@forum_posts) %>
  </div>
</div>
