<div id="c-forum-topics">
  <div id="a-show">
    <h1>
      Topic: <%= @forum_topic.title %>
      <% if @forum_topic.is_deleted? %>
        (deleted)
      <% end %>
    </h1>
    
    <% if @forum_topic.is_locked? %>
      <div class="notice">
        <p>This topic has been locked.</p>
      </div>
    <% end %>

    <%= render "forum_posts/listing", :forum_posts => @forum_posts %>
    
    <p><%= link_to "Reply &raquo;".html_safe, new_forum_post_path(:topic_id => @forum_topic.id) %></p>
    
    <div id="topic-response">
      <%= render "forum_posts/form", :forum_post => ForumPost.new(:topic_id => @forum_topic.id) %>
    </div>
    
    <%= numbered_paginator(@forum_posts) %>
  </div>
</div>

<%= render "secondary_links" %>

<%= content_for(:page_title) do %>
  Forum - <%= @forum_topic.title %> - <%= Danbooru.config.app_name %>
<% end %>