<div id="c-forum-topics">
  <div id="a-show">
    <% if @forum_topic.is_locked? %>
      <div class="notice">
        <p>This topic has been locked.</p>
      </div>
    <% end %>

    <%= render "forum_posts/listing", :forum_posts => @forum_posts %>
    <%= render "paginator" %>
  </div>
</div>

<%= render "secondary_links" %>

<%= content_for(:page_title) do %>
  forum/<%= @forum_topic.title %>
<% end %>