<div id="c-forum-topics">
  <div id="a-show">
    <h1>Topic: <%= @forum_topic.title %></h1>
    
    <% if @forum_topic.is_locked? %>
      <div class="notice">
        <p>This topic has been locked.</p>
      </div>
    <% end %>

    <%= render "forum_posts/listing", :forum_posts => @forum_posts %>
    
    <%= numbered_paginator(@forum_posts) %>
  </div>
</div>

<%= render "secondary_links" %>

<%= content_for(:page_title) do %>
  Forum - <%= @forum_topic.title %> - <%= Danbooru.config.app_name %>
<% end %>