<%= render "secondary_links" %>

<div id="c-site-credentials">
  <div id="a-edit">
    <h1>Edit Credential</h1>

    <%= edit_form_for(@site_credential) do |f| %>
      <%= f.input :credential, as: :text, input_html: { value: @site_credential.credential.to_json } %>
      <%= f.input :is_enabled, label: "Enabled?" %>
      <%= f.submit "Save" %>
    <% end %>
  </div>
</div>
