<div id="p-revert-listing">
  <table width="100%" class="striped autofit">
    <thead>
      <tr>
        <th width="10%">Name</th>
        <th width="10%">Other Names</th>
        <th>Group</th>
        <th>Updated</th>
        <th>Updated by</th>
        <% if CurrentUser.is_moderator? %>
          <th>IP Address</th>
        <% end %>
        <th>Active</th>
        <th width="30%">URLs</th>
        <% if CurrentUser.is_member? %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @artist_versions.each do |artist_version| %>
        <tr class="<%= cycle 'even', 'odd' %>">
          <% if artist_version.visible? %>
            <td><%= link_to artist_version.name, artist_path(artist_version.artist_id) %></td>
            <td class="col-expand"><%= artist_version_other_names_diff(artist_version) %></td>
            <td><%= artist_version.group_name %></td>
          <% else %>
            <td></td>
            <td></td>
            <td></td>
          <% end %>
          <td><%= compact_time artist_version.created_at %></td>
          <td><%= link_to_user artist_version.updater %></td>
          <% if CurrentUser.is_moderator? %>
            <td>
              <%= link_to_ip artist_version.updater_ip_addr %>
            </td>
          <% end %>
          <td><%= artist_version.is_active? %></td>
          <% if artist_version.visible? %>
            <td><%= artist_version_urls_diff(artist_version) %></td>
          <% else %>
            <td></td>
          <% end %>
          <% if CurrentUser.is_member? %>
            <td>
              <%= link_to "Revert to", revert_artist_path(artist_version.artist_id, :version_id => artist_version.id), :method => :put, :data => {:confirm => "Are you sure you want to revert to this version?"} %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
