<div id="c-artist-versions">
  <div id="a-index">
    <h1>Artist History</h1>

    <div>
      <table width="100%" class="striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Other Names</th>
            <th>Group</th>
            <th>Updated</th>
            <th>Updated by</th>
            <th>Active</th>
            <th>URLs</th>
          </tr>
        </thead>
        <tbody>
          <% @artist_versions.each do |artist_version| %>
            <tr class="<%= cycle 'even', 'odd' %>">
              <td>
                <%= link_to artist_version.name, artist_versions_path(:search => {:artist_id => artist_version.artist_id}) %>
              </td>
              <td><%= link_to "artist", artist_path(artist_version.artist) %></td>
              <td><%= artist_version.other_names %></td>
              <td><%= artist_version.group_name %></td>
              <td><%= compact_time artist_version.created_at %></td>
              <td><%= link_to artist_version.updater_name, user_path(artist_version.updater_id) %></td>
              <td><%= artist_version.is_active? %></td>
              <td>
                <ul>
                  <% artist_version.url_array.each do |url| %>
                    <li><%= url %></li>
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= numbered_paginator(@artist_versions, :search_count => params[:search]) %>
  </div>
</div>

<%= render "artists/secondary_links" %>

<% content_for(:page_title) do %>
  Artist Versions - <%= Danbooru.config.app_name %>
<% end %>
