<% content_for(:secondary_links) do %>
  <menu>
    <li><%= link_to "Listing", posts_path %></li>
    <li><%= link_to "Upload", new_upload_path %></li>
    <li>Popular</li>
    <li><%= link_to "Favorites", favorites_path %></li>
    <li>Subscriptions</li>
    <li><%= link_to "Changes", post_versions_path %></li>
    <li>Approvals</li>
    <li><%= link_to "Moderate", post_moderation_moderate_path %></li>
    <li>Help</li>
  </menu>
<% end %>
