<% page_title "Confirm password" %>
<%= render "secondary_links" %>

<div id="c-sessions">
  <div id="a-confirm-password">
    <h1>Confirm password</h1>

    <p>You must re-enter your password to continue.</p>

    <%= simple_form_for(:session, url: session_path) do |f| %>
      <%= f.input :url, as: :hidden, input_html: { value: params[:url] } %>
      <%= f.input :name, as: :hidden, input_html: { value: CurrentUser.user.name } %>
      <%= f.input :password, hint: link_to("Forgot password?", password_reset_path), input_html: { autocomplete: "current-password" } %>
      <%= f.submit "Continue" %>
    <% end %>
  </div>
</div>
