<% page_title "Confirm password" %>
<%= render "secondary_links" %>

<div id="c-sessions">
  <div id="a-confirm-password">
    <div class="card mt-8 p-4 max-w-480px mx-auto flex flex-col items-center">
      <h1 class="pb-4">Confirm Password</h1>

      <% if @user.totp.present? %>
        <p>Enter your password and the 6-digit code from your authenticator app to continue.</p>
      <% else %>
        <p>Enter your password to continue.</p>
      <% end %>

      <%= edit_form_for(@session, as: :session, url: reauthenticate_session_path, method: "post", html: { class: "w-full stacked-form stacked-hints", "data-validate-form": true }) do |f| %>
        <%= f.input :url, as: :hidden, input_html: { value: @url } %>
        <%= f.input :password, hint: link_to("Forgot password?", password_reset_path), require: true, input_html: { autocomplete: "current-password", value: nil } %>
        <% if @user.totp.present? %>
          <%= f.input :verification_code, placeholder: "123456", required: true, minlength: 6, maxlength: User::BACKUP_CODE_LENGTH, pattern: '\d+', input_html: { value: nil }, hint: "Lost your phone? You can enter a backup code instead." %>
        <% end %>
        <%= f.submit "Continue", class: "button-primary" %>
      <% end %>
    </div>
  </div>
</div>
