<% page_title "Login" %>
<% meta_description "Login to #{Danbooru.config.app_name}" %>

<%= render "sessions/secondary_links" %>

<div id="c-sessions">
  <div id="a-new">
    <section>
      <h1>Login</h1>

      <%= simple_form_for(:session, url: session_path) do |f| %>
        <%= f.input :url, as: :hidden, input_html: { value: params[:url] } %>
        <%= f.input :name %>
        <%= f.input :password, hint: link_to("Forgot password?", password_reset_path), input_html: { autocomplete: "password" } %>
        <%= f.submit "Login" %>
      <% end %>

      <p class="fineprint">
        New to <%= Danbooru.config.app_name %>? <%= link_to "Create a new account", new_user_path %>.
      </p>
  </div>
</div>
