<% page_title "Login" %>
<% meta_description "Login to #{Danbooru.config.app_name}" %>
<% canonical_url login_url %>

<%= render "sessions/secondary_links" %>

<div id="c-sessions">
  <div id="a-new">
    <div class="card mt-8 p-4 max-w-360px mx-auto flex flex-col items-center">
      <h1 class="pb-4">Login</h1>

      <%= edit_form_for(@session, as: :session, url: session_path, html: { class: "w-full stacked-form stacked-hints" }) do |f| %>
        <%= f.input :url, as: :hidden, input_html: { value: params[:url] } %>
        <%= f.input :name, label: "Name or Email", input_html: { autocapitalize: "none", value: params.dig(:session, :name) } %>
        <%= f.input :password, hint: link_to("Forgot password?", password_reset_path), input_html: { autocomplete: "current-password" } %>
        <%= f.submit "Login", class: "button-primary" %>
      <% end %>

      <p class="fineprint">
        Don't have an account? <%= link_to "Create a new account", new_user_path %>.
      </p>
    </div>
  </div>
</div>
