<div id="c-notes">
  <div id="a-index">
    <h1>Notes</h1>

    <table width="100%" class="striped">
      <thead>
        <tr>
          <th>Post</th>
          <th>Created by</th>
          <th>Created at</th>
          <th>Body</th>
        </tr>
      </thead>
      <tbody>
        <% @notes.each do |note| %>
          <tr>
            <td><%= link_to note.post_id, post_path(note.post_id) %></td>
            <td><%= link_to_user note.creator %></td>
            <td><%= compact_time(note.created_at) %></td>
            <td>
              <%= h(note.body) %>
              <% unless note.is_active? %>
                <span class="inactive">(deleted)</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@notes) %>
  </div>
</div>

<%= render "notes/secondary_links" %>

<% content_for(:page_title) do %>
  Notes - <%= Danbooru.config.app_name %>
<% end %>
