<div id="c-notes">
  <div id="a-search">
    <%= simple_form_for @search do |f| %>
      <%= f.input :body_matches, :label => "Body", :required => false %>
      <%= f.input :post_tag_match, :label => "Tags", :required => false %>
      <%= f.button :submit, "Search" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search Notes - <%= Danbooru.config.app_name %>
<% end %>
