<div id="c-notes">
  <div id="a-search">
    <h1>Search Notes</h1>

    <%= form_tag(notes_path, :method => :get, :class => "simple_form") do %>
      <%= hidden_field_tag "group_by", "note" %>
      <%= search_field "body_matches", :label => "Body" %>
      <%= search_field "creator_name", :label => "Author" %>
      <%= search_field "post_tags_match", :label => "Tags" %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search Notes - <%= Danbooru.config.app_name %>
<% end %>
