<div id="c-notes">
  <div id="a-search">
    <h1>Search Notes</h1>

    <%= simple_form_for(:search, url: notes_path, method: :get, defaults: { required: false }) do |f| %>
      <%= f.hidden_field :group_by, value: "note" %>

      <%= f.input :body_matches, label: "Body" %>
      <%= f.input :creator_name, label: "Author" %>
      <%= f.input :post_tags_match, label: "Tags", input_html: { data: { autocomplete: "tag-query" } } %>
      <%= f.submit "Search" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search Notes - <%= Danbooru.config.app_name %>
<% end %>
