<% page_title "Reset Password" %>

<div id="c-password-resets">
  <div id="a-edit">
    <div class="card mt-8 p-4 max-w-480px mx-auto flex flex-col items-center">
      <h1 class="pb-4">Reset Password</h1>

      <% if @user.totp.present? %>
        <p class="w-full">Enter the 6-digit code from your authenticator app to change your password.</p>
      <% end %>

      <%= edit_form_for(@user, url: password_reset_path, method: "put", html: { class: "w-full stacked-form stacked-hints", "data-validate-form": "true" }) do |f| %>
        <%= f.input :signed_id, as: :hidden, input_html: { value: params.dig(:user, :signed_id) }  %>

        <% if @user.totp.present? %>
          <%= f.input :verification_code, placeholder: "123456", required: true, minlength: 6, maxlength: User::BACKUP_CODE_LENGTH, pattern: '\d+', input_html: { value: nil }, hint: "Lost your phone? You can enter a backup code instead." %>
        <% end %>

        <%= f.input :password, required: true, label: "New password", input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation, required: true, label: "Confirm password", input_html: { autocomplete: "new-password" } %>
        <%= f.submit "Save", class: "button-primary" %>
      <% end %>
    </div>
  </div>
</div>

<%= render "sessions/secondary_links" %>
