<span class="post-votes inline-flex items-center leading-none gap-1" data-id="<%= post.id %>">
  <% if current_user.is_anonymous? %>
    <%= link_to upvote_icon, login_path(url: request.fullpath), class: "post-upvote-link inactive-link" %>
  <% elsif upvoted? %>
    <%= link_to upvote_icon, post_vote_path(current_vote), class: "post-upvote-link post-unvote-link active-link", method: :delete, remote: true %>
  <% else %>
    <%= link_to upvote_icon, post_post_votes_path(post_id: post.id, score: 1), class: "post-upvote-link inactive-link", method: :post, remote: true %>
  <% end %>

  <span class="post-score inline-block text-center whitespace-nowrap align-middle min-w-4">
    <%= link_to post.score, post_votes_path(search: { post_id: post.id }, variant: :compact), rel: "nofollow" %>
  </span>

  <% if current_user.is_anonymous? %>
    <%= link_to downvote_icon, login_path(url: request.fullpath), class: "post-downvote-link inactive-link" %>
  <% elsif downvoted? %>
    <%= link_to downvote_icon, post_vote_path(current_vote), class: "post-downvote-link post-unvote-link active-link", method: :delete, remote: true %>
  <% else %>
    <%= link_to downvote_icon, post_post_votes_path(post_id: post.id, score: -1), class: "post-downvote-link inactive-link", method: :post, remote: true %>
  <% end %>
</span>
