<span class="post-votes" data-id="<%= post.id %>">
  <% if current_user.is_anonymous? %>
    <%= link_to upvote_icon, login_path(url: request.fullpath), class: "post-upvote-link inactive-link" %>
  <% elsif upvoted? %>
    <%= link_to upvote_icon, post_post_votes_path(post), class: "post-upvote-link post-unvote-link active-link", method: :delete, remote: true %>
  <% else %>
    <%= link_to upvote_icon, post_post_votes_path(post_id: post.id, score: 1), class: "post-upvote-link inactive-link", method: :post, remote: true %>
  <% end %>

  <span class="post-score">
    <%= link_to post.score.clamp(0..), post_votes_path(search: { post_id: post.id }, variant: :compact), rel: "nofollow" %>
  </span>
</span>
