<%= tag.div class: ["tab-panel-component", *Array.wrap(classes)], "x-data": "{ active: #{default_tab.index} }", **html do %>
  <div class="tab-list thin-x-scrollbar <%= tab_list_classes %>">
    <% tabs.each do |tab| %>
      <% case tab %>
      <% when Panel %>
        <%= link_to tab.name, tab.url, class: ["tab", tab.id, tab.classes, ("active-tab" if tab.index == default_tab.index)], "x-on:click.prevent": "active = #{tab.index}", "x-bind:class": "{ 'active-tab': active === #{tab.index} }" %>
      <% when Spacer %>
        <span class="tab-spacer flex-grow-1"></span>
      <% when MenuItem %>
        <span class="tab-menu-item <%= tab.id %> <%= tab.classes %>">
          <%= tab.content.call %>
        </span>
      <% end %>
    <% end %>
  </div>

  <div class="tab-panels">
    <% panels.zip(tabs.grep(Panel)).each do |(panel, tab)| %>
      <%= tag.div class: ["tab-panel", tab.id, ("active-tab" if tab.index == default_tab.index)], "x-bind:class": "{ 'active-tab': active === #{tab.index} }" do %>
        <%= panel %>
      <% end %>
    <% end %>
  </div>
<% end %>
