<%= tag.div class: ["tab-panel-component", *Array.wrap(classes)], "x-data": "{ active: 0 }" do %>
  <div class="tab-list">
    <% tabs.each_with_index do |tab, i| %>
      <%= link_to tab.name, tab.url, class: ["tab", "#{tab.name.parameterize}-tab", ("active-tab" if i == 0)], "x-on:click.prevent": "active = #{i}", "x-bind:class": "{ 'active-tab': active === #{i} }" %>
    <% end %>

    <% if menu_items.present? %>
      <span class="flex-grow-1"></span>

      <% menu_items.each do |menu_item| %>
        <span class="tab-menu-item">
          <%= menu_item %>
        </span>
      <% end %>
    <% end %>
  </div>

  <div class="tab-panels">
    <% tabs.zip(panels).each_with_index do |(tab, panel), i| %>
      <%= tag.div class: ["tab-panel", "#{tab.name.parameterize}-tab", ("active-tab" if i == 0)], "x-bind:class": "{ 'active-tab': active === #{i} }" do %>
        <%= panel %>
      <% end %>
    <% end %>
  </div>
<% end %>
