<div id="c-tag-aliases">
  <div id="a-new">
    <h1>Edit Tag Alias</h1>

    <%= error_messages_for :tag_alias %>

    <%= simple_form_for(@tag_alias) do |f| %>
      <%= f.input :antecedent_name, :as => :string, :label => "From" %>
      <%= f.input :consequent_name, :label => "To" %>
      <%= f.input :forum_topic_id, :label => "Forum" %>
      <%= f.button :submit, :data => { :disable_with => "Updating..." } %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>
