<div style="margin-bottom: 1em;">
  <% form_tag({:action => "index"}, :method => :get) do %>
    <%= text_field_tag "query", params[:query] %> 
    <%= submit_tag "Search Aliases" %>
    <%= submit_tag "Search Implications" %>  
  <% end %>
</div>

<div id="aliases">
  <% form_tag(:action => "update") do %>
    <table width="100%" class="highlightable">
      <thead>
        <tr>
          <th width="1%"></th>
          <th width="19%">Alias</th>
          <th width="20%">To</th>
          <th width="60%">Reason</th>
        </tr>        
      </thead>
      <tfoot>
        <tr>
          <td colspan="4">
            <% if @current_user.is_admin_or_higher? %>
              <%= button_to_function "Select pending", "$$('.pending').each(function(x) {x.checked = true})" %> 
              <%= submit_tag "Approve" %> 
              <%= button_to_function "Delete", "$('reason-box').show(); $('reason').focus()" %>
              <%= submit_tag "Fix" %>
              <%= button_to_function "Add", "$('add-box').show().scrollTo(); $('tag_alias_name').focus()" %>

              <div id="reason-box" style="display: none; margin-top: 1em;">
                <strong>Reason:</strong>
                <%= text_field_tag "reason", "", :size => 40 %>
                <%= submit_tag "Delete" %>
              </div>
            <% end %>

          </td>
        </tr>
      </tfoot>
      <tbody>
        <% @aliases.each do |a| %>
          <tr class="<%= cycle 'even', 'odd' %> <%= a.is_pending? ? 'pending-tag' : nil %>">
            <td><input type="checkbox" name="aliases[<%= a.id %>]" value="1" <%= a.is_pending? ? 'class="pending"' : nil %>></td>
            <td><%= link_to h(a.name), :controller => "post", :action => "index", :tags => a.name %> (<%= Tag.find_by_name(a.name).post_count rescue 0 %>)</td>
            <td><%= link_to h(a.alias_name), :controller => "post", :action => "index", :tags => a.alias_name %> (<%= Tag.find(a.alias_id).post_count rescue 0 %>)</td>
            <td><%= format_text(a.reason) %></td>
          </tr>
        <% end %>        
      </tbody>
    </table>
  <% end %>
</div>

<% if @current_user.is_admin_or_higher? %>
  <div id="add-box" <% unless params[:to_name] %>style="display: none;"<% end %>>
    <% form_tag(:action => "create") do %>
      <h4>Add Alias</h4>

      <% unless @current_user.is_anonymous? %>
        <%= hidden_field_tag "tag_alias[creator_id]", @current_user.id %>
      <% end %>
    
      <table>
        <tr>
          <th><label for="tag_alias_name">Name</label></th>
          <td><%= text_field "tag_alias", "name", :size => 40, :value => params[:from_name] %></td>
        </tr>
        <tr>
          <th><label for="tag_alias_alias">Alias to</label></th>
          <td><%= text_field "tag_alias", "alias", :size => 40, :value => params[:to_name] %></td>
        </tr>
        <tr>
          <th><label for="tag_alias_reason">Reason</label></th>
          <td><%= text_area "tag_alias", "reason", :size => "40x2", :value => params[:reason] %></td>
        </tr>
        <tr>
          <td colspan="2"><%= submit_tag "Submit" %></td>
        </tr>
      </table>
    <% end %>
  </div>
<% end %>

<div id="paginator">
  <%= will_paginate(@aliases) %>
</div>

<% content_for("subnavbar") do %>
  <li><%= link_to "List", :controller => "tag_alias", :action => "index" %></li>
  <li><%= link_to "Add", :controller => "tag_alias", :action => "new" %></li>
  <li><%= link_to "Help", :controller => "help", :action => "tag_aliases" %></li>
<% end %>
