<div id="c-tag-aliases">
  <div id="a-index">
    <div class="search">
      <%= form_tag(tag_aliases_path, :method => :get) do %>
        <%= text_field :search, :name_matches, :value => params[:search][:name_matches] %>
        <%= submit_tag "Search" %>
      <% end %>
    </div>

    <%= render "listing", :tag_aliases => @tag_aliases %>

    <%= numbered_paginator(@tag_aliases) if @tag_aliases.respond_to?(:current_page) %>
  </div>
</div>

<%= render "tag_aliases/secondary_links" %>

<% content_for(:page_title) do %>
  Tag Aliases - <%= Danbooru.config.app_name %>
<% end %>

