<div id="c-tag-aliases">
  <div id="a-new">
    <h3>New Tag Alias</h3>
    <%= simple_form_for(@tag_alias) do |f| %>
      <%= f.input :antecedent_name, :label => "From" %>
      <%= f.input :consequent_name, :label => "To" %>
      <%= f.input :forum_topic_id, :label => "Forum" %>
      <%= f.button :submit %>
    <% end %>    
  </div>
</div>

<%= render "secondary_links" %>