<table class="striped">
  <caption>Appeals</caption>
  <thead>
    <tr>
      <th>Post</th>
      <th>User</th>
      <th>Flags</th>
      <th>Appeals</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% @dashboard.appeals.each do |post| %>
      <tr>
        <td><%= PostPresenter.preview(post, show_deleted: true) %></td>
        <td><%= mod_link_to_user post.uploader, :negative %></td>
        <td><%= post_flag_reasons(post) %></td>
        <td><%= post_appeal_reasons(post) %></td>
        <td><%= post.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "View all appeals", post_appeals_path %></p>
