<div id="c-moderator-dashboards">
  <div id="a-show">
    <h1>Moderator Dashboard</h1>

    <%= render "search" %>

    <div id="col1">
      <%= render "activity_upload" %>
      <%= render "activity_note" %>
      <%= render "activity_tag" %>
      <%= render "activity_wiki_page" %>
      <%= render "activity_artist" %>
      <%= render "activity_comment" %>
    </div>

    <div id="col2">
      <%= render "activity_appeal" %>
      <%= render "activity_user_feedback" %>
      <%= render "activity_mod_action" %>
    </div>
  </div>
</div>
