<div id="c-moderator-dashboards">
  <div id="a-show">
    <h1>Moderator Dashboard</h1>

    <%= render "search" %>
    <%= render "posts/partials/common/inline_blacklist" %>

    <div id="col1">
      <div class="activity"><%= render "activity_upload" %></div>
      <div class="activity"><%= render "activity_note" %></div>
      <div class="activity"><%= render "activity_tag" %></div>
      <div class="activity"><%= render "activity_wiki_page" %></div>
      <div class="activity"><%= render "activity_artist" %></div>
      <div class="activity"><%= render "activity_comment" %></div>
    </div>

    <div id="col2">
      <div class="activity"><%= render "activity_appeal" %></div>
      <div class="activity"><%= render "activity_user_feedback" %></div>
      <div class="activity"><%= render "activity_mod_action" %></div>
    </div>
  </div>
</div>

<% content_for(:page_title) do %>
  Mod Dashboard - <%= Danbooru.config.app_name %>
<% end %>
