<% page_title "Mod Dashboard" %>

<div id="c-moderator-dashboards">
  <div id="a-show">
    <h1>Moderator Dashboard</h1>

    <%= render "search" %>
    <%= render "posts/partials/common/inline_blacklist" %>

    <section class="column-container">
      <div id="column-left" class="column column-expand">
        <div class="activity"><%= render "activity_upload" %></div>
        <div class="activity"><%= render "activity_note" %></div>
        <div class="activity"><%= render "activity_wiki_page" %></div>
        <div class="activity"><%= render "activity_artist" %></div>
      </div>

      <div id="column-right" class="column column-expand">
        <div class="activity"><%= render "activity_comment" %></div>
        <div class="activity"><%= render "activity_user_feedback" %></div>
        <div class="activity"><%= render "activity_mod_action" %></div>
      </div>
    </section>
  </div>
</div>
