<%= edit_form_for(@artist) do |f| %>
  <%= f.input :name, as: :string, input_html: { "data-autocomplete": "tag" } %>

  <%= f.input :other_names_string, label: "Other names", as: :text, input_html: { size: "50x1" }, hint: '<b style="color: red;">NEW</b> Separate names with spaces, not commas. Use underscores for spaces inside names.'.html_safe %>
  <%= f.input :group_name %>
  <%= f.input :url_string, :label => "URLs", :as => :text, :input_html => {:size => "50x15", :value => params.dig(:artist, :url_string) || @artist.urls.join("\n")}, :hint => "You can prefix a URL with - to mark it as dead." %>

  <% if @artist.wiki_page.present? %>
    <div class="input">
      <label>Wiki (<%= link_to "Edit", edit_wiki_page_path(@artist.wiki_page) %>)</label>
    </div>

    <div class="prose">
      <%= format_text(@artist.wiki_page.body, disable_mentions: true) %>
    </div>
  <% end %>

  <%= f.button :submit, "Submit" %>
<% end %>
