<%= simple_form_for(@artist) do |f| %>
  <div class="input">
    <label for="artist_name">Name</label>
    <% if @artist.new_record? %>
      <%= text_field "artist", "name" %>
      <span id="check-name-result"></span>

    <% elsif CurrentUser.user.is_builder? %>
      <%= text_field "artist", "name" %>
      <span id="check-name-result"></span>
      <span class="hint">Change to rename this artist entry and its wiki page</span>

    <% else %>
      <p><%= @artist.name %></p>
    <% end %>
  </div>
  <%= f.input :other_names_comma, :hint => "Separate with commas", :as => :text, :label => "Other names" %>
  <%= f.input :group_name %>
  <%= f.input :url_string, :label => "URLs", :as => :text, :input_html => {:size => "50x5", :value => params.dig(:artist, :url_string) || @artist.url_array.join("\n")} %>

  <%= dtext_field "artist", "notes" %>
  <%= f.button :submit, "Submit" %>
  <%= dtext_preview_button "artist", "notes" %>
<% end %>
