<% content_for(:secondary_links) do %>
  <menu>
    <li><%= link_to "Listing", artists_path %></li>
    <li><%= link_to "Banned", banned_artists_path %></li>
    <li><%= link_to "Search", search_artists_path %></li>
    <li><%= link_to "New", new_artist_path %></li>
    <li><%= link_to "Recent changes", artist_versions_path %></li>
    <% if @artist && !@artist.new_record? %>
      <li>|</li>
      <li><%= link_to "Edit", edit_artist_path(@artist) %></li>
      <li><%= link_to "Show", artist_path(@artist) %></li>
    <% end %>
  </menu>
<% end %>
