<%# artist %>
<ul>
  <li><strong>Status</strong> <%= artist.status %></li>

  <% if !artist.is_banned? || CurrentUser.is_member? %>
    <% if artist.other_names.present? %>
      <li><strong>Other Names</strong> <%= link_to_artists(artist.other_names) %></li>
    <% end %>
    <% if artist.group_name.present? %>
      <li><strong>Group</strong> <%= link_to_artist(artist.group_name) %></li>
    <% end %>
    <% if artist.members.present? %>
      <li><strong>Members</strong> <%= link_to_artists(artist.members.map(&:name)) %></li>
    <% end %>
    <% if artist.domains.any? %>
      <li><strong>Domains</strong></li>
      <ul>
        <% artist.domains.each do |url, count| %>
          <li><%= url %>: <%= count %></li>
        <% end %>
      </ul>
    <% end %>
    <% if artist.urls.present? %>
      <li><strong>URLs</strong></li>
      <ul>
        <% artist.urls.each do |url| %>
          <li>
            <% if url.is_active? %>
              <%= link_to h(url.to_s), h(url) %>
            <% else %>
              <del><%= h(url.url) %></del>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</ul>
