<div id="c-artists">
  <div id="a-edit">
    <h1>Rename Artist</h1>
    <%= form_tag(update_name_artist_path(@artist), :class => "simple_form", :method => :put) do %>
      <div class="input">
        <label for="artist_name">Name</label>
        <%= text_field :artist, :name %>
        [<%= link_to "check", "#", :id => "check-name-link" %>]
        <span id="check-name-result"></span>
      </div>
      <div><%= submit_tag "Submit" %></div>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Rename Artist - <%= Danbooru.config.app_name %>
<% end %>
