<div id="c-artists">
  <div id="a-index">
    <%= render "search" %>
    <table class="striped" width="100%">
      <thead>
        <tr>
          <th width="45%">Primary Name</th>
          <th width="45%">Secondary Names</th>
          <th width="10%">Status</th>
        </tr>
      </thead>
      <tbody>
        <% @artists.each do |artist| %>
          <% if artist.visible? %>
            <%= content_tag(:tr, :id => "artist-#{artist.id}") do %>
              <td>
                <%= link_to h(artist.name), artist_path(artist) %>
                <% if !artist.group_name.blank? %>
                  (group: <%= link_to(artist.group_name, artist_path(artist)) %>)
                <% end %>
              </td>
              <td><%= artist.other_names_string %></td>
              <td><%= artist.status %></td>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@artists) %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Artists - <%= Danbooru.config.app_name %>
<% end %>
