<div id="c-artists">
  <div id="a-search">
    <h1>Search Artists</h1>
    
    <div id="search-form">
      <%= form_tag(artists_path, :method => :get, :class => "simple_form") do %>
        <div class="input">
          <label>Name</label>
          <%= text_field "search", "name" %>
          <p class="hint">You can search on any name or URL</p>
        </div>
        
        <div class="input">
          <label>Sort</label>
          <%= select "search", "sort", ["Date", "Name"] %>
        </div>
        <%= submit_tag "Search" %>
      <% end %>
    </div>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search Artists - <%= Danbooru.config.app_name %>
<% end %>
