<% page_title "#{@artist.pretty_name.startcase} | Artist Profile" %>
<% noindex if @artist.is_banned? %>
<%= render "secondary_links" %>

<div id="c-artists">
  <div id="a-show">
    <% if @artist.is_banned? && !policy(@artist).can_view_banned? %>
      <p>The artist requested removal of this page.</p>
    <% else %>
      <%= render "artists/summary", artist: @artist %>

      <% if @artist.tag.present? && @artist.tag.post_count > 0 %>
        <div class="recent-posts">
          <h2 class="recent-posts-header">
            <%= link_to "Posts", posts_path(tags: @artist.name) %>
          </h2>

          <%= render "posts/partials/common/inline_blacklist" %>

          <%= render_post_gallery(PostQuery.new(@artist.name, current_user: CurrentUser.user).posts_with_timeout(8), tags: @artist.name) %>
        </div>
      <% end %>
    <% end%>
  </div>
</div>
