<div id="c-artists">
  <div id="a-show">
    <h3>Artist: <%= @artist.name.tr("_", " ") %></h3>

    <% unless @artist.notes.blank? %>
      <div style="margin-bottom: 1em;">
        <%= format_text(@artist.notes) %>
      </div>
    <% end %>

    <div style="margin-bottom: 1em;">
      <table width="100%">
        <tbody>
          <tr>
            <th width="15%">Status</th>
            <td width="85%">
              <% if @artist.is_banned? %>
                Banned
              <% elsif @artist.is_active? %>
                Active
              <% else %>
                Inactive
              <% end %>
            </td>
          </tr>
          <% if @artist.has_tag_alias? %>
            <tr>
              <th>Tag Alias</th>
              <td>
                <%= @artist.tag_alias_name %>
              </td>
            </tr>
          <% end %>
          <% if !@artist.other_names.blank? %>
            <tr>
              <th>Other Names</th>
              <td>
                <%= link_to_artists(@artist.other_names.split(/,/)) %>
              </td>
            </tr>
          <% end %>
          <% if !@artist.group_name.blank? %>
            <tr>
              <th>Group</th>
              <td>
                <%= link_to_artist(@artist.group_name) %>
              </td>
            </tr>
          <% end %>
          <% if @artist.members.any? %>
            <tr>
              <th>Members</th>
              <td>
                <%= link_to_artists(@artist.members.map(&:name)) %>
              </td>
            </tr>
          <% end %>
          <% @artist.urls.each do |url| %>
            <tr>
              <th>URLs</th>
              <td>
                <%= link_to h(url.to_s), h(url.to_s) %>
                <% if CurrentUser.user.is_moderator? %>
                  (<%#= link_to("mass edit", mass_edit_admin_posts_path(:antecedent => "-#{@artist.name} source:#{ArtistUrl.normalize_for_search(url.to_s)}", :consequent => @artist.name)) %>)
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <p class="legend"><span class="new-artist">*</span> Indicates new artist</p>

    <div style="margin-bottom: 1em;">
      <h4>Recent Posts</h4>
      <div style="margin: 1em 0;">
        <%#= @post_set.presenter.post_previews_html %>
      </div>
    </div>

    <%= render "secondary_links" %>
  </div>
</div>
