<div class="iqdb-posts">
  <h2>Similar Posts</h2>

  <p class="fineprint">
    <% if @high_similarity_matches.blank? %>
      No similar posts found.
    <% end %>

    <% if @low_similarity_matches.present? %>
      <%= link_to "Show #{pluralize(@low_similarity_matches.length, "low similarity match")}", "#", class: "toggle-iqdb-posts-low-similarity" %>
      <%= link_to "Hide #{pluralize(@low_similarity_matches.length, "low similarity match")}", "#", class: "toggle-iqdb-posts-low-similarity", style: "display: none" %>
    <% end %>
  </p>

  <%= render(PostGalleryComponent.new) do |gallery| %>
    <% @matches.each do |match| %>
      <% post = match["post"] %>
      <% high_similarity = match["score"] >= IqdbClient::HIGH_SIMILARITY_THRESHOLD %>
      <% preview_class = high_similarity ? "iqdb-high-similarity" : "iqdb-low-similarity hidden" %>

      <%= gallery.post(post: post, size: gallery.size, show_deleted: true, classes: preview_class) do |preview| %>
        <% preview.footer do %>
          <div class="text-xs text-center">
            <%= render "posts/partials/show/preview_source_footer", post: post %>
          </div>

          <div class="text-xs text-center">
            <%= link_to "#{match["score"].round}% similar", iqdb_queries_path(post_id: post.id), class: "inactive-link iqdb-similarity-score" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
