<p>Hi <%= link_to_user @user %>,</p>

<p><%= link_to_user @dmail.from %> sent you a message on <%= link_to Danbooru.config.canonical_app_name, root_url %>:</p>

<div class="prose" style="margin: 0 2em">
  <b><%= @dmail.title %></b>

  <%= format_text(@dmail.body, base_url: root_url) %>
</div>

<%= link_to "Reply", new_dmail_url(respond_to_id: @dmail) %> |
<%= link_to "View message", dmail_url(@dmail) %>

<p class="fineprint">
  You received this email because you chose to receive notifications whenever someone sends you a message on <%= Danbooru.config.canonical_app_name %>.
  <%= link_to "Click here", disable_email_notifications_url(@user) %> to unsubscribe from these emails.
</p>

<% content_for(:footer_links) do %>
  / <%= link_to "Unsubscribe", disable_email_notifications_url(@user) %>
<% end %>
