<p>"<%= @forum_topic.title %>" was updated:</p>

<% @forum_posts.each do |forum_post| %>
  <p>
    <strong><%= forum_post.creator_name %> said:</strong>
  </p>
  <%= format_text(forum_post.body) %>
  <br>
  <hr>
  <br>
<% end %>

<p><%= link_to "View topic", forum_topic_path(@forum_topic, :page => @forum_topic.last_page, :host => Danbooru.config.hostname, :only_path => false) %> | <%= link_to "Unsubscribe", maintenance_user_email_notification_url(:user_id => @user.id, :sig => email_sig(@user), :host => Danbooru.config.hostname, :only_path => false) %></p>
