<!doctype html>
<html>
  <body>
    <h2>Hi <%= @user.name %>,</h2>

    <p>
      You recently requested your password to be reset for your <%= Danbooru.config.app_name %>
      account. Click the link below to login to <%= Danbooru.config.app_name %>
      and reset your password.
    </p>

    <p>
      <%= link_to "Reset password", edit_user_password_url(@user, signed_user_id: Danbooru::MessageVerifier.new(:login).generate(@user.id, expires_in: 30.minutes)) %>
    </p>

    <p>
      If you did not request for your <%= Danbooru.config.app_name %> password to
      be reset, please ignore this email or reply to let us know. This link
      will only be valid for the next 30 minutes.
    </p>
  </body>
</html>
