<div id="c-favorites">
  <div id="a-index">
    <aside id="sidebar">
      <%= render "posts/partials/common/search", :path => favorites_path, :tags => @favorite_set.tag_string %>

      <% if CurrentUser.is_privileged? %>
        <section id="mode-box">
          <%= render "posts/partials/index/mode_menu" %>
        </section>
      <% end %>

      <section id="blacklist-box">
        <h1>Blacklisted</h1>
        <%= link_to "Hidden", "#" %>
        <ul>
        </ul>
      </section>
    </aside>
      
    <section id="content">
      <h1>Favorites</h1>

      <%= @favorite_set.presenter.post_previews_html(self) %>

      <%= sequential_paginator(@favorite_set.favorites) %>
    </section>
    
    <% content_for(:page_title) do %>
      Favorites - <%= CurrentUser.name %> - <%= Danbooru.config.app_name %>
    <% end %>

    <%= render "posts/partials/common/secondary_links" %>    
  </div>
</div>

