<div id="c-favorites">
  <div id="a-index">
    <aside id="sidebar">
      <%= render "posts/partials/common/search", :path => favorites_path, :tags => @favorite_set.tag_string, :tags_dom_id => "tags" %>

      <%= render "posts/partials/index/mode_menu" %>

      <%= render "posts/partials/index/blacklist" %>

      <section id="tag-box">
        <h1>Tags</h1>
        <%= @favorite_set.presenter.tag_list_html(self) %>
      </section>

      <section id="related-box">
        <h1>Related</h1>
        <ul id="related-list">
          <li><%= link_to "Deleted posts", posts_path(:tags => "#{@favorite_set.tag_string} status:deleted"), :rel => "nofollow" %></li>

          <li><%= link_to "Random post", random_posts_path(:tags => @favorite_set.tag_string), :id => "random-post", :rel => "nofollow" %></li>
        </ul>
      </section>
    </aside>

    <section id="content">
      <h1>Favorites</h1>

      <%= render "posts/partials/index/edit" %>

      <div id="posts">
        <%= @favorite_set.presenter.post_previews_html(self) %>

        <%= sequential_paginator(@favorite_set.favorites) %>
      </div>
    </section>
  </div>
</div>

<%= render "posts/partials/common/secondary_links" %>

<% content_for(:page_title) do %>
  Favorites - <%= @user.pretty_name %> - <%= Danbooru.config.app_name %>
<% end %>
