<div class="favorites">
  <div class="index">
    <aside id="sidebar">
      <section id="search-box">
        <h1>Search Favorites</h1>
        <%= form_tag(favorites_path, :method => "get") do %>
          <%= text_field_tag("tags", params[:tags], :size => 20) %>
          <%= submit_tag "Go" %>
        <% end %>
      </section>

      <% if CurrentUser.is_privileged? %>
        <section id="mode-box">
          <%= render :partial => "posts/partials/index/mode_menu" %>
        </section>
      <% end %>

      <section id="blacklist-box">
        <h1>Blacklisted</h1>
        <%= link_to "Hidden", "#" %>
        <ul>
        </ul>
      </section>
    </aside>
      
    <section id="content">
      <h1>Posts</h1>
      <%= @post_set.presenter.post_previews_html %>

      <div class="clearfix"></div>
    
      <div class="paginator">
        <%= @post_set.presenter.pagination_html(self) %>
      </div>
    </section>
    
    <% content_for(:page_title) do %>
      /fav:<%= CurrentUser.name %>
    <% end %>

    <%= render :partial => "posts/partials/common/secondary_links" %>    
  </div>
</div>

