<%= edit_form_for(comment, namespace: "post_#{comment&.post_id}_comment_#{comment.id || "new"}", html: { style: ("display: none;" if local_assigns[:hidden]), class: "edit_comment" }) do |f| %>
  <% if comment.new_record? %>
    <%= f.hidden_field :post_id %>
  <% end %>

  <%= f.input :body, label: false, as: :dtext, placeholder: "Type :#{Danbooru.config.dtext_emojis.keys.sample}: or !post #1234 to add an image.", input_html: { class: "!max-h-75px" } %>

  <span class="flex gap-2">
    <%= f.button :submit, "Comment", class: "button-primary" %>
    <%= dtext_preview_button "comment_body", class: "button-outline-primary" %>
    <%= render EmojiSelectorComponent.new %>
  </span>
<% end %>
