<%= edit_form_for(comment, namespace: "post_#{comment&.post_id}_comment_#{comment.id || "new"}", html: { style: ("display: none;" if local_assigns[:hidden]), class: "edit_comment" }) do |f| %>
  <% if comment.new_record? %>
    <%= f.hidden_field :post_id %>
  <% end %>

  <%= f.input :body, label: false, as: :dtext, placeholder: "Post a comment" %>

  <span class="flex gap-2 items-center">
    <%= f.button :submit, "Comment", class: "button-primary" %>

    <% if comment.new_record? %>
      <%= f.input :do_not_bump_post, label: "No bump", wrapper_html: { class: "!m-0" } %>
    <% end %>
  </span>
<% end %>
