<%= render "posts/partials/common/inline_blacklist" %>

<div id="p-index-by-post">
  <% if @posts.blank? %>
    <%= render "post_sets/blank" %>
  <% end %>

  <% @posts.includes(:media_asset, :uploader, :vote_by_current_user, comments: [:creator, :votes]).select(&:visible?).each do |post| %>
    <%= tag.div id: "post_#{post.id}", **PostPreviewComponent.new(post: post).article_attrs("post space-x-4") do %>
      <%= post_preview(post, show_deleted: true, show_votes: true) %>

      <div class="flex-1">
        <%= render "comments/partials/index/header", post: post %>
        <%= render_comment_section(post, limit: 6, current_user: CurrentUser.user) %>
      </div>
    <% end %>
  <% end %>
</div>

<%= numbered_paginator(@posts) %>
