<div id="p-index-by-post">
  <% if @posts.blank? %>
    <%= render "post_sets/blank" %>
  <% end %>

  <% @posts.select(&:visible?).each do |post| %>
    <% if post.comments.unhidden(CurrentUser.user).any? || post.comments.hidden(CurrentUser.user).any? %>
      <%= content_tag(:div, { id: "post_#{post.id}", class: ["post", *PostPresenter.preview_class(post)].join(" ") }.merge(PostPresenter.data_attributes(post))) do %>
        <div class="preview">
          <%= link_to(image_tag(post.preview_file_url), post_path(post)) %>
        </div>
        <%= render "comments/partials/index/list", post: post, comments: post.comments.unhidden(CurrentUser.user).last(6), page: :comments %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= numbered_paginator(@posts) %>
