<div id="c-comments">
  <div id="a-edit">
    <h1>Edit Comment</h1>    
    
    <%= simple_form_for(@comment) do |f| %>
      <%= render "dtext/form", :name => "Body", :input_id => "comment_body", :input_name => "comment[body]", :value => @comment.body, :preview_id => "dtext-preview" %>
      <%= f.button :submit, "Submit" %>
      <%= f.button :submit, "Preview", "data-input-id" => "comment_body", "data-preview-id" => "dtext-preview" %>
    <% end %>
  </div>
</div>

<%= render "comments/secondary_links" %>