<div id="c-comments">
  <div id="a-edit">
    <h1>Edit Comment</h1>    
    
    <%= error_messages_for "comment" %>
    
    <%= simple_form_for(@comment) do |f| %>
      <%= dtext_field "comment", "body" %>
      <%= f.button :submit, "Submit" %>
      <%= dtext_preview_button "comment", "body" %>
    <% end %>
  </div>
</div>

<%= render "comments/secondary_links" %>

<% content_for(:page_title) do %>
  Edit Comment - <%= Danbooru.config.app_name %>
<% end %>
