<div id="c-comments">
  <div id="a-index">
    <h1>Comments</h1>

    <div class="comments-for-post">
      <div class="list-of-comments">
        <% @comments.each do |comment| %>
          <div class="post <%= PostPresenter.preview_class(comment.post) %>" <%= PostPresenter.preview_attributes(comment.post) %>>
            <div class="preview">
              <%= link_to(image_tag(comment.post.preview_file_url), post_path(comment.post)) %>
            </div>
            <%= render :partial => "comments/partials/show/comment", :collection => [comment] %>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
    </div>

    <%= numbered_paginator(@comments) %>
  </div>
</div>

<%= render "comments/secondary_links" %>

<% content_for(:page_title) do %>
  Comments - <%= Danbooru.config.app_name %>
<% end %>
