<div id="c-comments">
  <div id="a-show">
    <div class="comments-for-post">
      <div class="list-of-comments">
        <div class="post post-preview" data-tags="<%= @comment.post.tag_string %>" data-uploader="<%= @comment.post.uploader_name %>" data-rating="<%= @comment.post.rating %>" data-flags="<%= @comment.post.status %>" data-score="<%= @comment.post.score %>" data-parent-id="<%= @comment.post.parent_id %>" data-has-children="<%= @comment.post.has_children? %>">
          <div class="preview">
            <%= link_to(image_tag(@comment.post.preview_file_url), post_path(@comment.post)) %>
          </div>
          <%= render :partial => "comments/partials/show/comment", :collection => [@comment] %>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Comment - <%= Danbooru.config.app_name %>
<% end %>
