<div id="c-user-reverts">
  <div id="a-new">
    <h1>Revert Changes</h1>

    <p>You are about to revert all changes made by <%= link_to_user @user %>. Continue?</p>

    <%= form_tag(user_revert_path) do %>
      <%= hidden_field_tag :user_id, params[:user_id] %>

      <%= submit_tag "Yes" %>
    <% end %>
  </div>
</div>

<%= render "users/secondary_links" %>
