<div id="c-admin-alias-and-implication-imports">
  <div id="a-new">
    <h1>Alias &amp; Implication Import</h1>

    <%= simple_form_for(:batch, url: admin_alias_and_implication_import_path) do |f| %>
      <pre>
Use the following format:

remove alias aaa -> bbb
remove implication aaa -> bbb
create alias aaa -> bbb
create implication aaa -> bbb
mass update aaa -> bbb
      </pre>

      <%= f.input :text, label: "Script", as: :text, input_html: { size: "60x20" } %>
      <%= f.input :forum_id, label: "Forum ID" %>
      <%= f.input :rename_aliased_pages, label: "Renamed aliased wiki pages and artists", as: :boolean, checked: true %>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>

<% content_for(:page_title) do %>
  Alias &amp; Implication Import - <%= Danbooru.config.app_name %>
<% end %>
