<div id="c-mod-actions">
  <div id="a-index">
    <h1>Mod Actions</h1>
    <table class="striped" width="100%">
      <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <% @mod_actions.each do |mod_action| %>
          <tr>
            <td><%= compact_time mod_action.created_at %></td>
            <td><%= link_to_user mod_action.creator %></td>
            <td><%= format_text(mod_action.description) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@mod_actions) %>
  </div>
</div>

<% content_for(:page_title) do %>
  Mod Actions - <%= Danbooru.config.app_name %>
<% end %>
