<div class="comment-preview dtext dtext-preview">
</div>

<%= form_tag(comments_path) do %>
  <%= hidden_field "comment", "post_id", :value => post.id %>
  <%= text_area "comment", "body", :size => "60x7" %>
  <br>
  <%= submit_tag "Post" %>
  <%= submit_tag "Preview" %>
  <%= link_to "Formatting", wiki_pages_path(:title => "help:dtext") %>
<% end %>
