<div id="c-tag-implications">
  <div id="a-index">
    <%= simple_form_for(:search, method: :get, url: tag_implications_path, defaults: { required: false }) do |f| %>
      <%= f.input :name_matches, label: "Name", input_html: { value: params[:search][:name_matches], data: { autocomplete: "tag" } } %>
      <%= f.submit "Search" %>
    <% end %>

    <%= render "listing", :tag_implications => @tag_implications %>

    <%= numbered_paginator(@tag_implications) %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Tag Implications - <%= Danbooru.config.app_name %>
<% end %>
