<div id="c-tag-implications">
  <div id="a-index">
    <div class="search">
      <%= form_tag(tag_implications_path, :method => :get) do %>
        <%= text_field :search, :name_matches, :value => params[:search][:name_matches] %>
        <%= submit_tag "Search" %>
      <% end %>
    </div>

    <%= render "listing", :tag_implications => @tag_implications %>

    <%= numbered_paginator(@tag_implications) %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Tag Implications - <%= Danbooru.config.app_name %>
<% end %>
