<div id="c-tag-implications">
  <div id="a-show">
    <h1>Tag Implication: <%= @tag_implication.antecedent_name %> -&gt; <%= @tag_implication.consequent_name %></h1>

    <ul>
      <li><strong>From</strong> <%= link_to @tag_implication.antecedent_name, posts_path(:tags => @tag_implication.antecedent_name) %></li>
      <li><strong>To</strong> <%= link_to @tag_implication.consequent_name, posts_path(:tags => @tag_implication.consequent_name) %></li>
      <% if @tag_implication.forum_topic_id %>
        <li><strong>Reference</strong> <%= link_to "topic ##{@tag_implication.forum_topic_id}", forum_topic_path(@tag_implication.forum_topic_id) %></li>
      <% end %>
      <li><strong>Creator</strong> <%= link_to_user @tag_implication.creator %></li>
      <li><strong>Date</strong> <%= @tag_implication.created_at %></li>
      <% if @tag_implication.respond_to?(:reason) && @tag_implication.reason.present? %>
        <li>
          <strong>Reason</strong>
          <div class="prose">
            <%= format_text @tag_implication.reason %>
          </div>
        </li>
      <% end %>
      <li><strong>Status</strong>: <%= @tag_implication.status %></li>
    </ul>
  </div>
</div>

<%= render "tags/secondary_links" %>
