<div id="c-media-assets">
  <div id="a-index">
    <div class="flex mb-4">
      <h1 class="flex-grow-1">All Uploads</h1>
      <%= render PreviewSizeMenuComponent.new(current_size: @preview_size) %>
    </div>

    <% if params[:search].present? %>
      <%= search_form_for(media_assets_path) do |f| %>
        <%= f.simple_fields_for :metadata do |meta| %>
          <% params.dig(:search, :metadata).to_h.each do |key, value| %>
            <%= meta.input key, label: key, input_html: { value: value } %>
          <% end %>
        <% end %>

        <%= f.submit "Search" %>
      <% end %>
    <% end %>

    <% if params[:mode] == "table" %>
      <%= render "media_assets/table" %>
    <% else %>
      <%= render "media_assets/gallery", media_assets: @media_assets, size: @preview_size %>
    <% end %>

    <%= numbered_paginator(@media_assets) %>
  </div>
</div>

<%= render "uploads/secondary_links" %>
