<div class="flag-dialog-body">
  <%= embed_wiki("help:flag_notice") %>

  <%= edit_form_for(post_flag, format: :js, remote: true) do |f| %>
    <%= f.hidden_field :post_id %>
    <%= f.input :reason, as: :dtext, inline: true %>
    <%= dtext_preview_button "post_flag_reason" %>
  <% end %>
</div>
