<span class="post-flag-reason prose">
  <%= format_text(flag.reason.strip.chomp("."), inline: true) %>

  <% if policy(flag).edit? %>
    (<%= link_to "edit", edit_post_flag_url(flag) %>)
  <% end %>

  <% if policy(flag).can_view_flagger? %>
    (<%= link_to_user(flag.creator) %>, <%= time_ago_in_words_tagged(flag.created_at) %>)
  <% else %>
    (<%= time_ago_in_words_tagged(flag.created_at) %>)
  <% end %>
</span>
