<div id="c-post-flags">
  <div id="a-index">
    <h1>Flags</h1>
    <table width="100%" class="striped">
      <thead>
        <tr>
          <th width="1%"></th>
          <th>Creator</th>
          <th>Reason</th>
          <th>Resolved</th>
        </tr>
      </thead>
      <tbody>
        <% @post_flags.each do |post_flag| %>
          <tr>
            <td><%= PostPresenter.preview(post_flag.post) %></td>
            <td>
              <% if CurrentUser.user.is_janitor? %>
                <%= link_to post_flag.creator.name, user_path(post_flag.creator) %>
              <% end %>
            </td>
            <td><%= format_text post_flag.reason %></td>
            <td><%= post_flag.is_resolved? %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <%= numbered_paginator(@post_flags) %>
  </div>
</div>

<% content_for(:page_title) do %>
  Flags - <%= Danbooru.config.app_name %>
<% end %>
