<div id="c-post-flags">
  <div id="a-index">
    <h1>Flags</h1>
    <%= render "search" %>
    <%= render "posts/partials/common/inline_blacklist" %>
    <table width="100%" class="striped">
      <thead>
        <tr>
          <th width="1%"></th>
          <% if CurrentUser.user.is_moderator? %>
            <th width="10%">Creator</th>
          <% end %>
          <th>Reason</th>
          <th width="15%">Date</th>
        </tr>
      </thead>
      <tbody>
        <% @post_flags.each do |post_flag| %>
          <tr class="resolved-<%= post_flag.is_resolved? %>">
            <td><%= PostPresenter.preview(post_flag.post, :tags => "status:any") %></td>
            <% if CurrentUser.user.is_moderator? %>
              <td>
                <%= link_to_user post_flag.creator %>
              </td>
            <% end %>
            <td><%= format_text post_flag.reason, :ragel => true %></td>
            <td><%= compact_time post_flag.updated_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@post_flags) %>
  </div>
</div>

<% content_for(:page_title) do %>
  Flags - <%= Danbooru.config.app_name %>
<% end %>
