<div id="c-m-posts">
  <%= render "header" %>
  
  <div id="posts">
    <% @post_set.posts.each do |post| %>
      <%= PostPresenter.preview(post, :path_prefix => "/m/posts") %>
    <% end %>
  </div>
  
  <footer>
    <%= sequential_paginator(@post_set.posts) %>
  </footer>
</div>

<% content_for(:page_title) do %>
  <% if params[:tags].present? %>
    <%= params[:tags] %> - <%= Danbooru.config.app_name %>
  <% else %>
    <%= Danbooru.config.app_name %>
  <% end %>
<% end %>
