<div id="p-global-listing">

  <%= table_for @wiki_page_versions, width: "100%" do |t| %>
    <% t.column width: "3%" do |wiki_page_version| %>
      <%= link_to_if wiki_page_version.previous.present?, "diff", diff_wiki_page_versions_path(otherpage: wiki_page_version.previous.try(:id), thispage: wiki_page_version.id) %>
    <% end %>
    <% t.column "Title" do |wiki_page_version| %>
      <span class="category-<%= wiki_page_version.category_name %>">
        <%= link_to "?", wiki_page_path(wiki_page_version.wiki_page_id) %>
        <%= link_to wiki_page_version.title, wiki_page_version %>
        <%= link_to "»", wiki_page_versions_path(search: { wiki_page_id: wiki_page_version.wiki_page_id }) %>
      </span>
    <% end %>
    <% t.column "Status", {width: "5%"} do |wiki_page_version| %>
      <%= wiki_page_version_status_diff(wiki_page_version) %>
    <% end %>
    <% t.column "Last edited", {width: "26%"} do |wiki_page_version| %>
      <%= compact_time(wiki_page_version.updated_at) %>
      by
      <%= link_to_user wiki_page_version.updater %>
      <%= link_to "»", wiki_page_versions_path(search: { updater_id: wiki_page_version.updater.id }) %>
    <% end %>
  <% end %>

</div>
