<div id="p-page-listing">
  <%= form_tag(diff_wiki_page_versions_path, :method => :get) do %>

    <%= table_for @wiki_page_versions, width: "100%" do |t| %>
      <% t.column "", {width: "3%"} do |wiki_page_version, i| %>
        <% if i < @wiki_page_versions.length - 1 %>
          <%= link_to "diff", diff_wiki_page_versions_path(:otherpage => wiki_page_version.id, :thispage => @wiki_page_versions[i + 1].id) %>
        <% else %>
          diff
        <% end %>
      <% end %>
      <% t.column "", {width: "2%"} do |wiki_page_version, i| %>
        <%= radio_button_tag "thispage", wiki_page_version.id, (i == 1) %>
      <% end %>
      <% t.column "", {width: "2%"} do |wiki_page_version, i| %>
        <%= radio_button_tag "otherpage", wiki_page_version.id, (i == 0) %>
      <% end %>
      <% t.column "Title" do |wiki_page_version| %>
        <span class="category-<%= wiki_page_version.category_name %>">
          <%= link_to "?", wiki_page_path(wiki_page_version.wiki_page_id) %>
          <%= link_to wiki_page_version.title, wiki_page_version %>
        </span>
      <% end %>
      <% t.column "Status", {width: "5%"} do |wiki_page_version| %>
        <%= wiki_page_version_status_diff(wiki_page_version) %>
      <% end %>
      <% t.column "Last edited", {width: "26%"} do |wiki_page_version| %>
        <%= compact_time(wiki_page_version.updated_at) %>
        by
        <%= link_to_user wiki_page_version.updater %>
        <% if CurrentUser.is_moderator? %>
          (<%= link_to_ip wiki_page_version.updater_ip_addr %>)
        <% end %>
        <%= link_to "»", wiki_page_versions_path(search: { updater_id: wiki_page_version.updater.id }) %>
      <% end %>
    <% end %>

    <%= submit_tag "Diff" %>
  <% end %>
</div>
