<div id="c-wiki-pages">
  <div id="a-diff">
    <h1>Wiki Page: <%= @thispage.title %></h1>

    <p>Showing differences between <%= compact_time @thispage.created_at %> (<%= link_to_user @thispage.updater %>) and <%= compact_time @otherpage.created_at %> (<%= link_to_user @otherpage.updater %>)</p>

    <div>
      <%= wiki_page_diff(@thispage, @otherpage) %>
    </div>
  </div>
</div>

<%= render "wiki_pages/secondary_links" %>
