<div id="c-wiki-pages">
  <div id="a-diff">
    <h1>Wiki Page: <%= @thispage.title %></h1>

    <p>Showing differences between <%= compact_time @thispage.created_at %> (<%= link_to @thispage.updater.name, user_path(@thispage.updater) %>) and <%= compact_time @otherpage.created_at %> (<%= link_to @otherpage.updater.name, user_path(@otherpage.updater) %>)</p>

    <div>
      <%= wiki_page_diff(@thispage, @otherpage) %>
    </div>
  </div>
</div>

<%= render "wiki_pages/secondary_links" %>