<div id="c-wiki-pages">
  <div id="a-index">
    <%= render :partial => "wiki_pages/sidebar" %>

    <section id="content">
      <h1>Wiki Pages</h1>
      
      <table width="100%" class="striped">
        <thead>
          <tr>
            <th width="60%">Title</th>
            <th width="10%">IP Address</th>
            <th width="30%">Last edited</th>
          </tr>       
        </thead>
        <tbody>
          <% @wiki_page_versions.each do |wiki_page_version| %>
            <tr>
              <td><%= wiki_page_version.title %></td>
              <td>
                <% if CurrentUser.is_admin? %>
                  <%= wiki_page_version.updater_ip_addr %>
                <% end %>
              </td>
              <td>
                <%= link_to wiki_page_version.updated_at.strftime("%m/%d/%Y %I:%M"), wiki_page_version_path(wiki_page_version) %>
                by
                <%= link_to wiki_page_version.updater.name, user_path(wiki_page_version.updater) %>
              </td>
            </tr>
          <% end %>       
        </tbody>
      </table>
      
      <%= numbered_paginator(@wiki_page_versions) %>
    </section>
  </div>
</div>

<%= render :partial => "wiki_pages/secondary_links" %>    
