<%= render "wiki_pages/sidebar" %>

<% content_for(:content) do %>
  <h1>Wiki Page History</h1>

  <%= render "versions/types" %>

  <%= render "listing" %>

  <%= numbered_paginator(@wiki_page_versions) %>
<% end %>

<%= render "wiki_pages/secondary_links" %>
