<% content_for(:secondary_links) do %>
  <menu>
    <% if CurrentUser.is_gold? %>
      <% if @user_feedback %>
        <li><%= link_to "New", new_user_feedback_path(:user_feedback => {:user_id => @user_feedback.user_id}) %></li>
      <% elsif params[:search] && params[:search][:user_id] %>
        <li><%= link_to "New", new_user_feedback_path(:user_feedback => {:user_id => params[:search][:user_id]}) %></li>
      <% else %>
        <li><%= link_to "New", new_user_feedback_path %></li>
      <% end %>
    <% end %>
    <li><%= link_to "Listing", user_feedbacks_path %></li>
    <li><%= link_to "Search", search_user_feedbacks_path %></li>
  </menu>
<% end %>
