<div id="c-user-feedbacks">
  <div id="a-edit">
    <h1>Edit User Feedback</h1>

    <div id="preview">
    </div>

    <%= error_messages_for "user_feedback" %>

    <%= simple_form_for(@user_feedback) do |f| %>
      <%= f.input :category, :collection => ["positive", "neutral", "negative"], :include_blank => false %>
      <%= dtext_field "user_feedback", "body" %>
      <% if @user_feedback.deletable_by?(CurrentUser.user) %>
        <%= f.input :is_deleted, label: "Deleted" %>
      <% end %>
      <%= f.button :submit, "Submit" %>
      <%= dtext_preview_button "user_feedback", "body" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>
