<div id="c-user-feedbacks">
  <div id="a-index">
    <h1>User Feedback</h1>

    <table class="striped" width="100%">
      <thead>
        <tr>
          <th width="15%">User</th>
          <th width="15%">Creator</th>
          <th width="15%">When</th>
          <th width="45%">Message</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @user_feedbacks.each do |feedback| %>
          <tr class="feedback-category-<%= feedback.category %>">
            <td><%= link_to_user feedback.user %></td>
            <td><%= link_to_user feedback.creator %></td>
            <td><%= compact_time(feedback.created_at) %></td>
            <td>
              <%= format_text(feedback.body) %>
              <%= render "update_notice", record: feedback, interval: 0.minutes %>
            </td>
            <td>
              <% if feedback.editable_by?(CurrentUser.user) %>
                <%= link_to "edit", edit_user_feedback_path(feedback) %>
                | <%= link_to "delete", user_feedback_path(feedback), :method => :delete, :data => {:confirm => "Are you sure you want to delete this user feedback?"} %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@user_feedbacks) %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Feedback - <%= Danbooru.config.app_name %>
<% end %>
