<div id="c-user-feedbacks">
  <div id="a-index">
    <h1>User Feedback</h1>
    
    <table class="striped" width="100%">
      <thead>
        <tr>
          <th width="15%">User</th>
          <th width="15%">Creator</th>
          <th width="15%">When</th>
          <th width="45%">Message</th>
        </tr>
      </thead>
      <tbody>
        <% @user_feedbacks.each do |feedback| %>
          <tr class="feedback-category-<%= feedback.category %>">
            <td><%= link_to feedback.user_name, user_path(feedback.user_id) %></td>
            <td><%= link_to feedback.creator_name, user_path(feedback.creator_id) %></td>
            <td><%= compact_time(feedback.created_at) %></td>
            <td><%= format_text(feedback.body) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@user_feedbacks) %>

    <%= render "secondary_links" %>
  </div>
</div>

<% content_for(:page_title) do %>
  Edit Feedback - <%= Danbooru.config.app_name %>
<% end %>
