<div id="c-user-feedbacks">
  <div id="a-new" class="fixed-width-container">
    <h1>New User Feedback</h1>

    <div class="fixed-width-container" id="negative-policy">
      <p>Before submitting negative feedback, you must make a good faith effort at communicating with the user (through DMails) to tell them what they are doing wrong. It is unfair to drop a negative record on them without warning. If you have not done this with at least two weeks of notice, the user can dispute the feedback and have it removed. You will need to provide evidence that your feedback is accurate and you gave advanced warning, so you should collect any relevant links and include them in your feedback.</p>

      <p>Please consult <%= link_to_wiki "the guide", "help:user_records" %> for advice on how to write constructive feedback.</p>
    </div>

    <div id="preview">
    </div>

    <%= error_messages_for "user_feedback" %>

    <%= edit_form_for(@user_feedback) do |f| %>
      <%= f.input :user_name, :label => "User", :input_html => { value: @user_feedback.user.try(:name), data: { autocomplete: "user" } } %>
      <%= f.input :category, :collection => ["positive", "neutral", "negative"], :include_blank => false %>
      <%= f.input :body, as: :dtext %>
      <%= f.button :submit, "Submit" %>
      <%= dtext_preview_button "user_feedback_body" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>
