<div id="c-user-feedbacks">
  <div id="a-new">
    <h1>New User Feedback</h1>

    <div id="preview">
    </div>

    <%= simple_form_for(@user_feedback) do |f| %>
      <%= f.input :user_name %>
      <%= f.input :category, :collection => ["positive", "neutral", "negative"], :include_blank => false %>
      <%= f.input :body, :input_html => {:size => "50x5"} %>
      <%= f.button :submit, "Submit" %>
      <%= f.button :submit, "Preview" %>
    <% end %>
  </div>
</div>

