<div id="c-user-feedbacks">
  <div id="a-new">
    <h1>New User Feedback</h1>

    <div id="preview">
    </div>

    <%= error_messages_for "user_feedback" %>

    <%= simple_form_for(@user_feedback) do |f| %>
      <%= f.input :user_name, :label => "User" %>
      <%= f.input :category, :collection => ["positive", "neutral", "negative"], :include_blank => false %>
      <%= dtext_field "user_feedback", "body" %>
      <%= f.button :submit, "Submit", :data => { :disable_with => "Submitting..." } %>
      <%= dtext_preview_button "user_feedback", "body" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  New Feedback - <%= Danbooru.config.app_name %>
<% end %>
