<div id="c-user-feedbacks">
  <div id="a-search">
    <h1>Search User Feedbacks</h1>

    <%= form_tag(user_feedbacks_path, :method => :get, :class => "simple_form") do %>
      <%= search_field "user_name", :label => "User" %>

      <%= search_field "creator_name", :label => "Creator" %>

      <%= search_field "body_matches", :label => "Message" %>

      <div class="input">
        <label for="search_category">Category</label>
        <%= select "search", "category", %w(positive negative neutral), :include_blank => true %>
      </div>

      <div class="input">
        <%= submit_tag "Search" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search User Feedbacks - <%= Danbooru.config.app_name %>
<% end %>
