<div id="c-user-feedbacks">
  <div id="a-search">
    <h1>Search User Feedbacks</h1>

    <%= search_form_for(user_feedbacks_path) do |f| %>
      <%= f.input :user_name, input_html: { value: params.dig(:search, :user_name), "data-autocomplete": "user" } %>
      <%= f.input :creator_name, input_html: { value: params.dig(:search, :creator_name), "data-autocomplete": "user" } %>
      <%= f.input :body_matches, label: "Message", input_html: { value: params.dig(:search, :body_matches) } %>
      <%= f.input :category, collection: %w[positive negative neutral], include_blank: true, selected: params.dig(:search, :category) %>
      <%= f.submit "Search" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>
