<div id="c-user-feedbacks">
  <div id="a-show">
    <h1>User Feedback For <%= link_to_user @user_feedback.user %></h1>

    <ul>
      <li><strong>Creator</strong>: <%= link_to_user @user_feedback.creator %></li>
      <li><strong>Date</strong>: <%= @user_feedback.created_at %>
        <% if @user_feedback.updated_at > @user_feedback.created_at %>
          (<span class="tn">Updated <%= time_ago_in_words_tagged(@user_feedback.updated_at) %></span>)
        <% end %>
      </li>
      <li><strong>Category</strong>: <%= @user_feedback.category %></li>
      <li><strong>Message</strong>: <%= format_text @user_feedback.body %></li>
    </ul>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Feedback - <%= @user_feedback.user_name %> - <%= Danbooru.config.app_name %>
<% end %>
