<div id="c-user-feedbacks">
  <div id="a-show">
    <h1>User Feedback For <%= @user_feedback.user_name %></h1>
    
    <ul>
      <li><strong>Creator</strong> <%= @user_feedback.creator.name %></li>
      <li><strong>Date</strong> <%= @user_feedback.created_at %></li>
      <li><strong>Category</strong> <%= @user_feedback.category %></li>
      <li><strong>Message</strong> <%= format_text @user_feedback.body %></li>
    </ul>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Feedback - <%= @user_feedback.user_name %> - <%= Danbooru.config.app_name %>
<% end %>
