<div id="c-user-feedbacks">
  <div id="a-show">
    <h1>User Feedback For <%= link_to_user @user_feedback.user %></h1>

    <ul>
      <li><strong>Creator</strong> <%= link_to_user @user_feedback.creator %></li>
      <li><strong>Date</strong> <%= @user_feedback.created_at %></li>
      <li><strong>Category</strong> <%= @user_feedback.category %></li>
      <li><strong>Message</strong> <%= format_text @user_feedback.body %></li>
    </ul>

    <% if @user_feedback.editable_by?(CurrentUser.user) %>
      <p><%= link_to "Edit", edit_user_feedback_path(@user_feedback) %></p>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Feedback - <%= @user_feedback.user.name %> - <%= Danbooru.config.app_name %>
<% end %>
