<%= simple_form_for(@tag_subscription) do |f| %>
  <%= f.input :name %>
  <%= f.input :tag_query, :hint => "Put separate tag combinations on separate lines.", :input_html => {:size => "40x5"} %>
  <div class="input">
    <label for="tag_subscription_is_public">
      <%= check_box "tag_subscription", "is_public" %>
      Is Public
    </label>
  </div>
  <%= f.button :submit, "Submit", :data => { :disable_with => "Submitting..." } %>
<% end %>
