<% content_for(:secondary_links) do %>
  <menu>
    <li><%= link_to "Listing", tag_subscriptions_path %></li>
    <li><%= link_to "Help", wiki_pages_path(:title => "help:tag_subscriptions") %></li>

    <% if @tag_subscription && !@tag_subscription.new_record? && @tag_subscription.editable_by?(CurrentUser.user) %>
      <li>|</li>
      <li><%= link_to "Show", tag_subscription_path(@tag_subscription) %></li>
      <li><%= link_to "Edit", edit_tag_subscription_path(@tag_subscription) %></li>
      <li><%= link_to "Delete", tag_subscription_path(@tag_subscription, :method => :delete, :data => {:confirm => "Are you sure you want to delete this tag subscription?"}) %></li>
    <% end %>
  </menu>
<% end %>
