<div id="c-tag-subscriptions">
  <div id="a-index">
    <h1>Tag Subscriptions</h1>

    <p class="info">The tag subscription feature is being deprecated. You can move your current tag subscriptions to saved searches by clicking the "migrate" link below.</p>

    <table class="striped" width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Tag Query</th>
          <th>Count</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @tag_subscriptions.each do |tag_subscription| %>
          <tr>
            <td><%= tag_subscription.pretty_name %></td>
            <td><%= tag_subscription.pretty_tag_query %></td>
            <td><%= tag_subscription.post_id_array.size %></td>
            <td>
              <%= link_to "delete", tag_subscription_path(tag_subscription), :method => :delete, :data => {:confirm => "Are you sure you want to delete this subscription?"} %>
              | <%= link_to "migrate", migrate_tag_subscription_path(tag_subscription), :method => :post %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Tag Subscriptions - <%= Danbooru.config.app_name %>
<% end %>
