<div id="c-tag-subscriptions">
  <div id="a-index">
    <h1>Tag Subscriptions</h1>
    <table>
      <thead>
        <tr>
          <th>Creator</th>
          <th>Name</th>
          <th>Tag Query</th>
        </tr>
      </thead>
      <tbody>
        <% @tag_subscriptions.each do |tag_subscription| %>
          <tr>
            <td><%= tag_subscription.creator.name %></td>
            <td><%= link_to tag_subscription.name, tag_subscription_path(tag_subscription.id) %></td>
            <td><%= link_to tag_subscription.tag_query, posts_path(:tags => "sub:#{@user.name}:#{tag_subscription.name}") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Tag Subscriptions - <%= Danbooru.config.app_name %>
<% end %>
