<div id="c-tag-subscriptions">
  <div id="a-posts">
    <aside id="sidebar">
      <%= render "posts/partials/common/search", :path => posts_tag_subscription_path, :tags => @post_set.tag_string %>

      <%= render "posts/partials/index/mode_menu" %>

      <%= render "posts/partials/index/blacklist" %>
    </aside>
      
    <section id="content">
      <h1>Tag Subscriptions</h1>
      
      <%= @post_set.presenter.post_previews_html(self) %>

      <%= numbered_paginator(@posts) %>
    </section>
    
    <%= render "posts/partials/common/secondary_links" %>    
  </div>
</div>

<% content_for(:page_title) do %>
  Tag Subscriptions - <%= @user.name %> - <%= Danbooru.config.app_name %>
<% end %>

