<div id="related-tags-container" class="visible" data-media-asset-id="<%= media_asset.id %>">
  <h3>
    Related Tags
    <a href="#" id="show-related-tags-link">»</a>
    <a href="#" id="hide-related-tags-link">«</a>
  </h3>

  <div class="related-tags overflow-auto w-full p-4 flex flex-wrap gap-2 thin-scrollbar">
    <%= render "related_tags/translated_tags", source: nil %>
    <%= render "related_tags/ai_tags", related_tags: nil %>
    <%= render "related_tags/recent_tags", related_tags: nil %>
    <%= render "related_tags/frequent_tags", related_tags: nil %>
    <%= render "related_tags/related_tags", related_tags: nil %>
    <%= render "related_tags/wiki_tags", related_tags: nil %>
    <%= render "related_tags/other_wiki_tags", related_tags: nil %>
  </div>
</div>
