<div id="related-tags-container" data-media-asset-id="<%= media_asset.id %>">
  <div class="related-tags fixed-width-container flex flex-col gap-2">
    <%= render "related_tags/related_tags", related_tags: nil, collapsed: true %>
    <%= render "related_tags/translated_tags", source: nil %>
    <%= render "related_tags/ai_tags", related_tags: nil %>
    <%= render "related_tags/frequent_tags", related_tags: nil %>
    <%= render "related_tags/recent_tags", related_tags: nil %>
  </div>
</div>
