<div class="source-related-tags-columns">
  <% if source.present? %>
    <%= render "related_tags/tag_column", tags: source.translated_tags.map(&:name), title: "Translated Tags" %>

    <div class="tag-column wide-column artist-related-tags-column">
      <h3>Artist</h3>

      <% if source.artists.size == 0 %>
        none
      <% else %>
        <% if source.artists.any?(&:is_banned?) %>
          <%= TagSetPresenter.new(["banned_artist"]).tag_list_html(name_only: true) %>
        <% end %>

        <% source.artists.each do |artist| %>
          <%= TagSetPresenter.new([artist.name]).tag_list_html(name_only: true) %>

          <ul>
            <% artist.sorted_urls.each do |url| %>
              <li>
                <% if url.is_active %>
                  <%= external_link_to url.url, truncate: 64, strip: :scheme, target: "_blank" %>
                <% else %>
                  <del><%= external_link_to url.url, truncate: 64, strip: :scheme, target: "_blank" %></del>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
