<%# tags, title, class, selectable %>

<%= tag.div "x-data": { collapsed: false }.to_json, class: ["tag-column", ("card p-2 h-fit space-y-1" if title.present?), local_assigns[:class], ("hidden" if tags.blank?)] do %>
  <% if tags.present? %>
    <% if title.present? %>
      <div class="flex items-center justify-between gap-2 pl-4 pr-2 cursor-pointer select-none" x-on:click.prevent="collapsed = !collapsed">
        <h6><%= title %></h6>

        <%= chevron_down_icon(class: "link-color rotate-180", "x-cloak": true, "x-show": "collapsed") %>
        <%= chevron_down_icon(class: "link-color", "x-cloak": true, "x-show": "!collapsed") %>
      </div>
    <% end %>

    <ul class="tag-list <%= !selectable ? 'no-select' : ''%>" x-cloak x-show="!collapsed">
      <% tags.each do |t| %>
        <li class="flex items-center gap-1 w-fit leading-none">
          <% if selectable %>
            <input type="checkbox" tabindex="-1">
          <% end %>

          <span class="wiki-link">
            <% if t.name =~ /\A\d+\z/ %>
              <%= link_to "?", wiki_page_path("~#{t.name}", z: 6), class: "wiki-link", target: "_blank" %>
            <% else %>
              <%= link_to "?", wiki_page_path(t.name, z: 6), class: "wiki-link", target: "_blank" %>
            <% end %>
          </span>

          <span class="related-tag">
            <% if t.is_a?(AITag) %>
              <% at = t.to_aliased_tag %>
              <% if selectable %>
                <%= link_to at.pretty_name, posts_path(tags: at.name), class: "break-words #{tag_class(at)}", "data-tag-name": at.name %>
              <% else %>
                <%= link_to at.pretty_name, posts_path(tags: at.name), class: "break-words #{tag_class(at)}", "data-tag-name": "" %>
              <% end %>
              <%= tag.span "#{t.score}%", class: "text-muted text-xs" %>
            <% else %>
              <%= link_to t.pretty_name, posts_path(tags: t.name), class: "break-words #{tag_class(t)}", "data-tag-name": t.name %>
              <%= tag.span humanized_number(t.post_count), class: "post-count text-xs", title: t.post_count %>
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
