<%# tags, title, class %>

<%= tag.div "x-data": { collapsed: false }.to_json, class: ["tag-column", local_assigns[:class], ("hidden" if tags.blank?)] do %>
  <% if tags.present? %>
    <% if title.present? %>
      <div class="flex justify-between pl-4 cursor-pointer select-none" x-on:click.prevent="collapsed = !collapsed">
        <h6><%= title %></h6>

        <a href="javascript:void(0)" class="inline-block align-top w-4" x-cloak x-show="collapsed"><%= chevron_down_icon(class: "rotate-180") %></a>
        <a href="javascript:void(0)" class="inline-block align-top w-4" x-cloak x-show="!collapsed"><%= chevron_down_icon %></a>
      </div>
    <% end %>

    <div class="mt-1" x-cloak x-show="!collapsed">
      <%= render_related_tag_list(tags) %>
    </div>
  <% end %>
<% end %>
