<div id="c-related-tags">
  <div id="a-show">
    <h1>Related tags</h1>

    <%= search_form_for(related_tag_path) do |f| %>
      <%= f.input :query, label: "Tag", input_html: { value: params[:search][:query], "data-autocomplete": "tag" } %>
      <%= f.input :category, collection: TagCategory.canonical_mapping, include_blank: true, selected: params[:search][:category] %>
      <%= f.submit "Show" %>
    <% end %>

    <% if params.dig(:search, :query).present? %>
      <section>
        <table class="striped">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <% @query.tags_for_html.each do |tag, category| %>
              <tr>
                <td class="category-<%= category %>">
                  <%= link_to("?", show_or_new_wiki_pages_path(:title => tag)) %>
                  <%= link_to(tag, posts_path(:tags => tag)) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>
     <% end %>
  </div>
</div>

<%= render "tags/secondary_links" %>

<% content_for(:page_title) do %>
  Related tags - <%= Danbooru.config.app_name %>
<% end %>
