<div id="c-saved-searches">
  <div id="a-edit">
    <h1>Edit Saved Search</h1>

    <%= error_messages_for :saved_search %>

    <%= simple_form_for(@saved_search) do |f| %>
      <%= f.input :query, :as => :string %>
      <%= f.input :label_string, :label => "Labels", :hint => "A list of tags to help categorize this search. Space delimited." %>
      <%= f.button :submit, :value => "Submit", :data => { :disable_with => "Submitting..." } %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Saved Search - <%= Danbooru.config.app_name %>
<% end %>
