<div id="edit">
  <% unless CurrentUser.user.is_contributor? %>
    <div style="margin-bottom: 1em;">
      <p>Before editing, read the <%= link_to "how to tag guide", wiki_page_path(:id => "howto:tag") %>.</p>
    </div>
  <% end %>

  <% form_for(post) do |f| %>
    <%= f.hidden_field :old_tags, :value => post.tag_string %>

    <p>
      <% if post.is_rating_locked? %>
        This post is rating locked.
      <% else %>
        <%= f.label :rating_explicit, "Explicit" %>
        <%= f.radio_button :rating, :e %>
        
        <%= f.label :rating_questionable, "Questionable" %>
        <%= f.radio_button :rating, :q %>

        <%= f.label :rating_safe, "Safe" %>
        <%= f.radio_button :rating, :s %>
      <% end %>
    </p>
    
    <% if CurrentUser.user.is_privileged? %>
      <p>
        <%= f.label :is_note_locked, "Lock notes" %>
        <%= f.check_box :is_note_locked %>
      </p>
      
      <p>
        <%= f.label :is_rating_locked, "Lock rating" %>
        <%= f.check_box :is_rating_locked %>
      </p>
    <% end %>
    
    <p>
      <%= f.label :source %>
      <%= f.text_field :source %>
    </p>
    
    <p>
      <%= f.label :tag_string, "Tags" %>
      <%= f.text_area :tag_string , :size => "50x3" %>
    </p>
    
    <%= submit_tag "Submit" %>
  <% end %>
</div>