<% unless CurrentUser.user.is_builder? %>
  <div style="margin-bottom: 1em;">
    <p>Before editing, read the <%= link_to "how to tag guide", wiki_page_path(:id => "howto:tag") %>.</p>
  </div>
<% end %>

<%= render "sources/info" %>

<%= edit_form_for(post, html: { id: "form" }) do |f| %>
  <%= hidden_field_tag :tags_query, params[:q] %>
  <%= hidden_field_tag :pool_id, params[:pool_id] %>
  <%= hidden_field_tag :favgroup_id, params[:favgroup_id] %>
  <%= f.input :old_tag_string, as: :hidden, input_html: { value: post.tag_string } %>
  <%= f.input :old_parent_id, as: :hidden, input_html: { value: post.parent_id } %>
  <%= f.input :old_source, as: :hidden, input_html: { value: post.source } %>
  <%= f.input :old_rating, as: :hidden, input_html: { value: post.rating } %>

  <%= f.input :rating, label: "Rating" + (post.rating_locked_for_user ? " (locked)" : ""), collection: [["Explicit", "e"], ["Questionable", "q"], ["Safe", "s"]], as: :radio_buttons, boolean_style: :inline, disabled: post.rating_locked_for_user %>

  <fieldset class="inline-fieldset">
    <label>Notes
      <% if post.notes_locked_for_user %>
        (locked)
      <% end %>
    </label>
    <%= f.input :has_embedded_notes, label: "Embed notes", as: :boolean, boolean_style: :inline, disabled: post.notes_locked_for_user %>
  </fieldset>

  <%= f.input :parent_id, label: "Parent" + (post.parent_locked_for_user ? " (locked)" : ""), input_html: { size: 60 }, as: :string, disabled: post.parent_locked_for_user %>
  <%= f.input :source, label: "Source" + (post.source_locked_for_user ? " (locked)" : ""), input_html: { size: 60 }, disabled: post.source_locked_for_user %>

  <div class="input fixed-width-container" id="tags-container">
    <div class="header">
      <%= f.label :tag_string, "Tags" + (post.tags_locked_for_user ? " (locked)" : "") %>

      <span class="options">
        <i id="face" class="fas"></i>
        <span class="count"></span>
        <a href="javascript:void(0)"><i id="open-edit-dialog" class="fas fa-arrows-alt" title="detach" data-shortcut="shift+e"></i></a>
      </span>
    </div>

    <div>
      <%= f.input :tag_string, label: false, input_html: { size: "60x5", spellcheck: false, "data-autocomplete": "tag-edit", "data-shortcut": "e", value: post.presenter.split_tag_list_text + " " }, disabled: post.tags_locked_for_user %>
    </div>

    <%= render "related_tags/buttons" %>
  </div>
  
  <div class="input">
    <%= f.submit "Submit" %>
  </div>

  <%= render "related_tags/container" %>
<% end %>
