<% unless CurrentUser.user.is_builder? %>
  <div style="margin-bottom: 1em;">
    <p>Before editing, read the <%= link_to "how to tag guide", wiki_page_path(:id => "howto:tag") %>.</p>
  </div>
<% end %>

<%= render_source_data(nil) %>

<%= edit_form_for(post, html: { id: "form" }) do |f| %>
  <%= f.input :q, as: :hidden, input_html: { id: nil, name: "q", value: params[:q] } %>
  <%= f.input :old_tag_string, as: :hidden, input_html: { value: post.tag_string } %>
  <%= f.input :old_parent_id, as: :hidden, input_html: { value: post.parent_id } %>
  <%= f.input :old_source, as: :hidden, input_html: { value: post.source } %>
  <%= f.input :old_rating, as: :hidden, input_html: { value: post.rating } %>

  <%= f.input :rating, label: "Rating #{link_to_wiki help_icon, "howto:rate", classes: "inactive-link", target: "_blank"}".html_safe, wrapper_html: { class: "radio-button-group text-xs" }, collection: Post::RATINGS.invert.reverse_each.to_h, as: :radio_buttons, boolean_style: :inline %>

  <fieldset class="inline-fieldset post_has_embedded_notes_fieldset">
    <label>Notes</label>
    <%= f.input :has_embedded_notes, label: "Embed notes", as: :boolean, boolean_style: :inline %>
  </fieldset>

  <%= f.input :parent_id, label: "Parent", as: :string %>
  <%= f.input :source %>

  <div class="input fixed-width-container">
    <div class="flex justify-between">
      <span class="inline-flex gap-1 items-center">
        <%= f.label :tag_string, "Tags" %>
        <%= link_to external_link_icon(class: "text-xxs"), "javascript:void(0)", id: "open-edit-dialog", "data-shortcut": "shift+e" %>
      </span>

      <span data-tag-counter data-for="#post_tag_string" class="text-muted text-sm">
        <span class="tag-count"></span>
      </span>
    </div>

    <%= f.input :tag_string, label: false, hint: tag.span("Ctrl+Enter to submit", class: "desktop-only"), input_html: { "data-autocomplete": "tag-edit", "data-shortcut": "e", value: post.presenter.split_tag_list_text + " " } %>
    <%= render "related_tags/buttons" %>
  </div>

  <div class="input">
    <%= f.submit "Submit", class: "button-primary button-sm" %>
  </div>

  <%= render "related_tags/container", media_asset: post.media_asset %>
<% end %>
