<% if post.banblocked? -%>
  <p>The artist requested removal of this image.</p>
<% elsif post.levelblocked? -%>
  <p><%= link_to("You need a gold account to see this image", new_user_upgrade_path) %>.</p>
<% elsif post.safeblocked? -%>
  <p>This image is unavailable on <%= Danbooru.config.app_name %>. Go to <%= link_to("Danbooru", "https://danbooru.donmai.us") %> or disable safe mode to view (<%= link_to_wiki "learn more", "help:user_settings" %>).</p>
<% elsif post.is_flash? -%>
  <%= render("posts/partials/show/flash", post: post) -%>
<% elsif post.is_video? -%>
  <%= render("posts/partials/show/video", post: post) -%>
<% elsif post.is_ugoira? -%>
  <%= render("posts/partials/show/ugoira", post: post) -%>
<% elsif !post.is_image? -%>
  <%= render("posts/partials/show/download", post: post) -%>
<% elsif post.is_image? -%>
  <%= render("posts/partials/show/image", post: post) -%>
<% end %>
