<div id="favgroup-nav">
  <ul>
    <% favgroups = favgroups.sort_by { |favgroup| [(favgroup.id == params[:favgroup_id].to_i) ? 0 : 1, favgroup.name] } %>
    <% favgroups.each do |favgroup| %>
      <% selected = favgroup.id == params[:favgroup_id].to_i %>

      <%= tag.li id: "nav-link-for-favgroup-#{favgroup.id}", "data-selected": selected do %>
        <span class="first">
          <%= link_to_unless favgroup.first_post?(post.id), "«", post_path(favgroup.post_ids.first, favgroup_id: favgroup.id) %>
        </span>

        <% favgroup.previous_post_id(post.id).tap do |previous_post_id| %>
          <span class="prev">
            <%= link_to_if previous_post_id, "‹ prev", post_path(previous_post_id.to_i, favgroup_id: favgroup.id), rel: ("prev" if selected) %>
          </span>
        <% end %>

        <span class="favgroup-name">
          <%= link_to "Favorite group: #{favgroup.pretty_name}", favgroup %>
        </span>

        <% favgroup.next_post_id(post.id).tap do |next_post_id| %>
          <span class="next">
            <%= link_to_if next_post_id, "next ›", post_path(next_post_id.to_i, favgroup_id: favgroup.id), rel: ("next" if selected) %>
          </span>
        <% end %>

        <span class="last">
          <%= link_to_unless favgroup.last_post?(post.id), "»", post_path(favgroup.post_ids.last, favgroup_id: favgroup.id) %>
        </span>
      <% end %>
    <% end %>
  </ul>
</div>
