<ul>
  <li>ID: <%= post.id %></li>
  <li>Uploader: <%= link_to_unless(post.uploader.nil?, post.uploader_name, user_path(post.uploader)) %></li>
  <li>Date: <%= raw time_ago_in_words_tagged(post.created_at).gsub(/about/, "") %></li>
  <% if post.approver %>
    <li>Approver: <%= link_to(post.approver.name, user_path(post.approver_id)) %></li>
  <% end %>
  <li>
    Size: <%= link_to_if Danbooru.config.can_user_see_post?(CurrentUser.user, post), number_to_human_size(post.file_size), post.file_url %> 
    <% if post.is_image? %>
      (<%= post.image_width %>x<%= post.image_height %>)
    <% end %>
  </li>
  <li>Source: <%= post_source_tag(post) %></li>
  <li>Rating: <%= post.pretty_rating %></li>
  <li>Score: <span id="score-for-post-<%= post.id %>"><%= post.score %></span> <% if CurrentUser.is_privileged? %>(vote <%= link_to "up", post_votes_path(:post_id => post.id, :score => "up"), :remote => true, :method => :post %>/<%= link_to "down", post_votes_path(:post_id => post.id, :score => "down"), :remote => true, :method => :post %>)<% end %></li>
  <li>Fav count: <%= post.fav_count %></li>
  <li>
    Status:
    <% if post.is_pending? %>
      Pending
    <% end %>
    
    <% if post.is_deleted? %>
      Deleted
    <% end %>
    
    <% if post.is_flagged? %>
      Flagged
    <% end %>
    
    <% if !post.is_pending? && !post.is_deleted? %>
      Active
    <% end %>
  </li>
</ul>