<ul itemscope itemtype="http://schema.org/ImageObject">
  <li>ID: <%= post.id %></li>
  <li>Top Tagger: <%= link_to_user(post.keeper) %></li>
  <% if CurrentUser.is_moderator? %>
    <li>Uploader: <%= link_to_user(post.uploader) %></li>
  <% end %>
  <li>
    Date: <%= link_to time_ago_in_words_tagged(post.created_at), posts_path(:tags => "date:#{post.created_at.to_date}"), :rel => "nofollow" %>
    <meta itemprop="uploadDate" content="<%= post.created_at.iso8601 %>">
  </li>
  <% if post.approver %>
    <li>Approver: <%= link_to_user(post.approver) %></li>
  <% end %>
  <li>
    Size: <%= link_to_if post.visible?, number_to_human_size(post.file_size), post.tagged_file_url %>
    <% if post.has_dimensions? %>
      (<span itemprop="width"><%= post.image_width %></span>x<span itemprop="height"><%= post.image_height %></span>)
    <% end %>
  </li>
  <li>Source: <%= post_source_tag(post) %></li>
  <li>Rating: <%= post.pretty_rating %></li>
  <li>Score: <span id="score-for-post-<%= post.id %>"><%= post.score %></span> <% if CurrentUser.is_voter? %>(<span id="vote-links-for-post-<%= post.id %>">vote <%= link_to "up", post_votes_path(:post_id => post.id, :score => "up"), :remote => true, :method => :post %>/<%= link_to "down", post_votes_path(:post_id => post.id, :score => "down"), :remote => true, :method => :post %></span><%= link_to "undo vote", post_votes_path(post), :remote => true, :method => :delete, :id => "unvote-link-for-post-#{post.id}", :class => "unvote-post-link" %>)<% end %></li>
  <li>Favorites: <span id="favcount-for-post-<%= post.id %>"><%= post.fav_count %></span>
  <% if CurrentUser.is_gold? %>
    <%= link_to "Show &raquo;".html_safe, "#", :id => "show-favlist-link" %>
    <%= link_to "&laquo; Hide".html_safe, "#", :id => "hide-favlist-link", :style => "display: none;" %>
    <div id="favlist" style="display: none;"><%= post_favlist(post) %></div>
  <% end %></li>
  <li>
    Status:
    <% if post.is_pending? %>
      Pending
    <% end %>

    <% if post.is_deleted? %>
      Deleted
    <% end %>

    <% if post.is_flagged? %>
      Flagged
    <% end %>

    <% if post.is_banned? %>
      Banned
    <% end %>

    <% if !post.is_pending? && !post.is_deleted? && !post.is_banned? %>
      Active
    <% end %>
  </li>
</ul>
