<ul>
  <li>ID: <%= post.id %></li>
  <li>Uploader: <%= link_to_user_unless(post.uploader.nil?, post.uploader) + "&nbsp;".html_safe + link_to("&raquo;".html_safe, posts_path(:tags => "user:#{post.uploader.name}")) %></li>
  <li>Date: <%= link_to time_ago_in_words_tagged(post.created_at), posts_path(:tags => "date:#{post.created_at.to_date}") %></li>
  <% if post.approver %>
    <li>Approver: <%= link_to_user(post.approver) %></li>
  <% end %>
  <li>
    Size: <%= link_to_if Danbooru.config.can_user_see_post?(CurrentUser.user, post), number_to_human_size(post.file_size), post.file_url %>
    <% if post.is_image? %>
      (<%= post.image_width %>x<%= post.image_height %>)
    <% end %>
  </li>
  <li>Source: <%= post_source_tag(post) %></li>
  <li>Rating: <%= post.pretty_rating %></li>
  <li>Score: <span id="score-for-post-<%= post.id %>"><%= post.score %></span> <% if CurrentUser.is_privileged? %>(vote <%= link_to "up", post_votes_path(:post_id => post.id, :score => "up"), :remote => true, :method => :post %>/<%= link_to "down", post_votes_path(:post_id => post.id, :score => "down"), :remote => true, :method => :post %>)<% end %></li>
  <li>Favorites: <span id="favcount-for-post-<%= post.id %>"><%= post.fav_count %></span> <% if CurrentUser.is_privileged? && post.fav_count > 0 %><span id="favlist-for-post-<%= post.id %>"><%= link_to "&raquo;".html_safe, favorites_path(:post_id => post.id), :remote => true %></span><% end %></li>
  <li>
    Status:
    <% if post.is_pending? %>
      Pending
    <% end %>

    <% if post.is_deleted? %>
      Deleted
    <% end %>

    <% if post.is_flagged? %>
      Flagged
    <% end %>

    <% if !post.is_pending? && !post.is_deleted? %>
      Active
    <% end %>
  </li>
</ul>