<ul>
  <li>Uploader: <%= link_to_unless(post.uploader.nil?, post.uploader_name, user_path(post.uploader)) %></li>
  <li>Uploaded: <%= time_ago_in_words(post.created_at).gsub(/about/, "") %> ago</li>
  <% if post.approver %>
    <li>Approver: <%= link_to(post.approver.name, user_path(post.approver_id)) %></li>
  <% end %>
  <% if post.is_flagged? %>
    <li>Flagged: <%= post_flag_reason(post) %></li>
  <% end %>
  <% if (post.is_flagged? || post.is_deleted?) && post.appeals.any? %>
    <li>Appealed: <%= post_appeal_reason(post) %></li>
  <% end %>
  <li>
    Size: <%= number_to_human_size(post.file_size) %> 
    <% if post.is_image? %>
      (<%= post.image_width %>x<%= post.image_height %>)
    <% end %>
  </li>
  <li>
    Status:
    <% if post.is_pending? %>
      <abbr title="Pending">P</abbr>
    <% end %>
    
    <% if post.is_deleted? %>
      <abbr title="Deleted">D</abbr>
    <% end %>
    
    <% if post.is_flagged? %>
      <abbr title="Unapproved">U</abbr>
    <% end %>
    
    <% if !post.is_pending? && !post.is_deleted? %>
      <abbr title="Active">A</abbr>
    <% end %>
  </li>
  <li><%= link_to "Tag History", post_versions_path(:search => {:post_id_eq => post.id}) %></li>
  <li><%= link_to "Note History", note_versions_path(:search => {:post_id_eq => post.id}) %></li>
</ul>