<ul>
  <li>ID: <%= post.id %></li>
  <li>Uploader: <%= link_to_unless(post.uploader.nil?, post.uploader_name, user_path(post.uploader)) %></li>
  <li>Uploaded: <%= time_ago_in_words(post.created_at).gsub(/about/, "") %> ago</li>
  <% if post.approver %>
    <li>Approver: <%= link_to(post.approver.name, user_path(post.approver_id)) %></li>
  <% end %>
  <li>
    Size: <%= image_dimension_menu(post, @current_user) %>
  </li>
  <li><%= link_to "Tag History", post_versions_path(:post_id => post) %></li>
  <li><%= link_to "Note History", note_versions_path(:post_id => post) %></li>
</ul>