<ul>
  <%= resize_image_links(post, CurrentUser.user) %>
  <li><%= link_to "Favorite", "#" %></li>
  <li><%= link_to "Unfavorite", "#" %></li>
  <li><%= link_to "Translate", "#" %></li>
  <li><%= link_to "Unapprove", "#" %></li>
  <% if CurrentUser.user.is_janitor? %>
    <li><%= link_to "Approve", "#" %></li>
    <li><%= link_to "Undelete", "#" %></li>
    <li><%= link_to "Delete", "#" %></li>
  <% end %>
  <li><%= link_to "Pool", "#" %></li>
</ul>