<ul>
  <%= resize_image_links(post, CurrentUser.user) %>
  <li><%= link_to "Favorite", "#", :id => "add-to-favorites" %> <img src="/images/wait.gif" style="display: none;" id="add-to-favorites-wait"></li>
  <li><%= link_to "Unfavorite", "#", :id => "remove-from-favorites" %> <img src="/images/wait.gif" style="display: none;" id="remove-from-favorites-wait"></li>
  <li><%= link_to "Translate", "#" %></li>
  <% if !post.is_flagged? %>
    <li><%= link_to "Unapprove", new_unapproval_path(:post_id => post.id), :id => "unapprove" %></li>
  <% end %>
  <% if CurrentUser.is_janitor? %>
    <% if post.is_pending? || post.is_flagged? %>
      <li><%= link_to "Approve", "#", :id => "approve" %> <img src="/images/wait.gif" style="display: none;" id="approve-wait"></li>
      <li><%= link_to "Disapprove", "#", :id => "disapprove" %> <img src="/images/wait.gif" style="display: none;" id="disapprove-wait"></li>
    <% end %>
  <% end %>
  <% if CurrentUser.is_moderator? %>
    <% if post.is_removed? %>
      <li><%= link_to "Undelete", "#" %></li>
    <% else %>
      <li><%= link_to "Delete", "#" %></li>
    <% end %>
  <% end %>
  <li><%= link_to "Pool", "#" %></li>
</ul>