<%= tag.li id: "nav-link-for-pool-#{pool.id}", class: "pool-category-#{pool.category}", "data-selected": selected do -%>
  <% if !pool.first_post?(post.id) && pool.post_ids.first -%>
    <%= link_to("&laquo;".html_safe, post_path(pool.post_ids.first, pool_id: pool.id), class: "first", title: "to page 1") %>
  <% else -%>
    <span class="first">&laquo;</span>
  <% end -%>

  <% pool.previous_post_id(post.id).tap do |previous_post_id| -%>
    <% if previous_post_id %>
      <%= link_to "&lsaquo;&thinsp;prev".html_safe, post_path(previous_post_id, pool_id: pool.id), rel: selected ? "prev" : nil, class: "prev", title: "to page #{pool.page_number(previous_post_id)}" -%>
    <% else -%>
      <span class="prev">&lsaquo;&thinsp;prev</span>
    <% end %>
  <% end -%>

  <span class="pool-name">
    <%= link_to("Pool: #{pool.pretty_name}", pool_path(pool), title: "page #{pool.page_number(post.id)}/#{pool.post_count}") -%>
  </span>

  <% pool.next_post_id(post.id).tap do |next_post_id| -%>
    <% if next_post_id %>
      <%= link_to("next&thinsp;&rsaquo;".html_safe, post_path(next_post_id, pool_id: pool.id), rel: selected ? "next" : nil, class: "next", title: "to page #{pool.page_number(next_post_id)}") -%>
    <% else -%>
      <span class="next">next&thinsp;&rsaquo;</span>
    <% end -%>
  <% end -%>

  <% if !pool.last_post?(post.id) && pool.post_ids.last -%>
    <%= link_to("&raquo;".html_safe, post_path(pool.post_ids.last, pool_id: pool.id), class: "last", title: "to page #{pool.post_count}") -%>
  <% else -%>
    <span class="last">&raquo;</span>
  <% end -%>
<% end -%>
