<%-
# vote
# forum_post
%>

<li class="vote-score-<%= vote.vote_type %>">
  <% if policy(forum_post).votable? && vote.creator_id == CurrentUser.id %>
    <%= link_to forum_post_vote_icon(vote), forum_post_vote_path(vote, format: "js"), remote: true, method: :delete %>
    <%= link_to_user vote.creator %>
  <% else %>
    <%= forum_post_vote_icon(vote) %>
    <%= link_to_user vote.creator %>
  <% end %>
</li>
