<%= render "comments/secondary_links" %>

<div id="c-comment-votes">
  <div id="a-index">
    <h1>Comment Votes</h1>

    <%= render "posts/partials/common/inline_blacklist" %>
    <%= render "search" %>

    <%= table_for @comment_votes, class: "striped autofit" do |t| %>
      <% t.column "Post" do |vote| %>
        <%= post_preview(vote.comment.post, show_deleted: true) %>
      <% end %>

      <% t.column "Comment", td: {class: "col-expand"} do |vote| %>
        <div class="prose">
          <%= vote.comment.dtext_body.format_text %>
        </div>
      <% end %>

      <% t.column "Status" do |vote| %>
        <%= "Deleted" if vote.is_deleted? %>
      <% end %>

      <% t.column "Score" do |vote| %>
        <%= link_to sprintf("%+d", vote.score), comment_votes_path(search: { score: vote.score }) %>
      <% end %>

      <% t.column "Commenter" do |vote| %>
        <%= link_to_user vote.comment.creator %>
        <%= link_to "»", comment_votes_path(search: { comment: { creator_name: vote.comment.creator.name }}) %>
        <div><%= time_ago_in_words_tagged(vote.comment.created_at) %></div>
      <% end %>

      <% t.column "Voter" do |vote| %>
        <%= link_to_user vote.user %>
        <%= link_to "»", comment_votes_path(search: { user_name: vote.user.name }) %>
        <div><%= time_ago_in_words_tagged(vote.created_at) %></div>
      <% end %>

      <% t.column column: "control" do |vote| %>
        <% if policy(vote).destroy? %>
          <%= render PopupMenuComponent.new do |menu| %>
            <% menu.with_item do %>
              <%= link_to "Remove", comment_vote_path(vote, variant: "listing"), remote: true, method: :delete %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= numbered_paginator(@comment_votes) %>
  </div>
</div>
