<ul class="tag-list search-tag-list">
  <% tags.each do |t| %>
    <li class="tag-type-<%= t.category %>" data-tag-name="<%= t.name %>" data-is-deprecated="<%= t.is_deprecated? %>">
      <%# ignore search:foo metatags %>
      <% if t.artist? %>
        <%= link_to "?", show_or_new_artists_path(name: t.name, z: 2), class: "wiki-link" %>
      <% elsif t.name =~ /\A\d+\z/ %>
        <%= link_to "?", wiki_page_path("~#{t.name}", z: 2), class: "wiki-link" %>
      <% else %>
        <%= link_to "?", wiki_page_path(t.name, z: 2), class: "wiki-link" %>
      <% end %>

      <%= link_to t.pretty_name, posts_path(tags: t.name, **search_params, z: 2), class: "search-tag" %>
      <%= tag.span humanized_number(t.post_count), class: "post-count", title: t.post_count %>
    </li>
  <% end %>
</ul>
