<div class="box">
  <h2><%= link_to "Uploads", posts_path(:tags => "user:#{user.name}") %></h2>
  <% if presenter.has_uploads? %>
    <div>
      <% presenter.uploads.each do |post| %>
        <%= PostPresenter.preview(post, :tags => "user:#{user.name}") %>
      <% end %>
    </div>
  <% else %>
    <p>None</p>
  <% end %>
</div>

<div class="box">
  <h2><%= link_to "Favorites", posts_path(:tags => "fav:#{user.name}") %></h2>
  <% if presenter.has_favorites? %>
    <div>
      <% presenter.favorites.each do |post| %>
        <%= PostPresenter.preview(post, :tags => "fav:#{user.name}") %>
      <% end %>
    </div>
  <% else %>
    <p>None</p>
  <% end %>
</div>

<% presenter.subscriptions.each do |subscription| %>
  <div class="box">
    <h2>
      Subscription: <%= link_to subscription.pretty_name, posts_path(:tags => "sub:#{user.name}:#{subscription.name}") %>
    </h2>

    <div class="box">
      <% presenter.posts_for_subscription(subscription).each do |post| %>
        <%= PostPresenter.preview(post, :tags => "sub:#{user.name}:#{subscription.name}") %>
      <% end %>
    </div>
  </div>
<% end %>
