<% content_for(:secondary_links) do %>
  <menu>
    <li><%= link_to "Listing", users_path %></li>
    <% if @user && !CurrentUser.is_anonymous? %>
      <li>|</li>
      <% if @user.id == CurrentUser.id %>
        <li><%= link_to "Settings", edit_user_path(CurrentUser.user) %></li>
        <li><%= link_to "Profile", user_path(CurrentUser.user) %></li>
        <li><%= link_to "Messages (#{CurrentUser.dmails.unread.count})", dmails_path(:search => {:owner_id_eq => CurrentUser.id, :to_id_eq => CurrentUser.id}) %></li>
      <% else %>
        <li><%= link_to "Send message", new_dmail_path(:dmail => {:to_id => @user.id}) %></li>
      <% end %>
      <li>|</li>
      <li><%= link_to "Sign out", session_path, :method => :delete %></li>
    <% end %>
  </menu>
<% end %>
