<div id="c-users">
  <div id="a-edit">
    <h1>Settings</h1>

    <%= simple_form_for @user do |f| %>
      <fieldset>
        <legend>Basic Settings</legend>
        
        <div class="input">
          <label>Name</label>
          
          <% if CurrentUser.user.is_gold? %>
            <p><%= link_to "Request a name change", new_user_name_change_request_path %></p>
          <% else %>
            <p>You must <%= link_to "upgrade your account", upgrade_information_users_path %> to request a name change</p>
          <% end %>
        </div>
        <%= f.input :email, :required => Danbooru.config.enable_email_verification?, :hint => "Used for messages and for password resets", :as => :email %>
        <%= f.input :time_zone, :include_blank => false %>
        <%= f.input :receive_email_notifications, :as => :select, :include_blank => false %>
        <%= f.input :comment_threshold, :hint => "Comments below this score will be hidden by default" %>
        <%= f.input :default_image_size, :hint => "Show original image or show resampled #{Danbooru.config.large_image_width} pixel version", :label => "Default image width", :collection => [["850px", "large"], ["original", "original"]], :include_blank => false %>
        
        <% if CurrentUser.user.is_gold? %>
          <%= f.input :per_page, :label => "Posts per page", :as => :select, :collection => (1..100), :include_blank => false %>
        <% end %>
        
        <%= f.input :blacklisted_tags, :hint => "Put any tag combinations you never want to see here. Each combination should go on a separate line.", :input_html => {:size => "40x5"} %>
        <div class="input text optional field_with_hint">
          <label class="text optional" for="user_favorite_tags">Frequent tags</label>
          <textarea id="user_favorite_tags" class="text optional" rows="5" name="user[favorite_tags]" cols="40"><%= raw @user.favorite_tags %></textarea>
          <span class="hint">A list of tags that you use often. They will appear when using the list of Related Tags.</span>
        </div> 
      </fieldset>
      
      <fieldset>
        <legend>Advanced Settings</legend>
        <%= f.input :style_usernames, :as => :select, :label => "Colored usernames", :hint => "Color each user's name depending on their rank", :include_blank => false, :collection => [["Yes", "true"], ["No", "false"]] %>
        <%= f.input :always_resize_images, :as => :select, :include_blank => false, :label => "Fit images to window", :hint => "Use JavaScript to resize images to fit window" %>
        <%= f.input :enable_post_navigation, :as => :select, :include_blank => false, :label => "Enable keyboard shortcuts" %>
        <%= f.input :new_post_navigation_layout, :as => :select, :label => "Pool links", :include_blank => false, :collection => [["Bottom", "true"], ["Top", "false"]], :hint => "When browsing pools, where do you want the navigation links to be placed?" %>
        <%= f.input :enable_sequential_post_navigation, :as => :select, :label => "Enable slideshow mode", :hint => "Show prev/next links when viewing a post", :include_blank => false %>
        <%= f.input :hide_deleted_posts, :as => :select, :label => "Deleted post filter", :hint => "Hide deleted posts at the database level", :include_blank => false, :collection => [["Yes", "true"], ["No", "false"]] %>
      </fieldset>

      <fieldset>
        <legend>Change Password</legend>
        <%= f.input :password, :hint => "Leave blank if you don't want to change your password", :label => "New password", :input_html => {:autocomplete => "off"} %>
        <%= f.input :old_password, :as => :password, :input_html => {:autocomplete => "off"} %>
      </fieldset>

      <fieldset>
        <legend>Delete Account</legend>
        <p><%= link_to "Click here to delete your account", maintenance_user_deletion_path %></p>
      </fieldset>

      <%= f.button :submit, "Submit" %>
    <% end %>
  </div>
</div>

<% content_for(:page_title) do %>
  Settings - <%= Danbooru.config.app_name %>
<% end %>

<%= render "secondary_links" %>
