<% form_for @user do |f| %>
  <fieldset>
    <legend>Basic</legend>
    
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>
    
    <p>
      <%= f.label :receive_email_notifications, "Email notifications" %>
      <%= f.check_box :receive_email_notifications %>
    </p>
    
    <p>
      <%= f.label :comment_threshold %>
      <%= f.text_field :comment_threshold, :size => 2 %>
    </p>
    
    <p>
      <%= f.label :always_resize_images %>
      <%= f.check_box :always_resize_images %>
    </p>
    
    <p>
      <%= f.label :default_image_size %>
      <%= f.select :default_image_size, %w(Medium Large Original) %>
    </p>
    
    <p>
      <%= f.label :favorite_tags %>
      <%= f.text_area :favorite_tags, :rows => 5 %>
    </p>
    
    <p>
      <%= f.label :blacklisted_tags %>
      <%= f.text_area :blacklisted_tags, :rows => 5 %>
    </p>
  </fieldset>
  
  <fieldset>
    <legend>Special</legend
    <p>For security purposes, changing the following settings requires you to re-enter your password. You can leave the new password field blank to keep your current one.</p>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :password, "New password" %>
      <%= f.text_field :password %>
    </p>

    <p>
      <%= f.label :old_password %>
      <%= f.text_field :old_password %>
    </p>
  </fieldset>
  
  <%= submit_tag "Submit" %>
<% end %>

<% content_for(:page_title) do %>
  /<%= @user.name %>/Settings
<% end %>

<% content_for(:page_header) do %>
  / <%= @user.name %> / Settings
<% end %>
