<div id="c-users">
  <div id="a-index">
    <h1>Users</h1>

    <%= table_for @users, width: "100%" do |t| %>
      <% t.column column: "control" do |user| %>
        <% if policy(CurrentUser.user).promote? %>
          <%= link_to "Edit", edit_admin_user_path(user) %>
        <% end %>
      <% end %>
      <% t.column "Name" do |user| %>
        <%= link_to_user user %>
        <% if user.inviter %>
          &larr; <%= link_to_user user.inviter %>
        <% end %>
      <% end %>
      <% t.column "Posts" do |user| %>
        <%= link_to user.post_upload_count, posts_path(:tags => "user:#{user.name}") %>
      <% end %>
      <% t.column "Deleted" do |user| %>
        <%= user.posts.deleted.count %>
      <% end %>
      <% t.column "Notes" do |user| %>
        <%= link_to user.note_update_count, note_versions_path(:search => {:updater_id => user.id}) %>
      <% end %>
      <% t.column "Edits" do |user| %>
        <%= link_to user.post_update_count, post_versions_path(:search => {:updater_id => user.id}) %>
      <% end %>
      <% t.column "Level" do |user| %>
        <%= user.level_string %>
      <% end %>
      <% t.column "Joined" do |user| %>
        <%= compact_time user.created_at %>
      <% end %>
    <% end %>

    <%= numbered_paginator(@users) %>

  </div>
</div>

<%= render "secondary_links" %>
