<% page_title "Sign up" %>
<% meta_description "Create a new account for free on #{Danbooru.config.app_name}." %>

<%= render "sessions/secondary_links" %>

<div id="c-users">
  <div id="a-new">
    <div class="card mt-8 p-4 max-w-360px mx-auto flex flex-col items-center">
      <h1 class="pb-4">Sign Up</h1>

      <%= edit_form_for(@user, validate: true, html: { id: "signup-form", class: "w-full stacked-form stacked-hints" }) do |f| %>
        <%= f.input :name, as: :string, label: "Username", input_html: { autocapitalize: "none", minlength: UserNameValidator::MIN_LENGTH, maxlength: UserNameValidator::MAX_LENGTH }, required: true %>
        <%= f.input :email_address, label: "Email", required: false, as: :email, input_html: { value: "", pattern: Danbooru::EmailAddress::EMAIL_REGEX, title: "your.name@example.com" }, hint: "Optional" %>
        <%= f.input :password, input_html: { minlength: 5, autocomplete: "new-password" }, required: true %>
        <%= f.input :password_confirmation, label: "Confirm password", input_html: { minlength: 5, autocomplete: "new-password" }, required: true %>

        <% if Danbooru.config.enable_recaptcha? %>
          <%= invisible_recaptcha_tags callback: 'submitInvisibleRecaptchaForm', text: 'Sign up' %>
        <% else %>
          <%= f.submit "Sign up", class: "button-primary", data: { disable_with: "Signing up..." } %>
        <% end %>
      <% end %>

      <p class="fineprint">
        Already have an account? <%= link_to "Login here", login_path %>.
      </p>
    </div>
  </div>
</div>
