<div id="c-users">
  <div id="a-new">
    <h1>Sign Up</h1>

    <p>A basic account is <strong>free</strong> and lets you keep favorites, upload artwork, and write comments. If you want <%= link_to "more features", new_user_upgrade_path %> you can upgrade your account later.</p>

    <h1 style="margin-bottom: 1em;">This site is open to web crawlers so whatever name you choose will be public!</h1>

    <p>This includes favorites, uploads, and comments. Almost everything is public. So don't choose a name you don't want to be associated with.</p>

    <div id="p3">
      <%= simple_form_for(@user, html: {id: "signup-form"}) do |f| %>
        <%= f.input :name, :as => :string %>
        <%= f.input :email, :required => false, :as => :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>

        <% if Danbooru.config.enable_recaptcha? %>
          <%= invisible_recaptcha_tags callback: 'submitInvisibleRecaptchaForm', text: 'Sign up' %>
        <% else %>
          <%= f.submit "Sign up", :data => { :disable_with => "Signing up..." } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Sign up - <%= Danbooru.config.app_name %>
<% end %>
