<div id="c-users">
  <div id="a-search">
    <%= form_tag(users_path, :method => :get, :class => "simple_form") do %>
      <%= search_field "name_matches", :label => "Name" %>

      <div class="input">
        <label for="search_level">Level</label>
        <%= select("search", "level", [""] + User.level_hash.to_a) %>
      </div>

      <div class="input">
        <label for="search_min_level">Min Level</label>
        <%= select("search", "min_level", [""] + User.level_hash.to_a) %>
      </div>

      <div class="input">
        <label for="search_max_level">Max Level</label>
        <%= select("search", "max_level", [""] + User.level_hash.to_a) %>
      </div>

      <div class="input">
        <label for="search_can_approve_posts">Can approve posts</label>
        <%= select("search", "can_approve_posts", [[""], ["Yes", "true"], ["No", "false"]]) %>
      </div>

      <div class="input">
        <label for="search_can_upload_free">Unrestricted uploads</label>
        <%= select("search", "can_upload_free", [[""], ["Yes", "true"], ["No", "false"]]) %>
      </div>

      <div class="input">
        <label for="search_is_super_voter">Supervoter</label>
        <%= select("search", "is_super_voter", [[""], ["Yes", "true"], ["No", "false"]]) %>
      </div>

      <div class="input">
        <label for="search_is_banned">Banned</label>
        <%= select("search", "is_banned", [[""], ["Yes", "true"], ["No", "false"]]) %>
      </div>

      <div class="input">
        <label for="search_order">Order</label>
        <%= select("search", "order", [["Join date", "date"], ["Name", "name"], ["Upload count", "post_upload_count"], ["Note count", "note_count"], ["Post update count", "post_update_count"]]) %>
      </div>

      <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search Users - <%= Danbooru.config.app_name %>
<% end %>
