<div id="c-users">
  <div id="a-search">
    <%= form_tag(users_path, :method => :get, :class => "simple_form") do %>
      <%= search_field "name_matches", :label => "Name" %>
      
      <div class="input">
        <label for="search_level">Level</label>
        <%= select("search", "level", [""] + User.level_hash.to_a) %>
      </div>
      
      <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search Users - <%= Danbooru.config.app_name %>
<% end %>
