<% page_title "@#{@user.pretty_name}" %>
<%= render "secondary_links" %>

<div id="c-users">
  <div id="a-show">
    <h1><%= link_to_user @user %></h1>

  <% if @user.moderation_reports.visible(CurrentUser.user).recent.present? %>
    <div class="moderation-users-notice">
      <span class="info" id="moderation-users-notice-for-<%= @user.id %>">
        This user has been reported for moderation! (<%= pluralize(@user.moderation_reports.visible(CurrentUser.user).recent.length, "report") %>)
      </span>
    </div>
  <% end %>

    <%= render "statistics", presenter: @user.presenter, user: @user %>

    <%= render "posts/partials/common/inline_blacklist" %>
    <%= render "post_summary", presenter: @user.presenter, user: @user %>
  </div>
</div>

<% atom_feed_tag "Comments on #{@user.pretty_name}'s uploads", comments_url(:atom, search: { post_tags_match: "user:#{@user.name}" }) %>
<% atom_feed_tag "Comments on posts commented on by #{@user.pretty_name}", comments_url(:atom, search: { post_tags_match: "commenter:#{@user.name}" }) %>
