<div id="c-users">
  <div id="a-show">
    <h1><%= @presenter.name %></h1>

    <%= render "statistics", :presenter => @presenter, :user => @user %>
    <%= render "post_summary", :presenter => @presenter, :user => @user %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  User - <%= @presenter.name %> - <%= Danbooru.config.app_name %>
<% end %>
