<div id="c-users">
  <div id="a-show">
    <h1><%= link_to_user @user %></h1>

  <% if !@user.is_moderator? && CurrentUser.is_moderator? && @user.moderation_reports.present? %>
    <div class="moderation-users-notice">
      <span class="info" id="moderation-users-notice-for-<%= @user.id %>">
        This user has been reported for moderation! (<%= @user.moderation_reports.length %> <%= (@user.moderation_reports.length == 1 ? "report" : "reports") %>)
      </span>
    </div>
  <% end %>

    <%= render "statistics", presenter: @user.presenter, user: @user %>

    <%= render "posts/partials/common/inline_blacklist" %>
    <%= render "post_summary", presenter: @user.presenter, user: @user %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  User - <%= @user.presenter.name %> - <%= Danbooru.config.app_name %>
<% end %>

<% content_for(:html_header, auto_discovery_link_tag(:atom, comments_url(:atom, search: { post_tags_match: "user:#{@user.name}" }), title: "Comments on #{@user.name}'s uploads")) %>
<% content_for(:html_header, auto_discovery_link_tag(:atom, comments_url(:atom, search: { post_tags_match: "commenter:#{@user.name}" }), title: "Comments on posts commented on by #{@user.name}")) %>
