<div id="c-users">
  <div id="a-upgrade-information">
    <h1>Upgrade Your Account</h1>
    
    <p class="copy">Annoyed by ads? Want more searching power? Upgrade your account and become a power user of the best database of anime artwork on the internet.</p>
    
    <div id="feature-comparison">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Basic</th>
            <th>Gold</th>
            <th>Platinum</th>
          </tr>
        </thead>
        <tbody>
          <colgroup id="labels"></colgroup>
          <colgroup id="basic"></colgroup>
          <colgroup id="gold"></colgroup>
          <colgroup id="platinum"></colgroup>
          <tr>
            <td>Cost</td>
            <td>Free</td>
            <td>$20<p class="cost-footnote">One time fee</p></td>
            <td>$40<p class="cost-footnote">One time fee</p></td>
          </tr>
          <tr>
            <td>Ads</td>
            <td>Yes</td>
            <td>None</td>
            <td>None</td>
          </tr>
          <tr>
            <td>Tag Limit</td>
            <td>2</td>
            <td>6</td>
            <td>12</td>
          </tr>
          <tr>
            <td>Favorite Limit</td>
            <td>4,000</td>
            <td>20,000</td>
            <td>Unlimited</td>
          </tr>
          <tr>
            <td>Tag Subscriptions</td>
            <td>No</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>See Deleted Posts</td>
            <td>No</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>See Censored Tags</td>
            <td>No</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>Just provide your email address and details for upgrading your account will be sent to you. If you have any further questions or concerns, feel free to contact me at <%= mail_to Danbooru.config.contact_email, nil, :encode => :javascript %>.</p>

    <%= form_tag(upgrade_user_path(CurrentUser.user)) do %>
      <%= email_field_tag :email, CurrentUser.email %>
      <%= submit_tag "Upgrade" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Upgrade - <%= Danbooru.config.app_name %>
<% end %>
