<div id="c-ip-bans">
  <div id="a-index">
    <h1>IP Bans</h1>

    <table class="striped" width="100%">
      <thead>
        <tr>
          <th>IP Address</th>
          <th>Banner</th>
          <th>Reason</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @ip_bans.each do |ip_ban| %>
          <tr>
            <td><%= link_to_ip ip_ban.subnetted_ip %></td>
            <td><%= link_to_user ip_ban.creator %></td>
            <td><%= ip_ban.reason %></td>
            <td><%= link_to "Unban", ip_ban_path(ip_ban), :remote => true, :method => :delete, :data => {:confirm => "Do your really want to unban #{ip_ban.ip_addr}?"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@ip_bans) %>
  </div>
</div>

<%= render "secondary_links" %>
