<div id="c-ip-bans">
  <div id="a-index">
    <h1>IP Bans</h1>

    <%= table_for @ip_bans, width: "100%" do |t| %>
      <% t.column "IP Address" do |ip_ban| %>
        <%= link_to_ip ip_ban.subnetted_ip %>
      <% end %>
      <% t.column "Banner" do |ip_ban| %>
        <%= link_to_user ip_ban.creator %>
      <% end %>
      <% t.column :reason %>
      <% t.column "" do |ip_ban| %>
        <%= link_to "Unban", ip_ban_path(ip_ban), :remote => true, :method => :delete, :data => {:confirm => "Do your really want to unban #{ip_ban.ip_addr}?"} %>
      <% end %>
    <% end %>

    <%= numbered_paginator(@ip_bans) %>
  </div>
</div>

<%= render "secondary_links" %>
