<div id="c-ip-bans">
  <div id="a-new">
    <h1>New IP Ban</h1>

    <%= error_messages_for "ip_ban" %>

    <%= simple_form_for(@ip_ban) do |f| %>
      <%= f.input :ip_addr, :label => "IP Address", :as => :string %>
      <%= f.input :reason, :input_html => {:size => "50x5"} %>
      <%= f.button :submit, "Submit" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  New IP Ban - <%= Danbooru.config.app_name %>
<% end %>
