<div id="c-ip-bans">
  <div id="a-new">
    <h1>New IP Ban</h1>

    <%= error_messages_for "ip_ban" %>

    <%= simple_form_for(@ip_ban) do |f| %>
      <%= f.input :ip_addr, label: "IP Address", as: :string, hint: "Add /24 to ban a subnet. Example: 1.2.3.4/24" %>
      <%= f.input :reason %>
      <%= f.button :submit, "Submit" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>
