<h2>Comment Activity</h2>

<table class="striped w-full">
  <thead>
    <tr>
      <th>ID</th>
      <th>Body</th>
      <th>User</th>
      <th>Votes</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% @dashboard.comments.each do |comment, count| %>
      <tr>
        <td><%= link_to comment.dtext_shortlink, comment %></td>
        <td>
          <div class="prose">
            <%= comment.dtext_body.format_text %>

            <% if comment.is_deleted? %>
              <span class="inactive">(deleted)</span>
            <% end %>
          </div>
        </td>
        <td><%= link_to_user(comment.creator) %></td>
        <td><%= count %></td>
        <td><%= comment.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
