<h2>Comment Activity</h2>

<table class="striped w-full">
  <thead>
    <tr>
      <th>ID</th>
      <th>Body</th>
      <th>User</th>
      <th>Votes</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% @dashboard.comments.each do |activity| %>
      <tr>
        <td><%= link_to activity.comment.dtext_shortlink, activity.comment %></td>
        <td>
          <div class="prose">
            <%= format_text(activity.comment.body) %>
            <% if activity.comment.is_deleted? %>
              <span class="inactive">(deleted)</span>
            <% end %>
          </div>
        </td>
        <td><%= link_to_user(activity.comment.creator) %></td>
        <td><%= activity.count %></td>
        <td><%= activity.comment.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
