<div id="c-moderator-tags">
  <div id="a-edit">
    <h1>Mass Edit</h1>

    <%= simple_form_for(:tag, url: moderator_tag_path, method: :put) do |f| %>
      <%= f.input :antecedent, input_html: { value: params[:antecedent], "data-autocomplete": "tag-query" } %>
      <%= f.input :consequent, input_html: { value: params[:consequent], "data-autocomplete": "tag-edit" } %>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>

<% content_for(:page_title) do %>
  Mass Edit - <%= Danbooru.config.app_name %>
<% end %>
