<div id="c-moderator-tags">
  <div id="a-edit">
    <h1>Mass Edit</h1>

    <%= form_tag(moderator_tag_path, :method => :put, :class => "simple_form") do %>
      <div class="input">
        <label>Antecedent</label>
        <%= text_field :tag, :antecedent, :value => params[:antecedent], :data => { :autocomplete => "tag-query" } %>
      </div>

      <div class="input">
        <label>Consequent</label>
        <%= text_field :tag, :consequent, :value => params[:consequent], :data => { :autocomplete => "tag-edit" } %>
      </div>

      <div class="input">
        <%= submit_tag "Submit", :data => { :disable_with => "Submitting..." } %>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:page_title) do %>
  Mass Edit - <%= Danbooru.config.app_name %>
<% end %>
