<% page_title "DMCA Complaint" %>

<% @danbooru = Danbooru.config.canonical_app_name %>

<div id="c-static">
  <div id="a-dmca" class="prose fixed-width-container mx-auto">
    <h1>DMCA Complaint</h1>

    <p>Fill out the form below to submit a DMCA takedown request.</p>

    <p>Please allow up to 48 hours for your complaint to be processed. You may not receive a response unless further information is needed from you.</p>

    <p>This information is required by the DMCA process. If any required information is falsified or omitted, your notice may be not be processed. Please submit your information in English.</p>

    <hr class="border">

    <%= form_tag(dmca_path) do %>
      <p>
        <label>Your name (required)</label><br>
        <input name="dmca[name]" class="w-1/2" required></input>
      </p>

      <p>
        <label>Your email address (required)</label><br>
        <input name="dmca[email]" class="w-1/2" type="email" required></input>
      </p>

      <p>
        <label>Your contact information (mailing address and phone number)</label><br>
        <textarea name="dmca[address]" class="w-1/2"></textarea>
      </p>

      <p>
        <label>A list of links to each <%= @danbooru %> post you would like to have removed (one per line).</label><br>
        <textarea name="dmca[infringing_urls]" class="w-full h-150px" required></textarea>
      </p>

      <p>
        <label>A list of links to the original location of each of these works on your Twitter, Pixiv, or other accounts or personal websites (one per line).</label><br>
        <textarea name="dmca[original_urls]" class="w-full h-150px" required></textarea>
      </p>

      <p>
        <label>Proof that you are the artist or copyright holder. Proof can include either an email address or message listed on one of your social media profiles (provide a link or describe it below), or a screenshot or .psd file of one of your original works (provide a link below)</label><br>
        <textarea name="dmca[proof]" class="w-full h-16"></textarea>
      </p>

      <p>
        <input type="checkbox" name="perjury_agree" required>
        <label for="dmca[perjury_agree]">
          Under penalty of perjury, I attest that the information in this notification is accurate and that I am, or am authorized to act on behalf of, the owner of the rights being infringed by the material listed above.
        </label>
      </p>

      <p>
        <input type="checkbox" name="good_faith_agree" required>
        <label for="dmca[good_faith_agree]">
          I have a good faith belief that the use of the work(s) described above in the material(s) listed here is not authorized by the copyright owner, an agent of the copyright owner, or the law.
        </label>
      </p>

      <p>
        <label>Your signature (type your full legal name)</label><br>
        <input name="dmca[signature]" class="w-1/2" required></input>
      </p>

      <p>
        <input type="submit" value="Submit">
      </p>
    <% end %>

    <hr class="border">

    <p>If you'd prefer not to use our automated form, you can <%= link_to "email us here", "mailto:#{Danbooru.config.dmca_email}" %>. Your email must include the following:</p>

    <ul>
      <li>Your contact information, including your name, mailing address, phone number, and email address.</li>
      <li>Identification of the material you wish to have taken down, along with enough information to locate the material. For example, a list of links to each post on <%= Danbooru.config.canonical_app_name %> you wish to have removed. Screenshots or simply listing your name or social media accounts are not sufficient to locate the works you wish to have removed.</li>
      <li>Identification of the work you believe is being infringed. For example, for each <%= Danbooru.config.canonical_app_name %> post you claim infringes on your copyright, a link to where the work was originally posted on your Pixiv, Twitter, or other social media accounts or personal websites.</li>
      <li>A statement that you have a good faith belief that the use of the work you believe is being infringed was not authorized by the copyright owner, an agent of the owner, or the law.</li>
      <li>A statement that everything contained in the takedown notice is accurate and that, under penalty of perjury, you are the copyright owner or have permission to act on the copyright owner’s behalf.</li>
      <li>Your signature. Typing your full name will suffice. This must be your full legal name, not a pseudonym or artist handle.</li>
    </ul>

    <p><%= link_to "Here is a template you can follow", template_dmca_path %>. <%= external_link_to "https://www.copyright.gov/512/sample-notice.pdf", "Here's another template from the US Copyright Office" %>.
    The above information is legally required by the DMCA process. Your notice may not be processed if any required information is omitted or falsified.</p>
  </div>
</div>
