<% page_title "DMCA Complaint" %>

<% @danbooru = Danbooru.config.canonical_app_name %>

<div id="c-static">
  <div id="a-dmca" class="prose fixed-width-container mx-auto">
    <h1>DMCA Complaint</h1>

    <p>Fill out the form below to submit a DMCA complaint.</p>

    <p>Please allow up to 48 hours for your complaint to be processed. You may not receive a response unless further information is needed from you.</p>

    <p>The information below is legally required by the DMCA process. If any required information is falsified or omitted, your notice may be not be processed. Please submit your information in English. If you're not sure about anything, seek legal advice.</p>

    <hr class="border">

    <%= form_tag(dmca_path) do %>
      <p>
        <label>Your name</label><br>
        <input name="dmca[name]" class="w-1/2" required></input>
      </p>

      <p>
        <label>Your email address</label><br>
        <input name="dmca[email]" class="w-1/2" type="email" required></input>
      </p>

      <p>
        <label>Your contact information (mailing address or phone number)</label><br>
        <input name="dmca[address]" class="w-1/2"></input>
      </p>

      <p>
        <label>A list of links to the <%= @danbooru %> posts you would like to have removed (one per line).</label><br>
        <textarea name="dmca[infringing_urls]" class="w-full h-150px" required></textarea>
      </p>

      <p>
        <label>A list of links to the original location of each of these works on your Twitter, Pixiv, or other accounts or personal websites (one per line).</label><br>
        <textarea name="dmca[original_urls]" class="w-full h-150px" required></textarea>
      </p>

      <p>
        <label>Proof that you are the artist or copyright holder. Proof can include either an email address or message listed on one of your social media profiles (provide a link or describe it below), or a screenshot or .psd file of one of your original works (provide a link below)</label><br>
        <textarea name="dmca[proof]" class="w-full h-16"></textarea>
      </p>

      <p>
        <input type="checkbox" name="perjury_agree" required>
        <label for="dmca[perjury_agree]">I swear, under penalty of perjury, that the information in this notification is accurate and that I am the copyright owner or am authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</label>
      </p>

      <p>
        <input type="checkbox" name="good_faith_agree" required>
        <label for="dmca[good_faith_agree]">I have a good faith belief that the use of the copyrighted materials described above and contained on the service is not authorized by the copyright owner, its agent, or by protection of law.</label>
      </p>

      <p>
        <label>Signature (type your full legal name)</label><br>
        <input name="dmca[signature]" class="w-1/2" required></input>
      </p>

      <p>
        <input type="submit" value="Submit">
      </p>
    <% end %>

    <hr class="border">

    <p>If you'd prefer not to use our automated form, you can <%= link_to "email us here", "mailto:#{Danbooru.config.dmca_email}" %>. Your email must include the following:</p>

    <ul>
      <li>Your contact information, including your name, mailing address, phone number, and email address.</li>
      <li>A description of the material that you claim upon infringes your copyright, in enough detail to permit us to locate that material. For example, a list of links to each post on <%= Danbooru.config.canonical_app_name %> you wish to have removed. Screenshots or simply listing your name or social media accounts are not sufficient to locate the works you wish to have removed.</li>
      <li>An identification of the copyrighted work you claim to have been infringed. For example, for each <%= Danbooru.config.canonical_app_name %> post you claim infringes on your copyright, a link to where the work was originally posted on your Pixiv, Twitter, or other social media accounts or personal websites.</li>
      <li>A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.</li>
      <li>A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
      <li>A physical or electronic signature of the copyright owner or a person authorized to act on their behalf. Typing your full name will suffice. This must be your full legal name, not a pseudonym or artist handle.</li>
    </ul>

    <p><%= link_to "Here is a template you can follow", template_dmca_path %>. All of the above information is legally required by the DMCA process. Your notice may not be processed if any required information is omitted or falsified.</p>
  </div>
</div>
