<div id="c-news-updates">
  <div id="a-index">
    <h1>News Updates</h1>

    <%= table_for @news_updates, width: "100%" do |t| %>
      <% t.column "Creator" do |news_update| %>
        <%= link_to_user news_update.creator %>
      <% end %>
      <% t.column :message %>
      <% t.column column: "control" do |news_update| %>
        <%= link_to "Edit", edit_news_update_path(news_update) %>
        | <%= link_to "Delete", news_update_path(news_update), :method => :delete %>
      <% end %>
    <% end %>

    <%= numbered_paginator(@news_updates) %>
  </div>
</div>

<%= render "secondary_links" %>
