<div id="c-news-updates">
  <div id="a-index">
    <h1>News Updates</h1>

    <%= table_for @news_updates, width: "100%", class: "striped autofit" do |t| %>
      <% t.column "Creator" do |news_update| %>
        <%= link_to_user news_update.creator %>
      <% end %>
      <% t.column :message, td: { class: "col-expand" }  %>
      <% t.column :duration do |news_update| %>
        <%= news_update.duration.in_days.round.days.inspect %>
      <% end %>
      <% t.column :created do |news_update| %>
        <%= time_ago_in_words_tagged(news_update.created_at) %>
      <% end %>
      <% t.column :expired do |news_update| %>
        <%= time_ago_in_words_tagged(news_update.expired_at) %>
      <% end %>
      <% t.column :status %>
      <% t.column column: "control" do |news_update| %>
        <%= link_to "Edit", edit_news_update_path(news_update) %>
          <% if news_update.is_deleted? %>
        | <%= link_to "Undelete", news_update_path(news_update), method: :put, remote: true, "data-params": "news_update[is_deleted]=false", "data-confirm": "Are you sure you want to undelete this news update?" %>
          <% else %>
        | <%= link_to "Delete", news_update_path(news_update), method: :delete, "data-confirm": "Are you sure you want to delete this news update?" %>
          <% end %>
      <% end %>
    <% end %>

    <%= numbered_paginator(@news_updates) %>
  </div>
</div>

<%= render "secondary_links" %>
