<div id="c-bans">
  <div id="a-edit">
    <h1>Edit Ban</h1>

    <%= simple_form_for(@ban) do |f| %>
      <%= error_messages_for("ban") %>

      <%= f.input :duration, :hint => "in days" %>
      <%= f.input :reason %>
      <%= f.button :submit, :value => "Ban" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Ban - <%= Danbooru.config.app_name %>
<% end %>
