<div class="bans">
  <div class="show">
    <h1>Show Ban</h1>
    <ul style="margin-bottom: 1em;">
      <li><strong>User</strong>: <%= link_to_user(@ban.user) %></li>
      <li><strong>Expires</strong>: <%= compact_time @ban.expires_at %></li>
      <li><strong>Reason</strong>: <%= format_text @ban.reason %></li>
    </ul>

    <%= form_tag(ban_path(@ban), :method => :delete) do %>
      <%= submit_tag "Unban" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Ban - <%= @ban.user.name %> - <%= Danbooru.config.app_name %>
<% end %>
