<div id="c-post-versions">
  <div id="a-index">
    <h1>Changes</h1>

    <p>Recent updates may not have been processed yet. The most recently processed version was <%= time_ago_in_words_tagged(PostArchive.maximum(:updated_at)) %>.</p>

    <% if @post_versions.length == 0 %>
      <%= render "post_sets/blank" %>
    <% else %>
      <% if params.dig(:search, :post_id).present? %>
        <%= render "revert_listing" %>
      <% else %>
        <%= render "standard_listing" %>
      <% end %>

      <% if params[:lr] && CurrentUser.is_moderator? %>
        <p><%= link_to "Revert this user's changes", new_user_revert_path(:user_id => params[:lr]) %></p>
      <% end %>

      <%= numbered_paginator(@post_versions) %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>
