<div id="c-post-versions">
  <div id="a-index">
    <% if post_version_listing == :revert %>
      <h1>Tag History: <%= link_to "Post ##{params.dig(:search, :post_id)}", @post_versions[0].post %></h1>
      <%= PostPresenter.preview(@post_versions[0].post, show_deleted: true) %>
    <% else %>
      <h1>Tag History</h1>
    <% end %>

    <%= render "posts/partials/common/inline_blacklist" %>
    <p class="fineprint">Recent updates may not have been processed yet. The most recently processed version was <%= time_ago_in_words_tagged(PostArchive.maximum(:updated_at)) %>.</p>

    <% if @post_versions.length == 0 %>
      <%= render "post_sets/blank" %>
    <% else %>
      <%= render "listing" %>
      <%= numbered_paginator(@post_versions) %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>
