<div id="c-post-versions">
  <div id="a-index">
    <h1>Changes</h1>

    <% if @post_versions.length == 0 %>
      <%= render "post_sets/blank" %>
    <% else %>
      <%= render "listing", :post_versions => @post_versions %>

      <% if params[:lr] && CurrentUser.is_moderator? %>
        <p><%= link_to "Revert this user's changes", new_user_revert_path(:user_id => params[:lr]) %></p>
      <% end %>

      <%= numbered_paginator(@post_versions) %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Post Changes - <%= Danbooru.config.app_name %>
<% end %>
