<div id="c-post-versions">
  <div id="a-search">
    <h1>Search Changes</h1>

    <%= search_form_for(post_versions_path) do |f| %>
      <%= f.input :updater_name, label: "Updater", input_html: { "data-autocomplete": "user" } %>
      <%= f.input :post_id %>
      <%= f.submit "Search" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>
