<div id="c-post-versions">
  <div id="a-search">
    <h1>Search Changes</h1>
    
    <div id="search">
      <%= simple_form_for(@search) do |f| %>
        <%= f.input :updater_name_matches, :label => "User", :required => false %>
        <%= f.input :post_id_eq, :label => "Post", :required => false %>
        <%= f.button :submit, :value => "Search" %>
      <% end %>
    </div>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search Post Changes - <%= Danbooru.config.app_name %>
<% end %>
