<div id="c-post-versions">
  <div id="a-search">
    <h1>Search Changes</h1>

    <div id="search">
      <%= form_tag(post_versions_path, :method => :get, :class => "simple_form") do %>
        <%= search_field "updater_name", :label => "User", :data => { autocomplete: "user" } %>
        <%= search_field "post_id", :label => "Post" %>
        <%= submit_tag "Search" %>
      <% end %>
    </div>
  </div>
</div>

<%= render "secondary_links" %>
