<h1>Delayed Jobs</h1>

<table class="striped" width="100%">
  <thead>
    <tr>
      <% if CurrentUser.is_admin? %>
        <th>Handler</th>
      <% end %>
      <th>Attempts</th>
      <th>Priority</th>
      <th>Last error</th>
      <th>Run at</th>
      <th>Failed at</th>
    </tr>
  </thead>
  <tbody>
    <% @delayed_jobs.each do |job| %>
      <tr>
        <% if CurrentUser.is_admin? %>
          <td><%= job.handler %></td>
        <% end %>
        <td><%= job.attempts %></td>
        <td><%= job.priority %></td>
        <td><%= job.last_error %></td>
        <td><%= job.run_at %></td>
        <td><%= job.failed_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= numbered_paginator(@delayed_jobs) %>
