<div id="c-delayed-jobs">
  <div id="a-index">
    <h1>Delayed Jobs</h1>

    <table class="striped" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <% if CurrentUser.is_admin? %>
            <th>Handler</th>
          <% end %>
          <th>Attempts</th>
          <th>Priority</th>
          <th>Last error</th>
          <th>Run at</th>
          <th>Failed at</th>
          <th>Queue</th>
        </tr>
      </thead>
      <tbody>
        <% @delayed_jobs.each do |job| %>
          <tr>
            <td><%= job.id %></td>
            <td><%= raw print_name(job) %></td>
            <% if CurrentUser.is_admin? %>
              <td><%= raw print_handler(job) %></td>
            <% end %>
            <td><%= job.attempts %></td>
            <td><%= job.priority %></td>
            <td><%= job.last_error %></td>
            <td><%= job.run_at %></td>
            <td><%= job.failed_at %></td>
            <td><%= job.queue %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@delayed_jobs) %>

    <% content_for(:page_title) do %>
      Delayed Jobs - <%= Danbooru.config.app_name %>
    <% end %>
  </div>
</div>
