<div class="flex flex-col items-center mt-2 gap-2">
  <div class="flex flex-wrap gap-2 justify-center w-full text-xs">
    <div>
      <%= render "posts/partials/show/preview_source_footer", post: post %>
    </div>

    <% if @preview_size.to_i > 180 %>
      <%= render_post_votes post, current_user: CurrentUser.user %>
    <% end %>
  </div>

  <%= render "modqueue/approval_buttons", post: post %>

  <div class="text-center text-xs">
    <% %w[poor_quality breaks_rules].each do |reason| %>
      <% if post.disapprovals.map(&:reason).grep(reason).count > 0 %>
        <span class="inline-block rounded px-2 mb-1 text-inverse bg:error-color">
          <%= reason.titleize %>: <%= post.disapprovals.map(&:reason).grep(reason).count %>
        </span>
      <% end %>
    <% end %>

    <% (post.tag_array & Danbooru.config.modqueue_warning_tags).each do |tag| %>
      <span class="inline-block rounded px-2 mb-1 text-inverse bg:error-color">
        <%= tag.tr("_", " ").startcase %>
      </span>
    <% end %>

    <% if post.source.blank? %>
      <span class="inline-block rounded px-2 mb-1 text-inverse bg:error-color">No Source</span>
    <% end %>
  </div>
</div>
