<%= content_tag(:div, { id: "post-#{post.id}", class: ["post", "mod-queue-preview", "column-container", *PostPresenter.preview_class(post)].join(" ") }.merge(PostPresenter.data_attributes(post))) do %>
  <aside class="column column-shrink">
    <%= PostPresenter.preview(post, size: true, show_deleted: true) %>
  </aside>

  <section class="column column-expand">
    <div class="row quick-mod-row">
      <%= render "modqueue/quick_mod", post: post %>
      <%= render "post_disapprovals/compact_counts", disapprovals: post.disapprovals, post: post %>
    </div>

    <div class="row">
      <span class="info">
        <strong>Date</strong>
        <%= compact_time(post.created_at) %>
      </span>

      <span class="info">
        <strong>User</strong>
        <%= link_to_user(post.uploader) %>
        <%= link_to "»", modqueue_index_path(search: { tags: "user:#{post.uploader.name}" }) %>
      </span>

      <span class="info">
        <strong>Rating</strong>
        <%= post.pretty_rating %>
      </span>

      <span class="info">
        <strong>Score</strong>
        <span>
          <span id="score-for-post-<%= post.id %>"><%= post.score %></span>
          <% if policy(PostVote).create? %>
            (vote <%= link_to tag.i(class: "far fa-thumbs-up"), post_post_votes_path(score: "up", post_id: post.id), remote: true, method: :post %>/<%= link_to tag.i(class: "far fa-thumbs-down"), post_post_votes_path(score: "down", post_id: post.id), remote: true, method: :post %>)
          <% end %>
        </span>
      </span>
    </div>

    <div class="row">
      <span class="info">
        <strong>Source</strong>
        <%= post_source_tag(post.source, post.normalized_source) %>
      </span>
    </div>

    <% if post.has_active_pools? %>
      <div class="row">
        <span class="info">
          <strong>Pools</strong>
          <%= render "pools/inline_list", pools: post.pools.undeleted %>
        </span>
      </div>
    <% end %>

    <div class="row list-of-tags">
      <span class="info">
        <strong>Tags</strong>
        <%= post.presenter.inline_tag_list_html %>
      </span>
    </div>

    <div class="row post-flags-row">
      <% if post.is_flagged? %>
        <span class="info">
          <strong>Flagged</strong>
          <%= render "post_flags/reasons", flag: post.flags.select(&:pending?).last %>
        </span>
      <% end %>

      <% if post.is_appealed? %>
        <span class="info">
          <strong>Appeals</strong>
          <%= render "post_appeals/reasons", appeal: post.appeals.select(&:pending?).last %>
        </span>
      <% end %>
    </div>
  </section>
<% end %>
