<% page_title "Moderation Queue" %>

<% content_for(:top_content) do %>
  <h1>Moderation Queue</h1>

  <div id="moderation-guideline" class="fixed-width-container">
    <h2>Deletion Guidelines</h2>

    <%= render "desc" %>

    <p>
      <% if params.dig(:search, :hidden) %>
        <%= link_to "View pending posts", modqueue_index_path(search: { tags: params.dig(:search, :tags), hidden: nil }) %>.
      <% else %>
        <%= link_to "View hidden posts", modqueue_index_path(search: { tags: params.dig(:search, :tags), hidden: true, }) %>.
      <% end %>
    </p>
  </div>
<% end %>

<% content_for(:content) do %>
  <h2>Posts</h2>

  <% @posts.each do |post| %>
    <%= render "post", post: post %>
  <% end %>

  <%= numbered_paginator(@posts) %>
<% end %>

<%= render "modqueue/sidebar" %>
<%= render "post_disapprovals/detailed_rejection_dialog" %>
<%= render "modqueue/secondary_links" %>
