<div id="c-janitor-trials">
  <div id="a-index">
    <h1>Janitor Trials</h1>

    <table class="striped" width="100%">
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @janitor_trials.each do |janitor_trial| %>
          <tr>
            <td><%= link_to_user janitor_trial.user %></td>
            <td><%= compact_time janitor_trial.created_at %></td>
            <td>
              <%= link_to "Promote", promote_janitor_trial_path(janitor_trial), :remote => true, :method => :put %>
              | <%= link_to "Demote", demote_janitor_trial_path(janitor_trial), :remote => true, :method => :put %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render "secondary_links" %>
