<div id="c-janitor-trials">
  <div id="a-index">
    <h1>Janitor Trials</h1>

    <table class="striped" width="100%">
      <thead>
        <tr>
          <th>User</th>
          <th>Duration</th>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @janitor_trials.each do |janitor_trial| %>
          <tr>
            <td><%= link_to janitor_trial.user.name, user_path(janitor_trial.user) %></td>
            <td><%= time_ago_in_words_tagged janitor_trial.created_at %></td>
            <td>
              <%= link_to "Promote", promote_janitor_trial_path(janitor_trial), :remote => true, :method => :put %>
              | <%= link_to "Demote", demote_janitor_trial_path(janitor_trial), :remote => true, :method => :put %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Janitor Trials - <%= Danbooru.config.app_name %>
<% end %>
