<div id="c-janitor-trials">
  <div id="a-new">
    <h1>New Janitor Trial</h1>

    <%= error_messages_for :janitor_trial %>

    <%= simple_form_for(@janitor_trial) do |f| %>
      <%= f.input :user_name, input_html: { data: { autocomplete: "user" } } %>
      <%= f.button :submit, "Submit" %>
      <%= f.button :submit, "Test" %>
    <% end %>

    <p id="test-results"></p>
  </div>
</div>

<%= render "secondary_links" %>
