<div id="form-content">
  <%= error_messages_for("wiki_page") %>

  <%= simple_form_for(@wiki_page) do |f| %>
    <%= f.input :title %>
    
    <%= render "dtext/form", :name => "Body", :input_id => "wiki_page_body", :input_name => "wiki_page[body]", :value => @wiki_page.body, :preview_id => "dtext-preview" %>

    <% if CurrentUser.is_janitor? %>
      <%= f.input :is_locked %>
    <% end %>

    <%= f.button :submit, "Submit" %>
    <%= f.button :submit, "Preview", "data-input-id" => "wiki_page_body", "data-preview-id" => "dtext-preview" %>
  <% end %>
</div>

