<% if @wiki_page.new_record? || CurrentUser.is_moderator? %>
  <%= f.input :title %>
<% end %>
<%= f.input :body %>
<% if CurrentUser.is_janitor? %>
  <%= f.input :is_locked %>
<% end %>
<div id="multiple-buttons">
  <%= f.button :submit, "Save" %><%= f.button :submit, "Cancel" %><%= f.button :submit, "Preview" %>  
</div>
