<div id="form-content">
  <%= error_messages_for("wiki_page") %>

  <%= simple_form_for(@wiki_page) do |f| %>
    <% if !@wiki_page.new_record? && CurrentUser.user.is_builder? %>
      <%= f.input :title, :as => :string %>
    <% end %>

    <%= dtext_field "wiki_page", "body" %>

    <% if CurrentUser.user.is_janitor? %>
      <%= f.input :is_locked %>
    <% end %>

    <%= f.button :submit, "Submit" %>
    <%= dtext_preview_button "wiki_page", "body" %>
  <% end %>
</div>

