<div id="form-content">
  <%= error_messages_for("wiki_page") %>

  <%= edit_form_for(@wiki_page, url: wiki_page_path(@wiki_page.id)) do |f| %>
    <%= f.input :title, error: false, input_html: { data: { autocomplete: "tag" } }, hint: "Change to rename this wiki page. Update any wikis linking to this page first." %>
    <%= f.input :other_names_string, as: :text, input_html: { size: "30x1" }, label: "Other names (#{link_to_wiki "help", "help:translated_tags"})".html_safe, hint: "Names used for this tag on other sites such as Pixiv. Separate with spaces." %>

    <%= f.input :body, as: :dtext %>

    <% if policy(@wiki_page).can_edit_locked? %>
      <%= f.input :is_locked, label: "Locked", hint: "Locked wikis can only be edited by Builders." %>
    <% end %>

    <%= f.input :is_deleted, label: "Deleted", hint: "Check to mark this wiki page as deleted." %>

    <%= f.submit "Submit" %>
    <%= dtext_preview_button "wiki_page_body" %>
  <% end %>
</div>
