<% content_for(:sidebar) do %>
  <%= render "posts/partials/index/blacklist" %>
  <%= render "wiki_pages/recent_changes" %>

  <% if @wiki_page.present? && @wiki_page.title.present? %>
    <h2>Options</h2>

    <ul>
      <% unless @wiki_page.is_meta_wiki? %>
        <% if @wiki_page.tag.present? %>
          <li><%= link_to "Tag History", tag_versions_path(search: { tag_id: @wiki_page.tag&.id }) %></li>
          <li><%= link_to "Mistagged posts", posts_path(tags: "#{tag.name} ai:#{tag.name},0%") %></li>
          <li><%= link_to "Untagged posts", ai_tags_path(search: { tag_name: tag.name, post_tags_match: "-#{tag.name}", is_posted: true, order: "score_desc" }) %></li>
        <% end %>

        <li><%= link_to "Post History", post_versions_path(search: { changed_tags: @wiki_page.title }) %></li>
      <% end %>

      <% if @wiki_page.id.present? %>
        <li><%= link_to "Wiki History", wiki_page_versions_path(search: { wiki_page_id: @wiki_page.id }) %></li>
      <% end %>

      <% if Danbooru.config.forum_enabled?.to_s.truthy? %>
        <li><%= link_to "Discussions", forum_posts_path(search: { linked_to: @wiki_page.title }) %></li>
      <% end %>

      <li><%= link_to "What Links Here", wiki_pages_path(search: { linked_to: @wiki_page.title }) %></li>
    </ul>
  <% end %>
<% end %>
