<%= render "sidebar" %>

<% content_for(:content) do %>
  <h1>Wiki</h1>

  <table class="striped" width="100%">
    <thead>
      <tr>
        <th>Title</th>
        <th>Last edited</th>
      </tr>
    </thead>
    <tbody>
      <% @wiki_pages.each do |wiki_page| %>
        <tr>
          <td class="category-<%= wiki_page.category_name %>"><%= link_to_wiki wiki_page.title %></td>
          <td><%= time_ago_in_words_tagged(wiki_page.updated_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= numbered_paginator(@wiki_pages) %>
<% end %>

<%= render "secondary_links" %>
