<div id="c-wiki-pages">
  <div id="a-search">
    <%= form_tag(wiki_pages_path, :method => :get, :class => "simple_form") do %>
      <%= search_field "title", :hint => "Use * for wildcard searches" %>
      <%= search_field "creator_name" %>
      <%= search_field "body_matches", :label => "Body" %>
      <%= search_field "other_names_match", :label => "Other names" %>

      <div class="input">
        <label for="search_other_names_present">Other names present?</label>
        <%= select "search", "other_names_present", ["yes", "no"], :include_blank => true %>
      </div>

      <div class="input">
        <label for="search_order">Order</label>
        <%= select "search", "order", [%w[Name title], %w[Date time], %w[Posts post_count]] %>
      </div>

      <div class="input">
        <label for="search_hide_deleted">Hide Deleted</label>
        <%= select "search", "hide_deleted", ["Yes", "No"] %>
      </div>

      <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search Wiki - <%= Danbooru.config.app_name %>
<% end %>
