<% page_title "#{@wiki_page.pretty_title.titleize} Wiki" %>
<% meta_description DText.excerpt(@wiki_page.body) %>

<%= render "secondary_links" %>
<%= render "sidebar" %>

<% content_for(:content) do %>
  <h1 id="wiki-page-title">
    <%= link_to @wiki_page.pretty_title, posts_path(tags: @wiki_page.title), class: tag_class(@wiki_page.tag) %>

    <% if @wiki_page.is_locked? %>
      (locked)
    <% end %>

    <% if @wiki_page.is_deleted? %>
      (deleted)
    <% end %>
  </h1>

  <div id="wiki-page-body" class="prose">
    <% if @wiki_page.other_names.present? %>
      <p><%= wiki_page_other_names_list(@wiki_page) %></p>
    <% end %>

    <% if @wiki_page.new_record? %>
      <p>This wiki page does not exist. <%= link_to "Create new wiki page", new_wiki_page_path(wiki_page: { title: @wiki_page.title }), rel: "nofollow" %>.</p>
    <% else %>
      <%= format_text(@wiki_page.body) %>
    <% end %>

    <% if @wiki_page.artist.present? && !@wiki_page.artist.is_deleted? %>
      <p><%= link_to "View artist", @wiki_page.artist %></p>
    <% end %>

    <%= render "tag_relationships/alias_and_implication_list", tag: @wiki_page.tag %>
  </div>

  <%= render "wiki_pages/posts", wiki_page: @wiki_page %>
<% end %>
