<div id="c-wiki-pages">
  <div id="a-show">
    <%= render "sidebar" %>

    <section id="content">
      <h1 id="wiki-page-title">

        <%= link_to @wiki_page.pretty_title, wiki_page_path(@wiki_page), :class => "tag-type-#{@wiki_page.tag.category}" %>

        <% if @wiki_page.is_locked? %>
          (locked)
        <% end %>
      </h1>

      <div id="wiki-page-body" class="prose">
        <%= format_text(@wiki_page.body) %>

        <%= wiki_page_alias_and_implication_list(@wiki_page) %>
      </div>

      <%= wiki_page_post_previews(@wiki_page) %>
    </section>
  </div>
</div>

<% content_for(:page_title) do %>
  Wiki - <%= @wiki_page.pretty_title %> - <%= Danbooru.config.app_name %>
<% end %>

<% content_for(:html_header) do %>
  <meta name="description" content="<%= @wiki_page.presenter.blurb %>"></meta>
<% end %>

<%= render "secondary_links" %>
