<div id="c-wiki-pages">
  <div id="a-show">
    <%= render "sidebar" %>

    <section id="content">
      <h1 id="wiki-page-title">
        <%= link_to @wiki_page.pretty_title, posts_path(:tags => @wiki_page.title), :class => "tag-type-#{@wiki_page.category_name}" %>
      </h1>
      <div id="wiki-page-body" class="prose">
        <p>This wiki page does not exist. <%= link_to "Create new wiki page", new_wiki_page_path(:wiki_page => {:title => params[:title]}) %>.</p>
      </div>

      <% if @artist %>
        <p><%= link_to "View artist", @artist %></p>
      <% end %>

      <%= wiki_page_alias_and_implication_list(@wiki_page)%>

      <%= wiki_page_post_previews(@wiki_page) %>
    </section>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Wiki - <%= params[:title] %> - <%= Danbooru.config.app_name %>
<% end %>
