<% page_title "Account Upgrade" %>
<% meta_description "Upgrade to a Gold or Platinum account on #{Danbooru.config.app_name}." %>

<%= render "users/secondary_links" %>

<div id="c-user-upgrades">
  <div id="a-new" class="fixed-width-container">
    <h1>Upgrade Account</h1>

    <% unless params[:user_id] %>
      <p class="copy">Want more searching power? Upgrade your account and become a power user of the best database of anime artwork on the internet.</p>

      <div id="feature-comparison">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Basic</th>
              <th>Gold</th>
              <th>Platinum</th>
            </tr>
          </thead>
          <tbody>
            <colgroup id="labels"></colgroup>
            <colgroup id="basic"></colgroup>
            <colgroup id="gold"></colgroup>
            <colgroup id="platinum"></colgroup>
            <tr>
              <td>Cost</td>
              <td>Free</td>
              <td>
                <%= cents_to_usd(UserUpgrade.gold_price) %>
                <div class="fineprint">One time fee</div>
              </td>
              <td>
                <%= cents_to_usd(UserUpgrade.platinum_price) %>
                <div class="fineprint">One time fee</div>
              </td>
            </tr>
            <tr>
              <td>Tag Limit</td>
              <td>2</td>
              <td><%= Danbooru.config.base_tag_query_limit %></td>
              <td><%= Danbooru.config.base_tag_query_limit*2 %></td>
            </tr>
            <tr>
              <td>Favorite Limit</td>
              <td>10,000</td>
              <td>20,000</td>
              <td>Unlimited</td>
            </tr>
            <tr>
              <td>Favorite Groups</td>
              <td>3</td>
              <td>5</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Page Limit</td>
              <td>1,000</td>
              <td>2,000</td>
              <td>5,000</td>
            </tr>
            <tr>
              <td>Saved Searches</td>
              <td>250</td>
              <td>250</td>
              <td>1,000</td>
            </tr>
            <tr>
              <td>See Hidden Tags</td>
              <td>No</td>
              <td>Yes</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>Search Timeout</td>
              <td>3 sec</td>
              <td>6 sec</td>
              <td>9 sec</td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>

    <div class="section">
      <% if params[:user_id] %>
        <p>You are gifting this account upgrade to <%= link_to user.pretty_name, user_path(params[:user_id]) %>.</p>
      <% else %>
        <p>You can also upgrade someone else's account for the same price. The easiest way is to go to their profile page and look for a "Gift Upgrade" link.</p>
      <% end %>
    </div>

    <% if Danbooru.config.stripe_publishable_key %>
      <% if CurrentUser.is_anonymous? %>
        <p><%= link_to "Sign up", new_user_path %> or <%= link_to "login", login_path(url: new_user_upgrade_path) %> first to upgrade your account.</p>
      <% elsif CurrentUser.safe_mode? %>
        <%= render "stripe_payment" %>
      <% else %>
        <%= render "stripe_payment_safebooru" %>
      <% end %>
    <% end %>
  </div>
</div>
