<% page_title "Account Upgraded" %>
<%= render "users/secondary_links" %>

<div id="c-user-upgrades">
  <div id="a-show">
    <% if flash[:success] %>
      <h1>Congratulations!</h1>

      <% if user != CurrentUser.user %>
        <p><%= user.name %> is now a <%= user.level_string %> user. Thanks for supporting the site!</p>
      <% else %>
        <p>You are now a <%= user.level_string %> user. Thanks for supporting the site!</p>
      <% end %>

      <p><%= link_to "Go back to #{Danbooru.config.canonical_app_name}", "https://danbooru.donmai.us" %> to start using your new account.</p>
    <% elsif flash[:error] %>
      <h1>An error occurred!</h1>
      <p><%= flash[:error] %></p>
      <p><%= link_to "Try again", new_user_upgrade_path %></p>
    <% end %>
  </div>
</div>
