<div id="c-explore-posts">
  <div id="a-intro">
    <header>
      <h1><%= link_to Danbooru.config.app_name, posts_path %></h1>
      <p class="byline">Find good anime art fast</p>

      <%= form_tag(posts_path, :method => :get) do %>
        <%= text_field_tag "tags", "", :size => 50, :data => { :autocomplete => "tag-query" } %>
        <%= submit_tag "Search" %>
      <% end %>
    </header>

    <p style="text-align: center;">Type in your favorite anime, manga, or character (last name first). Here are some popular examples:</p>

    <% cache("intro-page", :expires_in => 1.hour) do %>
      <% @presenter.each do |tag, post_set| %>
        <div class="posts">
          <h2><%= link_to tag, posts_path(:tags => tag) %></h2>
          <%= post_set.presenter.post_previews_html(self, show_cropped: true) %>
          <div class="clearfix"></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div> 

<%= render "static/footer" %>

<% content_for(:page_title) do %>
  <%= Danbooru.config.app_name %>
<% end %>
