<div id="c-explore-posts">
  <div id="a-index">
    <h1>Popular: <%= @post_set.presenter.range_text %></h1>
    
    <%= render "date_explore", :post_set => @post_set %>
    
    <%= render "blacklists" %>

    <%= @post_set.presenter.post_previews_html(self) %>
  </div>
</div>

<%= render "posts/partials/common/secondary_links" %>

<% content_for(:page_title) do %>
  Popular - <%= Danbooru.config.app_name %>
<% end %>
