<% page_title "Popular Posts" %>
<% meta_description "The most popular posts of #{date_range_description(@date, @scale, @min_date, @max_date)}" %>

<%= render "posts/partials/common/secondary_links" %>

<div id="c-explore-posts">
  <div id="a-popular">
    <h1>Popular: <%= date_range_description(@date, @scale, @min_date, @max_date) %></h1>

    <%= render "explore/posts/nav_links", path: :popular_explore_posts_path, date: @date, scale: @scale %>
    <%= render "posts/partials/common/inline_blacklist" %>

    <%= post_previews_html(@posts) %>
    <%= numbered_paginator(@posts) %>
  </div>
</div>
