<% page_title "Popular Posts" %>
<% meta_description "The most popular posts per #{@scale}" %>

<%= render "posts/partials/common/secondary_links" %>

<div id="c-explore-posts">
  <div id="a-popular">
    <h1>
      Popular:

      <% if @scale == "day" %>
        <%= @date.strftime("%B %d, %Y") %>
      <% elsif @scale == "week" %>
        <%= @min_date.strftime("%B %d, %Y") %> - <%= @max_date.strftime("%B %d, %Y") %>
      <% elsif @scale == "month" %>
        <%= @date.strftime("%B %Y") %>
      <% end %>
    </h1>

    <p id="popular-nav-links">
      <%= render "explore/posts/nav_links", date: @date, selected_scale: @scale, scale: "day" %>
      <%= render "explore/posts/nav_links", date: @date, selected_scale: @scale, scale: "week" %>
      <%= render "explore/posts/nav_links", date: @date, selected_scale: @scale, scale: "month" %>
    </p>

    <%= render "posts/partials/common/inline_blacklist" %>

    <%= post_previews_html(@posts) %>
  </div>
</div>
