<div id="c-explore-posts">
  <div id="a-searches">
    <h1>Popular Searches: <%= @search_service.date %> (by <%= @search_service.scale %>)</h1>

    <table class="striped" width="100%">
      <thead>
        <tr>
          <th>Tags</th>
          <th style="text-align: right;">Count</th>
        </tr>
      </thead>
      <tbody>
        <% @search_service.each_search do |tags, count| %>
          <tr class="category-<%= Tag.category_for(tags) %>">
            <td><%= link_to tags, posts_path(:tags => tags) %></td>
            <td style="text-align: right;"><%= count.to_i %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p style="margin-top: 2em;">
      View by 
      <%= link_to "day", searches_explore_posts_path(:date => params[:date], :scale => "day") %> | 
      <%= link_to "month", searches_explore_posts_path(:date => params[:date], :scale => "month") %>.

      Back one 
      <%= link_to "day", searches_explore_posts_path(:date => 1.day.ago(@date), :scale => params[:scale]) %> | 
      <%= link_to "month", searches_explore_posts_path(:date => 1.month.ago(@date), :scale => params[:scale]) %>.

      Forward one
      <%= link_to "day", searches_explore_posts_path(:date => 1.day.since(@date), :scale => params[:scale]) %> | 
      <%= link_to "month", searches_explore_posts_path(:date => 1.month.since(@date), :scale => params[:scale]) %>.
    </p>
  </div>
</div>

<%= render "posts/partials/common/secondary_links" %>

<% content_for(:page_title) do %>
  Popular Searches - <%= Danbooru.config.app_name %>
<% end %>
