<% page_title "Popular Searches" %>
<%= render "posts/partials/common/secondary_links" %>

<div id="c-explore-posts">
  <div id="a-searches">
    <h1>Popular Searches - <%= @date %></h1>

    <table class="striped" width="100%">
      <thead>
        <tr>
          <th>Tags</th>
          <th style="text-align: right;">Count</th>
        </tr>
      </thead>
      <tbody>
        <% @searches.each do |tags, count| %>
          <tr class="tag-type-<%= Tag.category_for(tags) %>">
            <td><%= link_to tags, posts_path(:tags => tags) %></td>
            <td style="text-align: right;"><%= count.to_i %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="paginator">
      <menu>
        <li><%= link_to "< Previous", searches_explore_posts_path(:date => 1.day.ago(@date).to_date), :class => "arrow" %></li>
        <li><%= link_to "Next >", searches_explore_posts_path(:date => 1.day.since(@date).to_date), :class => "arrow" %></li>
      </menu>
    </div>
  </div>
</div>
