<% page_title "Most Viewed" %>
<% meta_description "The most viewed posts per #{@scale}" %>

<%= render "posts/partials/common/secondary_links" %>

<div id="c-explore-posts">
  <div id="a-viewed">
    <h1>Most Viewed - <%= @date %></h1>

    <%= render "posts/partials/common/inline_blacklist" %>

    <%= post_previews_html(@posts) %>

    <div class="paginator">
      <menu>
        <li><%= link_to "< Previous", viewed_explore_posts_path(:date => 1.day.ago(@date).to_date) %></li>
        <li><%= link_to "Next >", viewed_explore_posts_path(:date => 1.day.since(@date).to_date) %></li>
      </menu>
    </div>
  </div>
</div>
