<% page_title "Most Viewed" %>
<% meta_description "The most viewed posts per #{@scale}" %>

<%= render "posts/partials/common/secondary_links" %>

<div id="c-explore-posts">
  <div id="a-viewed">
    <h1>Most Viewed - <%= @date %></h1>

    <%= render BlacklistComponent.new(user: CurrentUser.user, inline: true) %>

    <%= render_post_gallery(@posts) %>

    <div class="paginator flex gap-2 items-center justify-center mt-4">
      <%= link_to "< Previous", viewed_explore_posts_path(date: 1.day.ago(@date).to_date) %>
      <%= link_to "Next >", viewed_explore_posts_path(date: 1.day.since(@date).to_date) %>
    </div>
  </div>
</div>
