<div>
  <%= simple_form_for @search do |f| %>
    <%= hidden_field_tag :folder, params[:folder] %>
    <%= f.input :title_contains, :required => false %>
    <%= f.input :body_contains, :required => false %>
    <%= f.input :to_name_equals, :required => false %>
    <%= f.input :from_name_equals, :required => false %>
    <%= f.button :submit %>
  <% end %>
</div>
