<div id="c-dmails">
  <div id="a-index">
    <h1>Messages</h1>

    <table class="striped" width="100%">
      <thead>
        <tr>
          <th>Date</th>
          <th>From</th>
          <th>To</th>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
        <% @dmails.each do |dmail| %>
          <tr>
            <td><%= compact_time(dmail.created_at) %></td>
            <td><%= link_to dmail.from_name, user_path(dmail.from) %></td>
            <td><%= link_to dmail.to_name, user_path(dmail.to) %></td>
            <td><%= link_to dmail.title, dmail_path(dmail) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render "secondary_links" %>