<div id="c-dmails">
  <div id="a-search">
    <h1>Search Messages</h1>
    <%= simple_form_for @search do |f| %>
      <%= hidden_field_tag :folder, params[:folder] %>
      <%= f.input :title_contains, :required => false, :label => "Title" %>
      <%= f.input :body_contains, :required => false, :label => "Body" %>
      <%= f.input :to_name_equals, :required => false, :label => "To" %>
      <%= f.input :from_name_equals, :required => false, :label => "From" %>
      <%= f.button :submit, "Search" %>
    <% end %>    
  </div>
</div>

<%= render "secondary_links" %>
