<div id="c-dmails">
  <div id="a-search">
    <h1>Search Messages</h1>
    <%= form_tag(dmails_path, :method => :get, :class => "simple_form") do %>
      <%= hidden_field_tag :folder, params[:folder] %>
      
      <%= search_field :message_matches, :label => "Message" %>
      <%= search_field :to_name, :label => "To" %>
      <%= search_field :from_name, :label => "From" %>
      <%= submit_tag "Search" %>
    <% end %>    
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search Messages - <%= Danbooru.config.app_name %>
<% end %>
