<div class="c-dmails">
  <div class="a-show">
    <div class="dmail">
      <h1>Show Message</h1>
      <h2><%= @dmail.title %></h2>
      <%= format_text(@dmail.body) %>

      <p>
        <%= link_to "Respond", new_dmail_path(:respond_to_id => @dmail) %>
        | <%= link_to "Forward", new_dmail_path(:respond_to_id => @dmail, :forward => true) %>
      </p>      
    </div>
  </div>
</div>

<%= render "secondary_links" %>