<div class="c-dmails">
  <div class="a-show">
    <div class="dmail">
      <h1>Show Message</h1>
      <h2><%= @dmail.title %></h2>
      
      <ul style="margin-bottom: 1em;">
        <li><strong>Sender</strong>: <%= @dmail.from_name %></li>
        <li><strong>Recipient</strong>: <%= @dmail.to_name %></li>
        <li><strong>Date</strong>: <%= compact_time(@dmail.created_at) %></li>
      </ul>
      
      <h3>Body</h3>
      <%= format_text(@dmail.body) %>

      <p>
        <%= link_to "Respond", new_dmail_path(:respond_to_id => @dmail) %>
        | <%= link_to "Forward", new_dmail_path(:respond_to_id => @dmail, :forward => true) %>
      </p>      
    </div>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Message - <%= @dmail.title %> - <%= Danbooru.config.app_name %>
<% end %>
