<% page_title "Message: #{@dmail.title}" %>
<%= render "secondary_links" %>

<div id="c-dmails">
  <div id="a-show">
    <div class="dmail">
      <h1><%= @dmail.title %></h1>

      <ul style="margin-bottom: 1em;">
        <li><strong>Sender</strong>: <%= link_to_user @dmail.from %></li>
        <li><strong>Recipient</strong>: <%= link_to_user @dmail.to %></li>
        <li><strong>Date</strong>: <%= compact_time(@dmail.created_at) %></li>
      </ul>

      <div class="prose">
        <%= format_text(@dmail.body) %>

        <% if @dmail.is_automated? %>
          <p class="fineprint">
            This is an automated message. Responses will not be seen. If you have any questions either message a moderator or ask in the forum.
          </p>
        <% end %>
      </div>

      <% if CurrentUser.user == @dmail.owner %>
        <p>
          <%= link_to "Respond", new_dmail_path(:respond_to_id => @dmail) %>
          | <%= link_to "Forward", new_dmail_path(:respond_to_id => @dmail, :forward => true) %>
          | <%= link_to "Share", dmail_path(@dmail, key: @dmail.key), title: "Anyone with this link will be able to view this dmail." %>
          <% if policy(@dmail).reportable? %>
            | <%= link_to "Report", new_moderation_report_path(moderation_report: { model_type: "Dmail", model_id: @dmail.id }), remote: true, title: "Report this dmail to the moderators" %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>
