<div class="c-dmails">
  <div class="a-show">
    <div class="dmail">
      <h1>Show Message</h1>
      <h2><%= @dmail.title %></h2>

      <ul style="margin-bottom: 1em;">
        <li><strong>Sender</strong>: <%= link_to @dmail.from_name, user_path(@dmail.from_id), { :class => @dmail.from.level_class } %></li>
        <li><strong>Recipient</strong>: <%= link_to @dmail.to_name, user_path(@dmail.to_id), { :class => @dmail.to.level_class } %></li>
        <li><strong>Date</strong>: <%= compact_time(@dmail.created_at) %></li>
      </ul>

      <h3>Body</h3>
      <div class="prose">
        <%= format_text(@dmail.body) %>
      </div>

      <p>
        <%= link_to "Respond", new_dmail_path(:respond_to_id => @dmail) %>
        | <%= link_to "Forward", new_dmail_path(:respond_to_id => @dmail, :forward => true) %>
      </p>
    </div>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Message - <%= @dmail.title %> - <%= Danbooru.config.app_name %>
<% end %>
