<h1>Delete Post</h1>

<div>
  <%= PostPresenter.preview(@post, show_deleted: true) %>
</div>

<%= form_tag(delete_moderator_post_post_path, :style => "clear: both;", :class => "simple_form") do %>
  <% if @post.parent_id %>
    <div class="input">
      <label for="move_favorites">
        <%= check_box_tag "move_favorites" %>
        Move favorites to parent?
      </label>
    </div>
  <% end %>

  <p style="font-weight: bold;">Note: If the reason you are planning to delete this post is because it is from a banned artist, please <%= link_to "ban", confirm_ban_moderator_post_post_path(@post) %> this post instead of deleting it.</p>

  <div class="input">
    <label for="reason">Reason</label>
    <%= text_area_tag "reason" %>
  </div>

  <%= submit_tag "Delete" %>
  <%= submit_tag "Cancel" %>
<% end %>
