<% if (CurrentUser.can_approve_posts? || post.created_at < Danbooru.config.moderation_period.ago) && disapprovals.length > 0 %>
  <p>
    It has been reviewed by <%= pluralize disapprovals.length, "approver" %>. 

    <% if disapprovals.map(&:reason).grep("breaks_rules").count > 0 %>
      <%= disapprovals.map(&:reason).grep("breaks_rules").count %> believe it breaks the rules.
    <% end %>

    <% if disapprovals.map(&:reason).grep("poor_quality").count > 0 %>
      <%= disapprovals.map(&:reason).grep("poor_quality").count %> believe it has poor quality.
    <% end %>

    <% if disapprovals.map(&:reason).grep(/disinterest|legacy/).count > 0 %>
      <%= disapprovals.map(&:reason).grep(/disinterest|legacy/).count %> did not like the post enough to approve it.
    <% end %>

    <% if disapprovals.map(&:message).any?(&:present?) %>
      Messages: <%= disapprovals.map(&:message).select(&:present?).map { |msg| format_text(msg, inline: true) }.to_sentence.html_safe %>.
    <% end %>
  </p>
<% end %>
