<div id="detailed-rejection-dialog" title="Detailed Rejection" style="display: none;">
  <p>You can supply a short message to the uploader explaining why you rejected this upload.</p>

  <% if @previous_disapproval %>
    <%= edit_form_for(@previous_disapproval, remote: true, html: { id: "detailed-rejection-form" }) do |f| %>
      <%= f.input :reason, collection: PostDisapproval::REASONS.map { |x| [x.humanize, x] }, :selected => @previous_disapproval.reason %>
      <%= f.input :message, as: :string, :input_html => {:value => @previous_disapproval.message } %>
    <% end %>
  <% else %>
    <%= edit_form_for(PostDisapproval.new, remote: true, html: { id: "detailed-rejection-form" }) do |f| %>
      <%= f.hidden_field :post_id, value: "x" %>
      <%= f.input :reason, collection: PostDisapproval::REASONS.map { |x| [x.humanize, x] }, include_blank: false %>
      <%= f.input :message, as: :string %>
    <% end %>
  <% end %>
</div>
