<div id="c-api-keys">
  <div id="a-new">
    <h1>New API Key</h1>

    <p>You can generate a new API key to authenticate against <%= Danbooru.config.app_name %>.</p>

    <%= error_messages_for :api_key %>

    <%= simple_form_for(@api_key) do |f| %>
      <%= submit_tag "Generate" %>
    <% end %>
  </div>
</div>

<%= render "users/secondary_links" %>

<% content_for(:page_title) do %>
  New API Key - <%= Danbooru.config.app_name %>
<% end %>
