<div id="p-<%= pool_versions_listing_type %>-listing">

    <%= table_for @pool_versions, {class: "striped autofit", width: "100%"} do |t| %>
      <% t.column th: {width: "3%"} do |pool_version| %>
        <%= link_to_if pool_version.previous.present?, "diff", diff_pool_version_path(pool_version.id) %>
      <% end %>
      <% t.column "Pool" do |pool_version| %>
        <%= link_to pool_version.pretty_name, pool_path(pool_version.pool_id), class: "pool-category-#{pool_version.pool.category}" %>
        <%= link_to "»", pool_versions_path(search: { pool_id: pool_version.pool_id }), class: "pool-category-#{pool_version.pool.category}" %>
      <% end %>
      <% t.column "Post Changes", td: { class: "col-expand" } do |pool_version| %>
        <%= render "pool_versions/diff", diff: pool_version.build_diff  %>
      <% end %>
      <% t.column "Post Count" do |pool_version| %>
        <%= link_to pool_version.post_ids.size, pool_versions_path(search: { pool_id: pool_version.pool_id }) %>
      <% end %>
      <% t.column "Status", td: {class: "col-expand"} do |pool_version| %>
        <%= pool_version_status_diff(pool_version) %>
      <% end %>
      <% t.column "Updater" do |pool_version| %>
        <% if pool_version.updater %>
          <%= link_to_user pool_version.updater %>
          <%= link_to "»", pool_versions_path(search: { updater_id: pool_version.updater_id }) %>
        <% end %>
      <% end %>
      <% if CurrentUser.is_moderator? %>
        <% t.column "IP Address" do |pool_version| %>
          <%= link_to_ip pool_version.updater_ip_addr %>
        <% end %>
      <% end %>
      <% t.column "Date" do |pool_version| %>
        <%= compact_time pool_version.updated_at %>
      <% end %>
      <% if pool_versions_listing_type == :revert %>
        <% t.column do |pool_version| %>
          <%= link_to "Revert to", revert_pool_path(pool_version.pool_id, :version_id => pool_version.id), :method => :put, :remote => true %>
        <% end %>
      <% end %>
    <% end %>

</div>
