<div id="p-revert-listing">
  <table width="100%" class="striped autofit">
    <thead>
      <tr>
        <th>Pool</th>
        <th>Changes</th>
        <th>Post Count</th>
        <th>Desc Chg</th>
        <th>Updater</th>
        <% if CurrentUser.is_moderator? %>
          <th>IP Address</th>
        <% end %>
        <th>Date</th>
        <% if CurrentUser.is_member? %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @pool_versions.each do |pool_version| %>
        <tr>
          <td>
            <%= link_to pool_version.pretty_name, pool_path(pool_version.pool_id), class: "pool-category-#{pool_version.pool.category}" %>
            <%= link_to "»", pool_versions_path(search: { pool_id: pool_version.pool_id }), class: "pool-category-#{pool_version.pool.category}" %>
          </td>
          <td class="col-expand"><%= render "pool_versions/diff", diff: pool_version.build_diff  %></td>
          <td><%= link_to pool_version.post_ids.size, pool_versions_path(search: { pool_id: pool_version.pool_id }) %></td>
          <td><%= link_to_if pool_version.description_changed, pool_version.description_changed, diff_pool_version_path(pool_version.id) %></td>
          <td>
            <% if pool_version.updater %>
              <%= link_to_user pool_version.updater %>
              <%= link_to "»", pool_versions_path(search: { updater_id: pool_version.updater_id }) %>
            <% end %>
          </td>
          <% if CurrentUser.is_moderator? %>
            <td>
              <%= link_to_ip pool_version.updater_ip_addr %>
            </td>
          <% end %>
          <td><%= compact_time pool_version.updated_at %></td>
          <% if CurrentUser.is_member? %>
            <td>
              <%= link_to "Revert to", revert_pool_path(pool_version.pool_id, :version_id => pool_version.id), :method => :put, :remote => true %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
