<div id="p-standard-listing">
  <table width="100%" class="striped autofit">
    <thead>
      <tr>
        <th>Pool</th>
        <th>Post Count</th>
        <th>Changes</th>
        <th>Desc Chg</th>
        <th>Updater</th>
        <% if CurrentUser.is_moderator? %>
          <th>IP Address</th>
        <% end %>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @pool_versions.each do |pool_version| %>
        <tr id="pool-version-<%= pool_version.id %>">
          <td><%= link_to pool_version.pretty_name, pool_path(pool_version.pool_id), :class => "pool-category-#{pool_version.pool.category}" %></td>
          <td><%= link_to pool_version.post_ids.size, pool_versions_path(:search => {:pool_id => pool_version.pool_id}) %></td>
          <td class="col-expand"><%= pool_version_diff(pool_version) %></td>
          <td><%= link_to_if pool_version.description_changed, pool_version.description_changed, diff_pool_version_path(pool_version.id) %></td>
          <td><%= link_to_user pool_version.updater %></td>
          <% if CurrentUser.is_moderator? %>
            <td>
              <%= link_to_ip pool_version.updater_ip_addr %>
            </td>
          <% end %>
          <td><%= compact_time pool_version.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
