<div id="c-pools">
  <div id="a-index">
    <h1>Pool History</h1>
    
    <table width="100%">
      <thead>
        <tr>
          <th>Pool</th>
          <th>Post Count</th>
          <th>Changes</th>
          <th>Updater</th>
          <th>IP Address</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @pool_versions.each do |pool_version| %>
          <tr>
            <td><%= pool_version.pool.name %></td>
            <td><%= link_to pool_version.post_id_array.size, pool_versions_path(pool_version) %></td>
            <td><%= pool_version_diff(pool_version) %></td>
            <td><%= link_to pool_version.updater.name, user_path(pool_version.updater) %></td>
            <td>
              <% if CurrentUser.is_janitor? %>
                <%= pool_version.updater_ip_addr %>
              <% end %>
            </td>
            <td><%= time_ago_in_words pool_version.updated_at %></td>
            <td><%= link_to "Revert", revert_pool_path(pool_version.pool_id, :version => pool_version.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@pool_versions) %>
  </div>
</div>

<%= render "pools/secondary_links" %>
