<%= tag.div style: "aspect-ratio: #{media_asset.image_width} / #{media_asset.image_height}",
            class: ["video-component relative flex items-center justify-center", html_options[:class]],
            tabindex: 0,
            "data-quality": default_quality,
            "data-autoplay": autoplay,
            "data-muted": muted,
            "data-start-time": start_time.to_f,
            "data-has-sound": media_asset.has_sound?,
            "x-bind:data-state": "player.state",
            "x-bind:data-paused": "String(player.paused)",
            "x-bind:data-muted": "String(player.muted)",
            "x-bind:data-volume": "String(player.volume)",
            "x-bind:data-playback-rate": "String(player.playbackRate)",
            "x-data": "{ player: new Danbooru.VideoPlayer($el) }",
            "x-init": "player.initialize()",
            **html_options.except(:class) do %>
  <% variants.each do |variant| %>
    <% variant = media_asset.variant(variant) %>
    <% if variant.file_ext == "zip" %>
      <%= tag.canvas "data-src": variant.file_url, class: "video-variant max-w-full h-full object-contain", width: media_asset.image_width, height: media_asset.image_height, "data-variant": variant.type, "data-frame-delays": frame_delays.to_json, "data-frame-offsets": frame_offsets&.to_json, "data-file-size": media_asset.file_size, "x-show": "player.quality === $el.dataset.variant", "x-cloak": (default_quality != variant.type).presence %>
    <% else %>
      <%= tag.video src: variant.file_url, class: "video-variant max-w-full h-full", width: media_asset.image_width, height: media_asset.image_height, loop: true, "data-variant": variant.type, "x-show": "player.quality === $el.dataset.variant", "x-cloak": (default_quality != variant.type).presence %>
    <% end %>
  <% end %>

  <%= spinner_icon class: "absolute h-16 max-h-1/4 text-inverse", "x-show": "player.state === 'loading'", "x-cloak": true %>

  <span class="playback-rate-indicator absolute p-4 rounded text-xl text-inverse select-none" x-text="player.playbackRate.toFixed(2) + 'x'" x-cloak x-show="player._showPlaybackRate"></span>

  <div class="video-component-error-message @container flex flex-col justify-center absolute inset-0 p-4 rounded text-inverse text-center leading-normal" x-cloak x-show="player.state === 'error'">
    <p class="text-xl @max-270px:text-sm">An error occurred while loading the video.</p>
    <p class="text-sm @max-270px:text-xs text-muted" x-text="player._error"></p>
  </div>

  <div class="video-controls @container flex items-center absolute bottom-0 w-full h-8 px-2 gap-2 opacity-0 transition-opacity">
    <div class="flex-none w-6 h-full cursor-pointer select-none @max-120px:hidden">
      <%= play_icon class: "w-full h-full py-2", "x-show": "player.paused", "x-on:click": "player.play()" %>
      <%= pause_icon class: "w-full h-full py-2", "x-show": "!player.paused", "x-on:click": "player.pause()" %>
    </div>

    <%= tag.input type: "range", class: "video-slider h-full w-full appearance-none border-0 bg-transparent p-0 cursor-pointer", tabindex: -1, value: 0, step: "any", min: 0, max: media_asset.duration, "x-bind:value": "player.currentTime", "x-bind:max": "player.duration", "x-bind:style": '{ "--playback-progress": player.playbackProgress, "--load-progress": player.loadProgress }' %>

    <span class="flex gap-1 text-sm select-none whitespace-nowrap @max-270px:hidden">
      <span x-text="player.formatTime(player.currentTime)">0:00</span> /
      <span x-text="player.formatTime(Math.max(player.duration, 1))">0:01</span>
    </span>

    <% if media_asset.has_sound? %>
      <div class="volume-controls relative h-full @max-120px:hidden">
        <div class="w-6 h-full cursor-pointer select-none" x-on:click="player.toggleMute()">
          <%= volume_high_icon class: "w-full h-full py-2", "x-show": "player.inferredVolume > 0.66" %>
          <%= volume_medium_icon class: "w-full h-full py-2", "x-show": "player.inferredVolume > 0.33 && player.inferredVolume <= 0.66" %>
          <%= volume_low_icon class: "w-full h-full py-2", "x-show": "player.inferredVolume > 0 && player.inferredVolume <= 0.33" %>
          <%= no_sound_icon class: "w-full h-full py-2", "x-show": "player.inferredVolume === 0" %>
        </div>
        <input type="range" class="volume-slider w-120px h-full p-2 appearance-none border-0 bg-transparent cursor-pointer absolute origin-left -rotate-90 -top-1/2 left-1/2 opacity-0 pointer-events-none transition-opacity" tabindex="-1" value="0", step="0.01" min="0" max="1" x-bind:value="player.inferredVolume" x-bind:class='{ "opacity-0 pointer-events-none": !player._showVolumeSlider }' x-bind:style='{ "--volume": player.inferredVolume }' />
      </div>
    <% else %>
      <%= no_sound_icon class: "flex-none w-6 h-full py-2 text-muted pointer-events-none @max-270px:hidden" %>
    <% end %>

    <% if variants.size > 1 %>
      <%= render PopupMenuComponent.new(classes: "h-full", button_classes: "h-full", button_html: { "data-tippy-placement": "top", "data-tippy-arrow": "false" }) do |menu| %>
        <% menu.with_button do %>
          <%= gear_icon(class: "w-6 h-full py-2 cursor-pointer") %>
        <% end %>

        <% menu.with_item class: "px-3 py-1 text-center" do %>
          <span class="text-sm whitespace-nowrap select-none">Quality</span>
        <% end %>

        <% menu.with_item class: "p-0" do %>
          <hr class="border-t">
        <% end %>

        <% variants.each do |variant| %>
          <% menu.with_item class: "px-3 py-1 flex gap-2 cursor-pointer", "data-variant": variant, "x-on:click": "player.setQuality($el.dataset.variant)" do %>
            <%= check_icon "x-bind:class": "{ invisible: player.quality !== $el.parentNode.dataset.variant }" %>
            <%= link_to variant_name(variant), "javascript:void(0)", class: "text-sm whitespace-nowrap" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <div class="flex-none w-6 h-full cursor-pointer select-none @max-270px:hidden">
      <%= expand_icon class: "w-full h-full py-2", "x-show": "!player.fullscreen", "x-on:click": "player.toggleFullscreen()" %>
      <%= minimize_icon class: "w-full h-full py-2", "x-show": "player.fullscreen", "x-on:click": "player.toggleFullscreen()" %>
    </div>
  </div>
<% end %>
