<div id="c-upload-media-assets">
  <div id="a-index">
    <h1>Upload</h1>

    <% if policy(@upload).show? && @upload.source_extractor.present? %>
      <%= render_source_data(@upload.source_extractor) %>
    <% end %>

    <div class="tab-panel-component horizontal-tab-panel">
      <div class="tab-list">
        <%= link_to "All", current_page_path(search: search_params.to_h.without("is_posted")), class: [(search_params[:is_posted].nil? ? "tab active-tab" : "tab")] %>
        <%= link_to "Posted", current_page_path(search: { is_posted: true }), class: [(search_params[:is_posted].to_s.truthy? ? "tab active-tab" : "tab")] %>
        <%= link_to "Unposted", current_page_path(search: { is_posted: false }), class: [(search_params[:is_posted].to_s.falsy? ? "tab active-tab" : "tab")] %>

        <span class="flex-1"></span>

        <%= render PreviewSizeMenuComponent.new(current_size: @preview_size) %>
      </div>
    </div>

    <%= render "upload_media_assets/gallery", upload_media_assets: @upload_media_assets, size: @preview_size %>

    <%= numbered_paginator(@upload_media_assets) %>
  </div>
</div>

<%= render "uploads/secondary_links" %>
