<% page_title "Change Password" %>

<div id="c-passwords">
  <div id="a-edit">
    <div class="card mt-8 p-4 max-w-360px mx-auto flex flex-col items-center">
      <h1 class="pb-4">Change Password</h1>

      <%= edit_form_for(@user, url: user_password_path(@user), html: { class: "w-full stacked-form stacked-hints" }) do |f| %>
        <% if params[:signed_user_id] %>
          <%= f.input :signed_user_id, as: :hidden, input_html: { value: params[:signed_user_id] }  %>
        <% else %>
          <%= f.input :old_password, as: :password, label: "Current password", input_html: { autocomplete: "current-password" }, hint: link_to("Forgot password?", password_reset_path) %>
        <% end %>
        <%= f.input :password, required: true, label: "New password", input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation, required: true, label: "Confirm password", input_html: { autocomplete: "new-password" } %>
        <%= f.submit "Save", class: "button-primary" %>
      <% end %>
    </div>
  </div>
</div>

<%= render "sessions/secondary_links" %>
