<% content_for(:secondary_links) do %>
  <%= quick_search_form_for(:name_matches, tags_path, "tags", autocomplete: "tag") %>
  <%= subnav_link_to "Listing", tags_path %>
  <%= subnav_link_to "MetaSearch", meta_searches_tags_path %>
  <%= subnav_link_to "Related tags", related_tag_path %>
  <%= subnav_link_to "Cheatsheet", wiki_pages_path(:search => {:title => "help:cheatsheet"}) %>
  <%= subnav_link_to "Help", wiki_pages_path(:search => {:title => "help:tags"}) %>
  <% if @tag %>
    <li>|</li>
    <%= subnav_link_to "Posts (#{@tag.post_count})", posts_path(:tags => @tag.name) %>
    <%= subnav_link_to "Edit", edit_tag_path(@tag) %>
    <% if @tag.post_count < 1_000 %>
      <%= subnav_link_to "Fix", new_tag_correction_path(:tag_id => @tag.id) %>
    <% end %>
  <% end %>
<% end %>
