<% content_for(:secondary_links) do %>
  <%= quick_search_form_for(:name_matches, tags_path, "tags", autocomplete: "tag") %>
  <%= subnav_link_to "Listing", tags_path %>
  <%= subnav_link_to "MetaSearch", meta_searches_tags_path %>
  <%= subnav_link_to "Related tags", related_tag_path %>
  <%= subnav_link_to "Cheatsheet", wiki_page_path("help:cheatsheet") %>
  <%= subnav_link_to "Help", wiki_page_path("help:tags") %>
  <% if @tag %>
    <li>|</li>
    <%= subnav_link_to "Posts (#{@tag.post_count})", posts_path(:tags => @tag.name) %>
    <%= subnav_link_to "Edit", edit_tag_path(@tag) %>
  <% end %>
<% end %>
