<div id="c-tags">
  <div id="a-edit">
    <h1>Tag: <%= @tag.name %></h1>

    <%= edit_form_for(@tag) do |f| %>
      <% if @tag.is_locked? %>
        <p>This tag is category locked</p>
      <% else %>
        <%= f.input :category, :collection => TagCategory.canonical_mapping.to_a, :include_blank => false %>
      <% end %>

      <% if policy(@tag).can_lock? %>
        <%= f.input :is_locked, :collection => [["No", "false"], ["Yes", "true"]], :include_blank => false %>
      <% end %>

      <%= f.button :submit, "Submit" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>
