<div id="c-tags">
  <div id="a-edit">
    <h1>Tag: <%= @tag.name %></h1>

    <%= edit_form_for(@tag) do |f| %>
      <% if policy(@tag).can_change_category? %>
        <%= f.input :category, collection: TagCategory.canonical_mapping.to_a, include_blank: false %>
      <% else %>
        <p>Create a <%= link_to "bulk update request", new_bulk_update_request_path(bulk_update_request: { script: "category #{@tag.name} -> general" }) %> to change this tag's category.</p>
      <% end %>

      <% if policy(@tag).can_change_deprecated_status? %>
        <%= f.input :is_deprecated, :collection => [["No", "false"], ["Yes", "true"]], :include_blank => false %>
      <% else %>
        <% if @tag.is_deprecated? %>
          <p>Create a <%= link_to "bulk update request", new_bulk_update_request_path(bulk_update_request: { script: "undeprecate #{@tag.name}" }) %> to mark this tag as not deprecated.</p>
        <% elsif @tag.wiki_page.blank? %>
          <p>This tag needs a wiki page to be marked as deprecated. <%= link_to "Click here", new_wiki_page_path(wiki_page: { title: @tag.name} ) %> to create one.</p>
        <% else %>
          <p>Create a <%= link_to "bulk update request", new_bulk_update_request_path(bulk_update_request: { script: "deprecate #{@tag.name}" }) %> to mark this tag as deprecated.</p>
        <% end %>
      <% end %>
      <%= f.button :submit, "Submit" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>
