<div id="c-tags">
  <div id="a-edit">
    <h1>Tag: <%= @tag.name %></h1>

    <%= simple_form_for(@tag) do |f| %>
      <%= f.input :category, :collection => Danbooru.config.canonical_tag_category_mapping.to_a, :include_blank => false %>

      <% if CurrentUser.user.is_janitor? %>
        <%= f.input :is_locked, :collection => [["No", "false"], ["Yes", "true"]] %>
      <% end %>

      <%= f.button :submit, "Submit" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Tag - <%= Danbooru.config.app_name %>
<% end %>
