<div id="c-tags">
  <div id="a-index" class="fixed-width-container">
    <%= render "search" %>

    <%= table_for @tags, class: "striped autofit" do |t| %>
      <% t.column :post_count, name: "Count" %>
      <% t.column :name, class: "col-expand" do |tag| %>
        <%= link_to_wiki "?", tag.name, class: "tag-type-#{tag.category}" %>
        <%= link_to tag.name, posts_path(tags: tag.name), class: "tag-type-#{tag.category}" %>
      <% end %>
      <% t.column do |tag| %>
        <%= link_to_if tag.editable_by?(CurrentUser.user), "Edit", edit_tag_path(tag) %> |
        <%= link_to "History", post_versions_path(search: { changed_tags: tag.name }) %> |
        <%= link_to "Related", related_tag_path(search: { query: tag.name }) %> |
        <%= link_to "Similar", tags_path(search: { fuzzy_name_matches: tag.name, order: :similarity }) %>
      <% end %>
    <% end %>

    <%= numbered_paginator(@tags) %>
  </div>
</div>

<%= render "secondary_links" %>
