<% meta_description "Search thousands of tags on #{Danbooru.config.app_name}." %>

<div id="c-tags">
  <div id="a-index" class="fixed-width-container">
    <%= render "search" %>

    <%= table_for @tags, class: "striped autofit" do |t| %>
      <% t.column "Name", td: {class: "col-expand"} do |t| %>
        <%= link_to_wiki "?", t.name, class: tag_class(t) %>
        <%= link_to t.name, posts_path(tags: t.name), class: tag_class(t) %>

        <% tag_alias = t.tag_alias_for_pattern(params[:search][:name_or_alias_matches]) %>
        <% if tag_alias.present? %>
          ← <%= link_to tag_alias.antecedent_name, tag_alias, class: "fineprint" %>
        <% end %>

        <%= tag.span humanized_number(t.post_count), class: "post-count", title: t.post_count %>
      <% end %>

      <% t.column column: "control" do |tag| %>
        <%= render PopupMenuComponent.new do |menu| %>
          <% if policy(tag).update? %>
            <% menu.with_item do %>
              <%= link_to "Edit", edit_tag_path(tag) %>
            <% end %>
          <% end %>

          <% menu.with_item do %>
            <%= link_to "Tag history", tag_versions_path(search: { tag_id: tag.id }) %>
          <% end %>

          <% menu.with_item do %>
            <%= link_to "Post history", post_versions_path(search: { changed_tags: tag.name }) %>
          <% end %>

          <% menu.with_item do %>
            <hr class="border">
          <% end %>

          <% menu.with_item do %>
            <%= link_to "Related tags", related_tag_path(search: { query: tag.name }) %>
          <% end %>

          <% menu.with_item do %>
            <%= link_to "Similar tags", tags_path(search: { fuzzy_name_matches: tag.name, order: :similarity }) %>
          <% end %>

          <% menu.with_item do %>
            <hr class="border">
          <% end %>

          <% menu.with_item do %>
            <%= link_to "Aliases", tag_aliases_path(search: { name_matches: tag.name }) %>
          <% end %>

          <% menu.with_item do %>
            <%= link_to "Implications", tag_implications_path(search: { name_matches: tag.name }) %>
          <% end %>

          <% menu.with_item do %>
            <%= link_to "Comments", comments_path(search: { post_tags_match: tag.name }) %>
          <% end %>

          <% menu.with_item do %>
            <%= link_to "Discussions", forum_posts_path(search: { linked_to: tag.name }) %>
          <% end %>

          <% if !tag.meta? %>
            <% menu.with_item do %>
              <hr class="border">
            <% end %>

            <% menu.with_item do %>
              <%= link_to "Untagged posts", ai_tags_path(search: { tag_name: tag.name, post_tags_match: "-#{tag.name}", is_posted: true, order: "score_desc" }) %>
            <% end %>

            <% menu.with_item do %>
              <%= link_to "Mistagged posts", posts_path(tags: "#{tag.name} ai:#{tag.name},0%") %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= numbered_paginator(@tags) %>
  </div>
</div>

<%= render "secondary_links" %>
