<div id="c-tags">
  <div id="a-search">
    <%= form_tag(tags_path, :method => :get, :class => "simple_form") do %>
      <%= search_field "name_matches", :label => "Name" %>
      
      <div class="input">
        <label for="search_category">Category</label>
        <%= select "search", "category", [""] + Danbooru.config.canonical_tag_category_mapping.to_a %>
      </div>
      
      <div class="input">
        <label for="search_sort">Sort</label>
        <%= select "search", "sort", %w(name count date) %>
      </div>
      
      <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search Tags - <%= Danbooru.config.app_name %>
<% end %>
