<div id="c-tags">
  <div id="a-search">
    <%= simple_form_for(@search) do |f| %>
      <%= f.input :name_matches, :required => false, :label => "Name" %>
      <%= f.input :category_equals, :required => false, :label => "Category", :collection => Danbooru.config.canonical_tag_category_mapping.to_a %>
      <%= f.input :meta_sort, :collection => [["Name", "name.asc"], ["Count", "post_count.desc"], ["Date", "created_at.desc"]], :label => "Sort", :required => false %>
      <%= f.button :submit, "Search" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search Tags - <%= Danbooru.config.app_name %>
<% end %>
