<div id="c-tags">
  <div id="a-search">
    <%= form_tag(tags_path, :method => :get, :class => "simple_form") do %>
      <div class="input">
        <label for="search_name">Name</label>
        <%= text_field "search", "name_matches" %>
        <span class="hint">Use * for wildcard</span>
      </div>

      <div class="input">
        <label for="search_category">Category</label>
        <%= select "search", "category", [""] + Danbooru.config.canonical_tag_category_mapping.to_a %>
      </div>

      <div class="input">
        <label for="search_hide_empty">Hide Empty</label>
        <%= select "search", "hide_empty", ["yes", "no"] %>
      </div>

      <div class="input">
        <label for="search_sort">Sort</label>
        <%= select "search", "sort", %w(date name count) %>
      </div>

      <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search Tags - <%= Danbooru.config.app_name %>
<% end %>
