<div id="c-tags">
  <div id="a-show">
    <h1>Tag: <%= @tag.name %></h1>

    <ul>
      <li>Count: <%= @tag.post_count %></li>
      <li>Category: <%= @tag.category_name %></li>
    </ul>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Tag - <%= @tag.name %> - <%= Danbooru.config.app_name %>
<% end %>
