<footer id="page-footer" class="text-small">
  <span class="page-footer-app-name"><%= Danbooru.config.app_name %></span>
  <% if Rails.application.config.x.git_hash %>
    <span class="desktop-only page-footer-git-hash">
      (<%= link_to Rails.application.config.x.git_hash.first(9), Danbooru.config.commit_url(Rails.application.config.x.git_hash) %>)
    </span>
  <% end %>
  &ndash; <%= link_to "Rules", terms_of_service_path %>
  &ndash; <%= link_to "Contact", contact_path %>
  <% if CurrentUser.user.enable_post_navigation %>
    <span id="keyboard-shortcuts-link" class="desktop-only">
      &ndash; <%= link_to "Keyboard shortcuts", keyboard_shortcuts_path %>
    </span>
  <% end %>
  <% if CurrentUser.is_member? %>
    <span id="desktop-version-link" class="mobile-only">
      &ndash;
      <%= link_to "Desktop mode", edit_user_path(CurrentUser.id) %>
    </span>
  <% end %>
</footer>
