<div class="source-data card-outlined p-4 mt-4 mb-4">
  <%= link_to "Fetch source data", source_path, class: "source-data-fetch" %>
  <%= spinner_icon class: "source-data-loading" %>

  <% if @source.present? %>
    <table class="source-data-content mt-2">
      <tbody>
        <% if @source.artists.present? %>
          <% @source.artists.each do |artist| %>
            <tr>
              <th>Artist</th>
              <td>
                <%= link_to artist.name, artist_path(artist), class: tag_class(artist.tag) %>

                <ul class="list-inline">
                  <% profile_urls(artist).each do |artist_url| %>
                    <%= external_link_to artist_url.url, external_site_icon(artist_url.site_name, class: "h-4 align-bottom"), title: artist_url.url %>
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        <% else %>
          <% if @source.artist_name.blank? %>
            <tr>
              <th>Artist</th>
              <td><em>None</em></td>
            </tr>
          <% else %>
            <tr>
              <th>Artist</th>
              <td>
                <%= external_link_to @source.profile_url, @source.artist_name %>
                (<%= link_to "Create new artist", new_artist_path(artist: { source: @source.page_url || @source.url }) %>)
              </td>
            </tr>
          <% end %>
        <% end %>

        <tr class="source-data-tags">
          <th>Tags</th>
          <td>
            <% if @source.tags.empty? %>
              <em>None</em>
            <% else %>
              <div class="flex flex-wrap gap-1">
                <% @source.tags.each do |tag, href| %>
                  <%= external_link_to href, tag, class: "source-data-tag chip-primary text-sm truncate" %>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
