<div id="post-<%= post.id %>" class="post mod-queue-preview <%= PostPresenter.preview_class(post) %>" <%= PostPresenter.data_attributes(post) %>>
  <aside>
    <%= link_to(image_tag(post.preview_file_url), post_path(post), :target => "_blank") %>
  </aside>

  <section>
    <ul>
      <li>
        <h2><%= render "moderator/post/queues/quick_mod", post: post %></h2>
      </li>
      <li><strong>Rating</strong>: <%= post.pretty_rating %></li>
      <li><strong>Score</strong>: <%= post.score %></li>
      <li>
        <strong>Size:</strong>
        <%= number_to_human_size(post.file_size) %>
        <% if post.has_dimensions? %>
          (<%= post.image_width %>x<%= post.image_height %>)
        <% end %>
      </li>
      <li><strong>Uploader</strong>: <%= link_to_user(post.uploader) %> <%= time_ago_in_words_tagged(post.created_at) %></li>
      <% if post.is_flagged? %>
        <li><strong>Flagged</strong>: <%= post_flag_reasons(post) %></li>
      <% end %>
      <% if (post.is_flagged? || post.is_deleted?) && post.appeals.any? %>
        <li><strong>Appeals</strong>: <%= post_appeal_reasons(post) %></li>
      <% end %>
      <li>
        <strong>Hidden</strong>: <%= render "post_disapprovals/compact_counts", :disapprovals => post.disapprovals, :post => post %>
      </li>
      <li><strong>Source</strong>: <%= post.source %></li>
      <% if post.has_active_pools? %>
        <li><strong>Pools</strong>: <%= render "pools/inline_list", pools: post.pools.undeleted %></li>
      <% end %>
      <li><strong>Tags</strong>: <%= post.presenter.inline_tag_list_html(self) %></li>
    </ul>
  </section>
</div>
