<%= content_tag(:div, { id: "post-#{post.id}", class: ["post", "mod-queue-preview", "column-container", *PostPresenter.preview_class(post, highlight_score: true)].join(" ") }.merge(PostPresenter.data_attributes(post))) do %>
  <aside class="column column-shrink">
    <%= link_to(image_tag(post.preview_file_url), post_path(post), :target => "_blank") %>
  </aside>

  <section class="column column-expand">
    <ul>
      <li>
        <%= render "moderator/post/queues/quick_mod", post: post %>
      </li>
      <li><strong>Rating</strong>: <%= post.pretty_rating %></li>
      <li><strong>Score</strong>: <%= post.score %></li>
      <li>
        <strong>Size:</strong>
        <%= number_to_human_size(post.file_size) %>
        <% if post.has_dimensions? %>
          (<%= post.image_width %>x<%= post.image_height %>)
        <% end %>
      </li>
      <li><strong>Uploader</strong>: <%= link_to_user(post.uploader) %> <%= time_ago_in_words_tagged(post.created_at) %></li>
      <% if post.is_flagged? %>
        <li><strong>Flagged</strong>: <%= render "post_flags/reasons", flags: post.flags %></li>
      <% end %>
      <% if (post.is_flagged? || post.is_deleted?) && post.appeals.any? %>
        <li><strong>Appeals</strong>: <%= render "post_appeals/reasons", appeals: post.appeals %></li>
      <% end %>
      <li>
        <strong>Hidden</strong>: <%= render "post_disapprovals/compact_counts", :disapprovals => post.disapprovals, :post => post %>
      </li>
      <li class="mod-queue-post-source"><strong>Source</strong>: <%= post.source %></li>
      <% if post.has_active_pools? %>
        <li><strong>Pools</strong>: <%= render "pools/inline_list", pools: post.pools.undeleted %></li>
      <% end %>
      <li><strong>Tags</strong>: <%= post.presenter.inline_tag_list_html %></li>
    </ul>
  </section>
<% end %>
