<div id="c-moderator-post-queues">
  <div id="a-show">
    <div>
      <h1>Moderation Queue</h1>

      <div id="moderation-guideline">
        <p>Here are five random posts that are up for moderation. See if any of them are worth approving. Once you finish processing all of them you will be taken to the previous URL (<%= params[:return_to] %>).</p>

        <h1>Deletion Guidelines</h1>
        <p>
          As a general rule, you should only approve of posts that you personally like. Posts that are not approved in three days will be automatically deleted. Posts with score -3 or lower are marked red. Posts with score 3 or higher are marked green. Posts with the duplicate tag are marked in yellow.
        </p>
      </div>

      <% @posts.each do |post| %>
        <%= render "post", post: post %>
      <% end %>
    </div>
  </div>
</div>

<%= render "post_disapprovals/detailed_rejection_dialog" %>
<%= render "posts/partials/common/secondary_links" %>

<% content_for(:page_title) do %>
  Mod Queue - <%= Danbooru.config.app_name %>
<% end %>

<% content_for(:html_header) do %>
  <meta name="random-mode" content="1">
  <meta name="return-to" content="<%= params[:return_to] %>">
<% end %>
