<div id="c-moderator-post-queues">
  <div id="a-random">
    <div>
      <h1>Moderation Queue</h1>

      <div id="moderation-guideline">
        <p>Here are twelve random posts that are up for moderation. See if any of them are worth approving. Once you finish processing all of them you will be taken to the previous URL (<%= params[:return_to] %>).</p>

        <h1>Deletion Guidelines</h1>

        <%= render "desc" %>

      </div>

      <%= render "posts/partials/common/inline_blacklist" %>

      <% @posts.each do |post| %>
        <%= render "post", post: post %>
      <% end %>
    </div>
  </div>
</div>

<%= render "post_disapprovals/detailed_rejection_dialog" %>
<%= render "posts/partials/common/secondary_links" %>

<% content_for(:page_title) do %>
  Mod Queue - <%= Danbooru.config.app_name %>
<% end %>

<% content_for(:html_header) do %>
  <meta name="random-mode" content="1">
  <meta name="return-to" content="<%= params[:return_to] %>">
<% end %>
