<div id="c-moderator-post-queues">
  <div id="a-show">
    <div>
      <h1>Moderation Queue</h1>

      <%= search_form_for(moderator_post_queue_path) do |f| %>
        <%= f.input :tags, input_html: { value: params.dig(:search, :tags), "data-autocomplete": "tag-query" } %>
        <%= f.input :per_page, label: "Posts", collection: %w[25 50 100 200], selected: cookies[:mq_per_page] %>
        <%= f.submit "Search" %>
      <% end %>

      <div id="moderation-guideline">
        <h1>Deletion Guidelines</h1>

        <%= render "desc" %>

        <p>
          <% if params.dig(:search, :hidden) %>
            <%= link_to "View pending posts", moderator_post_queue_path(search: { tags: params.dig(:search, :tags), hidden: nil }) %>.
          <% else %>
            <%= link_to "View hidden posts", moderator_post_queue_path(search: { tags: params.dig(:search, :tags), hidden: true, }) %>.
          <% end %>
        </p>
      </div>

      <%= render "posts/partials/common/inline_blacklist" %>

      <% @posts.each do |post| %>
        <%= render "post", post: post %>
      <% end %>
    </div>

    <%= numbered_paginator(@posts) %>
  </div>
</div>

<%= render "post_disapprovals/detailed_rejection_dialog" %>
<%= render "posts/partials/common/secondary_links" %>

<% content_for(:page_title) do %>
  Mod Queue - <%= Danbooru.config.app_name %>
<% end %>
