<div id="c-moderator-post-queues">
  <div id="a-show">
    <div>
      <h1>Moderation Queue</h1>

      <div id="search">
        <%= form_tag(moderator_post_queue_path, :method => :get) do %>
          <%= text_field_tag "query", params[:query], :size => 40, :data => { :autocomplete => "tag-query" } %>
          <%= select_tag "per_page", options_for_select(%w(25 50 100 200), cookies["mq_per_page"])%>
          <%= submit_tag "Search" %>
        <% end %>
      </div>

      <div id="moderation-guideline">
        <h1>Deletion Guidelines</h1>
        <p>
          As a general rule, you should only approve of posts that you personally like. Posts that are not approved in three days will be automatically deleted. Posts with score -3 or lower are marked red. Posts with score 3 or higher are marked green. Posts with the duplicate tag are marked in yellow.
          <% if params[:hidden] %>
            <%= link_to "View pending posts", moderator_post_queue_path(:query => params[:query], :hidden => nil) %>.
          <% else %>
            <%= link_to "View hidden posts", moderator_post_queue_path(:query => params[:query], :hidden => true) %>.
          <% end %>
        </p>
      </div>

      <% @posts.each do |post| %>
        <div id="post-<%= post.id %>" class="post mod-queue-preview <%= PostPresenter.preview_class(post) %>" <%= PostPresenter.data_attributes(post) %>>
          <aside>
            <%= link_to(image_tag(post.preview_file_url), post_path(post), :target => "_blank") %>
          </aside>

          <section>
            <ul>
              <li>
                <h2>
                  <%= link_to "Approve", moderator_post_approval_path(:post_id => post.id), :remote => true, :method => :post, :class => "approve-link" %> 
                  | <%= link_to "Breaks Rules", moderator_post_disapproval_path(:post_id => post.id, :reason => "breaks_rules"), :remote => true, :method => :post, :class => "disapprove-link" %>
                  | <%= link_to "Poor Quality", moderator_post_disapproval_path(:post_id => post.id, :reason => "poor_quality"), :remote => true, :method => :post, :class => "disapprove-link" %>
                  | <%= link_to "No Interest", moderator_post_disapproval_path(:post_id => post.id, :reason => "disinterest"), :remote => true, :method => :post, :class => "disapprove-link" %>
                  | <%= link_to "Detailed Rejection", "#", "data-post-id" => post.id, :class => "detailed-rejection-link" %>
                </h2>
              </li>
              <li><strong>Rating</strong>: <%= post.pretty_rating %></li>
              <li><strong>Score</strong>: <%= post.score %></li>
              <li>
                <strong>Size:</strong>
                <%= number_to_human_size(post.file_size) %>
                <% if post.has_dimensions? %>
                  (<%= post.image_width %>x<%= post.image_height %>)
                <% end %>
              </li>
              <li><strong>Uploader</strong>: <%= link_to_user(post.uploader) %> <%= time_ago_in_words_tagged(post.created_at) %></li>
              <% if post.is_flagged? %>
                <li><strong>Flagged</strong>: <%= post_flag_reasons(post) %></li>
              <% end %>
              <% if (post.is_flagged? || post.is_deleted?) && post.appeals.any? %>
                <li><strong>Appeals</strong>: <%= post_appeal_reasons(post) %></li>
              <% end %>
              <li>
                <strong>Hidden</strong>: <%= render "post_disapprovals/compact_counts", :disapprovals => post.disapprovals, :post => post %>
              </li>
              <li><strong>Source</strong>: <%= post.source %></li>
              <li><strong>Tags</strong>: <%= post.presenter.inline_tag_list_html(self) %></li>
            </ul>
          </section>
        </div>
      <% end %>
    </div>

    <%= numbered_paginator(@posts) %>
  </div>
</div>

<%= render "post_disapprovals/detailed_rejection_dialog" %>
<%= render "posts/partials/common/secondary_links" %>

<% content_for(:page_title) do %>
  Mod Queue - <%= Danbooru.config.app_name %>
<% end %>
