<div id="c-moderator-post-queues">
  <div id="a-show">
    <div>
      <h1>Moderation Queue</h1>

      <div id="search">
        <%= form_tag(moderator_post_queue_path, :method => :get) do %>
          <%= text_field_tag "query", params[:query], :size => 40, :data => { :autocomplete => "tag-query" } %>
          <%= select_tag "per_page", options_for_select(%w(25 50 100 200), cookies["mq_per_page"])%>
          <%= submit_tag "Search" %>
        <% end %>
      </div>

      <div id="moderation-guideline">
        <h1>Deletion Guidelines</h1>
        <p>
          As a general rule, you should only approve of posts that you personally like. Posts that are not approved in three days will be automatically deleted. Posts with score -3 or lower are marked red. Posts with score 3 or higher are marked green. Posts with the duplicate tag are marked in yellow.
          <% if params[:hidden] %>
            <%= link_to "View pending posts", moderator_post_queue_path(:query => params[:query], :hidden => nil) %>.
          <% else %>
            <%= link_to "View hidden posts", moderator_post_queue_path(:query => params[:query], :hidden => true) %>.
          <% end %>
        </p>
      </div>

      <% @posts.each do |post| %>
        <%= render "post", post: post %>
      <% end %>
    </div>

    <%= numbered_paginator(@posts) %>
  </div>
</div>

<%= render "post_disapprovals/detailed_rejection_dialog" %>
<%= render "posts/partials/common/secondary_links" %>

<% content_for(:page_title) do %>
  Mod Queue - <%= Danbooru.config.app_name %>
<% end %>
