<div id="p-revert-listing">

  <%= table_for @commentary_versions, {class: "striped autofit", width: "100%"} do |t| %>
    <% t.column "Post", {width: "5%"} do |commentary_version| %>
      <%= link_to commentary_version.post_id, post_path(commentary_version.post_id) %>
    <% end %>
    <% t.column "Original" do |commentary_version| %>
      <%= format_commentary_title(commentary_version.original_title) %>
      <%= format_commentary_description(commentary_version.original_description) %>
    <% end %>
    <% t.column "Translated" do |commentary_version| %>
      <%= format_commentary_title(commentary_version.translated_title) %>
      <%= format_commentary_description(commentary_version.translated_description) %>
    <% end %>
    <% if CurrentUser.is_moderator? %>
      <% t.column "IP Address", {width: "10%"} do |commentary_version| %>
        <%= link_to_ip commentary_version.updater_ip_addr %>
      <% end %>
    <% end %>
    <% t.column "Edited by", {width: "10%"} do |commentary_version| %>
      <%= link_to_user commentary_version.updater %>
    <% end %>
    <% t.column "Date", {width: "10%"} do |commentary_version| %>
      <%= compact_time commentary_version.updated_at %>
    <% end %>
    <% if CurrentUser.is_member? %>
      <% t.column "", {width: "7%"} do |commentary_version| %>
        <%= link_to "Revert to", revert_artist_commentary_path(commentary_version.post_id, :version_id => commentary_version.id), :remote => true, :method => :put, :data => {:confirm => "Are you sure you want to revert to this version?"} %>
      <% end %>
    <% end %>
  <% end %>

</div>
