<div id="p-standard-listing">

  <%= table_for @commentary_versions, {class: "striped autofit", width: "100%"} do |t| %>
    <% t.column "Post", {width: "5%"} do |commentary_version| %>
      <%= PostPresenter.preview(commentary_version.post, :tags => "status:any") %>
    <% end %>
    <% t.column "Version" do |commentary_version| %>
      <%= link_to "#{commentary_version.post_id}.#{commentary_version.id}»", artist_commentary_versions_path(search: {post_id: commentary_version.post_id}) %>
    <% end %>
    <% t.column "Original" do |commentary_version| %>
      <%= format_commentary_title(commentary_version.original_title) %>
      <%= format_commentary_description(commentary_version.original_description) %>
    <% end %>
    <% t.column "Translated" do |commentary_version| %>
      <%= format_commentary_title(commentary_version.translated_title) %>
      <%= format_commentary_description(commentary_version.translated_description) %>
    <% end %>
    <% if CurrentUser.is_moderator? %>
      <% t.column "IP Address", {width: "10%"} do |commentary_version| %>
        <%= link_to_ip commentary_version.updater_ip_addr %>
      <% end %>
    <% end %>
    <% t.column "Edited by", {width: "10%"} do |commentary_version| %>
      <%= link_to_user commentary_version.updater %>
    <% end %>
    <% t.column "Date", {width: "10%"} do |commentary_version| %>
      <%= compact_time commentary_version.updated_at %>
    <% end %>
  <% end %>

</div>
