<div id="p-standard-listing">
  <table width="100%" class="striped autofit">
    <thead>
      <tr>
        <th width="5%">Post</th>
        <th>Version</th>
        <th>Original</th>
        <th>Translated</th>
        <% if CurrentUser.is_moderator? %>
          <th width="10%">IP Address</th>
        <% end %>
        <th width="10%">Edited By</th>
        <th width="10%">Date</th>
      </tr>
    </thead>
    <tbody>
      <% @commentary_versions.each do |commentary_version| %>
        <tr>
          <td><%= PostPresenter.preview(commentary_version.post, :tags => "status:any") %></td>
          <td><%= link_to "#{commentary_version.post_id}.#{commentary_version.id}»", artist_commentary_versions_path(search: {post_id: commentary_version.post_id}) %></td>
          <td>
            <h3><%= h(commentary_version.original_title) %></h3>
            <div class="prose">
              <%= format_text(commentary_version.original_description, :disable_mentions => true) %>
            </div>
          </td>
          <td>
            <h3><%= h(commentary_version.translated_title) %></h3>
            <div class="prose">
              <%= format_text(commentary_version.translated_description, :disable_mentions => true) %>
            </div>
          </td>
          <% if CurrentUser.is_moderator? %>
            <td>
              <%= link_to_ip commentary_version.updater_ip_addr %>
            </td>
          <% end %>
          <td><%= link_to_user commentary_version.updater %></td>
          <td><%= compact_time commentary_version.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
