<div id="c-artist-commentary-versions">
  <div id="a-index">
    <h1>Artist Commentary Changes</h1>

    <%= render "posts/partials/common/inline_blacklist" %>

    <% if params.dig(:search, :post_id).present? %>
      <%= render "revert_listing" %>
    <% else %>
      <%= render "standard_listing" %>
    <% end %>

    <%= numbered_paginator(@commentary_versions) %>

  </div>
</div>

<%= render "artist_commentaries/secondary_links" %>

<% content_for(:page_title) do %>
  Artist Commentary Versions - <%= Danbooru.config.app_name %>
<% end %>
