<div id="c-tag-alias-corrections">
  <div id="a-show">
    <h1>Tag Alias Correction: <%= @correction.antecedent_name %> -&gt; <%= @correction.consequent_name %></h1>

    <p>Because tag aliases are cached in memory, they may go out of sync. This action will clear out the cache and fix any lingering posts.</p>

    <div style="margin-bottom: 1em;">
      <ul>
        <li><strong><%= link_to @correction.antecedent_name, posts_path(:tags => @correction.antecedent_name, :raw => true) %></strong> aliased to <strong><%= @correction.statistics_hash["antecedent_cache"] %></strong> in cache</li>
        <li><strong><%= @correction.consequent_name %></strong> aliased to <strong><%= @correction.statistics_hash["consequent_cache"] %></strong> in cache</li>
        <li><strong><%= @correction.antecedent_name %></strong> count is <%= @correction.statistics_hash["antecedent_count"] %></li>
        <li><strong><%= @correction.consequent_name %></strong> count is <%= @correction.statistics_hash["consequent_count"] %></li>
      </ul>
    </div>

    <p>You can try to fix this alias. This will clear the cache and re-save all posts associated with <strong><%= @correction.antecedent_name %></strong>.</p>

    <%= form_tag(tag_alias_correction_path(:tag_alias_id => @correction.tag_alias_id)) do %>
      <%= submit_tag "Fix" %>
      <%= submit_tag "Cancel" %>
    <% end %>
  </div>
</div>

<%= render "tag_aliases/secondary_links" %>

<% content_for(:page_title) do %>
  Tag Alias Correction - <%= Danbooru.config.app_name %>
<% end %>