<div id="c-saved-searches">
  <div id="a-edit">
    <h1>Change Category</h1>

    <%= form_tag(saved_search_category_change_path, :class => "simple_form") do %>
      <div class="input">
        <label for="old">Old Category</label>
        <%= text_field_tag "old", params[:old] %>
      </div>

      <div class="input">
        <label for="new">New Category</label>
        <%= text_field_tag "new" %>
      </div>

      <%= submit_tag %>
    <% end %>
  </div>
</div>

<%= render "saved_searches/secondary_links" %>

<% content_for(:page_title) do %>
  Edit Category - <%= Danbooru.config.app_name %>
<% end %>
