<div class="report-dialog-body">
  <%= embed_wiki("help:report_notice") %>

  <%= edit_form_for(moderation_report, format: :js, remote: true) do |f| %>
    <%= f.hidden_field :model_type %>
    <%= f.hidden_field :model_id %>
    <%= f.input :reason, as: :dtext, inline: true %>
    <%= dtext_preview_button "moderation_report_reason" %>
  <% end %>
</div>
