<h2>Artist's commentary</h2>

<menu id="commentary-sections">
  <% if artist_commentary.original_present? && artist_commentary.translated_present? %>
    <li><a href="#original">Original</a></li> |
    <li class="active"><a href="#translated">Translated</a></li>
  <% elsif artist_commentary.original_present? %>
    <li><b>Original</b></li>
  <% elsif artist_commentary.translated_present? %>
    <li><b>Translated</b></li>
  <% end %>
</menu>

<% if artist_commentary.original_present? %>
  <%= tag.section id: "original-artist-commentary", style: ("display: none" if artist_commentary.translated_present?) do %>
    <h3><span class="prose"><%= artist_commentary.dtext_original_title.format_text %></span></h3>
    <h3><span class="prose"><%= artist_commentary.dtext_original_description.format_text %></span></h3>
  <% end %>
<% end %>

<% if artist_commentary.translated_present? %>
  <section id="translated-artist-commentary">
    <% if artist_commentary.translated_title.present? %>
      <h3><span class="prose"><%= artist_commentary.dtext_translated_title.format_text %></span></h3>
    <% else %>
      <h3><span class="prose inactive"><%= artist_commentary.dtext_original_title.format_text %></span></h3>
    <% end %>

    <% if artist_commentary.translated_description.present? %>
      <h3><span class="prose"><%= artist_commentary.dtext_translated_description.format_text %></span></h3>
    <% else %>
      <h3><span class="prose inactive"><%= artist_commentary.dtext_original_description.format_text %></span></h3>
    <% end %>
  </section>
<% end %>
