<h2>Artist's commentary</h2>

<menu id="commentary-sections">
  <% if artist_commentary.original_present? && artist_commentary.translated_present? %>
    <li><a href="#original">Original</a></li> |
    <li class="active"><a href="#translated">Translated</a></li>
  <% elsif artist_commentary.original_present? %>
    <li><b>Original</b></li>
  <% elsif artist_commentary.translated_present? %>
    <li><b>Translated</b></li>
  <% end %>
</menu>

<% if artist_commentary.original_present? %>
  <%= tag.section id: "original-artist-commentary", style: ("display: none" if artist_commentary.translated_present?) do %>
    <h3><%= artist_commentary.original_title %></h3>
    <div class="prose">
      <%= format_text(artist_commentary.original_description, :disable_mentions => true) %>
    </div>
  <% end %>
<% end %>

<% if artist_commentary.translated_present? %>
  <section id="translated-artist-commentary">
    <h3>
      <% if artist_commentary.translated_title.present? %>
        <%= artist_commentary.translated_title %>
      <% else %>
        <span class="inactive"><%= artist_commentary.original_title %></span>
      <% end %>
    </h3>
    <div class="prose">
      <% if artist_commentary.translated_description.present? %>
        <%= format_text(artist_commentary.translated_description, :disable_mentions => true) %>
      <% else %>
        <span class="inactive"><%= format_text(artist_commentary.original_description, :disable_mentions => true) %></span>
      <% end %>
    </div>
  </section>
<% end %>
