<div id="c-artist-commentaries">
  <div id="a-index">
    <h1>Artist Commentary</h1>

    <%= render "posts/partials/common/inline_blacklist" %>

    <%= table_for @commentaries, width: "100%" do |t| %>
      <% t.column "Post", width: "1%" do |commentary| %>
        <%= PostPresenter.preview(commentary.post, show_deleted: true) %>
      <% end %>
      <% t.column "Original" do |commentary| %>
          <%= format_commentary_title(commentary.original_title) %>
          <%= format_commentary_description(commentary.original_description) %>
      <% end %>
      <% t.column "Translated" do |commentary| %>
        <%= format_commentary_title(commentary.translated_title) %>
        <%= format_commentary_description(commentary.translated_description) %>
      <% end %>
    <% end %>

    <%= numbered_paginator(@commentaries) %>
  </div>
</div>

<%= render "secondary_links" %>
