<div id="c-artist-commentaries">
  <div id="a-index">
    <h1>Artist Commentary</h1>

    <%= render "posts/partials/common/inline_blacklist" %>

    <table width="100%" class="striped">
      <thead>
        <tr>
          <th width="1%">Post</th>
          <th>Original</th>
          <th>Translated</th>
        </tr>
      </thead>
      <tbody>
        <% @commentaries.each do |commentary| %>
          <tr>
            <td><%= PostPresenter.preview(commentary.post, :tags => "status:any") %></td>
            <td>
              <%= format_commentary_title(commentary.original_title) %>
              <%= format_commentary_description(commentary.original_description) %>
            </td>
            <td>
              <%= format_commentary_title(commentary.translated_title) %>
              <%= format_commentary_description(commentary.translated_description) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@commentaries) %>
  </div>
</div>

<%= render "secondary_links" %>
