<div id="c-artist-commentaries">
  <div id="a-search">
    <h1>Search Artist Commentary</h1>

    <%= simple_form_for(:search, url: artist_commentaries_path, method: :get, defaults: { required: false }) do |f| %>
      <%= f.input :text_matches, label: "Text" %>
      <%= f.input :post_tags_match, label: "Tags", input_html: { data: { autocomplete: "tag-query" } } %>
      <%= f.input :original_present, label: "Original present?", collection: ["yes", "no"], include_blank: true %>
      <%= f.input :translated_present, label: "Translation present?", collection: ["yes", "no"], include_blank: true %>
      <%= f.submit "Search" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Search Artist Commentary - <%= Danbooru.config.app_name %>
<% end %>
