<div class="header">
  <div class="row">
    <span class="info">
      <strong>Date</strong>
      <%= compact_time(post.created_at) %>
    </span>
    <span class="info">
      <strong>Uploader</strong>
      <%= link_to_user(post.uploader) %>
    </span>
    <span class="info">
      <strong>Rating</strong>
      <%= post.pretty_rating %>
    </span>
    <span class="info">
      <strong>Score</strong>
      <%= render_post_votes post, current_user: CurrentUser.user %>
    </span>
  </div>
  <div class="row list-of-tags">
    <strong>Tags</strong>
    <%= render_inline_tag_list(post) %>
  </div>
</div>

