<div class="header">
  <div class="row">
    <span class="info">
      <strong>Date</strong>
      <%= compact_time(post.created_at) %>
    </span>
    <span class="info">
      <strong>Uploader</strong>
      <%= link_to_user(post.uploader) %>
    </span>
    <span class="info">
      <strong>Rating</strong>
      <%= post.pretty_rating %>
    </span>
    <span class="info">
      <strong>Score</strong>
      <span>
        <span id="score-for-post-<%= post.id %>"><%= post.score %></span>
        <% if policy(PostVote).create? %>
          (vote <%= link_to(content_tag("i", nil, class: "far fa-thumbs-up"), post_post_votes_path(:score => "up", :post_id => post.id), :remote => true, :method => :post) %>/<%= link_to(content_tag("i", nil, class: "far fa-thumbs-down"), post_post_votes_path(:score => "down", :post_id => post.id), :remote => true, :method => :post) %>)
        <% end %>
      </span>
    </span>
  </div>
  <div class="row list-of-tags">
    <strong>Tags</strong>
    <%= post.presenter.inline_tag_list_html %>
  </div>
</div>

