<div class="comments-for-post" data-post-id="<%= post.id %>">
  <% if page == :comments %>
    <%= render "comments/partials/index/header", :post => post %>
  <% end %>

  <% if post.moderation_reports.visible(CurrentUser.user).recent.present? %>
    <div class="row moderation-comments-notice">
      <span class="info" id="moderation-comments-notice-for-<%= post.id %>">
        This post has comments reported for moderation! (<%= pluralize(post.moderation_reports.visible(CurrentUser.user).recent.length, "report") %>)
      </span>
    </div>
  <% end %>
  <% if post.comments.hidden(CurrentUser.user).any? || (page == :comments && post.comments.size > 6) %>
    <div class="row hidden-comments-notice">
      <span class="info" id="threshold-comments-notice-for-<%= post.id %>">
        <%= link_to "Show #{pluralize post.comments.hidden(CurrentUser.user).size, "hidden comment"}", comments_path(post_id: post.id), id: "show-all-comments-link", remote: true %>
      </span>
    </div>
  <% end %>

  <div class="list-of-comments list-of-messages">
    <% if comments.present? %>
      <%= render partial: "comments/partials/show/comment", collection: comments, locals: { context: :index_by_post, dtext_data: DText.preprocess(comments.map(&:body)), moderation_reports: post.moderation_reports.visible(CurrentUser.user).recent } %>
    <% elsif post.last_commented_at.present? %>
      <p>There are no visible comments.</p>
    <% else %>
      <p>There are no comments.</p>
    <% end %>
  </div>

  <% if policy(Comment).create? %>
    <div class="new-comment">
      <p><%= link_to "Post comment", new_comment_path(comment: { post_id: post.id }), :class => "expand-comment-response" %></p>
      <%= render "comments/form", comment: post.comments.new, hidden: true %>
    </div>
  <% end %>
</div>
