<div class="posts">
  <div class="index">
    <% if @post_set.suggestions.any? %>
      <div class="notice">
        Maybe you meant: <%= @post_set.suggestions.map {|x| link_to(x, posts_path(:tags => x), :class => "tag-type-#{Tag.type_name(x)}" )}.to_sentence(:last_word_connector => ", or ", :two_words_connector => " or ") %>
      </div>
    <% end %>

    <aside id="sidebar">
      <section id="search-box">
        <h1>Search</h1>
        <%= form_tag(posts_path, :method => "get") do %>
          <%= text_field_tag("tags", params[:tags], :size => 20) %>
          <%= submit_tag "Go" %>
        <% end %>    
      </section>

      <% if CurrentUser.user.is_privileged? %>
        <section id="mode-box">
          <%= render :partial => "posts/partials/index/mode_menu" %>
        </section>
      <% end %>

      <section id="blacklist-box">
        <h1>Blacklisted</h1>
        <%= link_to "Hidden", "#" %>
        <ul>
        </ul>
      </section>
      
      <%= render :partial => "posts/partials/index/explore", :locals => {:post_set => @post_set} %>

      <section id="tag-and-wiki-box">
        <menu>
          <li><h1><a href="#tag-box">Tags</a></h1></li>
          <% unless @post_set.tags.blank?  %>
            <li><h1><a href="#wiki-box">Wiki</a></h1></li>
          <% end %>
        </menu>

        <div id="tag-box">
          <h2>Tags</h2>
          <%= @post_set.presenter.tag_list_html(self) %>
        </div>

        <div id="wiki-box">
          <h2>Wiki</h2>
          <%= @post_set.presenter.wiki_html(self) %>
        </div>
      </section>
    </aside>

    <section id="content">
      <h1>Posts</h1>
      <%= @post_set.presenter.post_previews_html %>

      <div class="clearfix"></div>
    
      <div class="paginator">
        <%= @post_set.presenter.pagination_html(self) %>
      </div>
    </section>
    
    <% content_for(:page_title) do %>
      / <%= @post_set.tags %>
    <% end %>

    <%= render :partial => "posts/partials/common/secondary_links" %>    
  </div>
</div>

