<div id="c-posts">
  <div id="a-index">
    <aside id="sidebar">
      <%= render "posts/partials/common/search", :path => posts_path, :tags => params[:tags] %>

      <%= render "posts/partials/index/mode_menu" %>

      <section id="tag-box">
        <h1>Tags</h1>
        <%= @post_set.presenter.tag_list_html(self) %>
      </section>

      <%= render "posts/partials/index/blacklist" %>
    </aside>

    <section id="content">
      <%= render "posts/partials/index/edit" %>
      <%= render "wiki_pages/excerpt", :post_set => @post_set %>
      <%= render "posts/partials/index/posts", :post_set => @post_set %>
    </section>
    
    <% content_for(:page_title) do %>
      <% if @post_set.tag_string.present? %>
        <%= @post_set.tag_string %> - <%= Danbooru.config.app_name %>
      <% else %>
        <%= Danbooru.config.app_name %>
      <% end %>
    <% end %>

    <%= render "posts/partials/common/secondary_links" %>    
  </div>
</div>

