<?xml version="1.0" encoding="UTF-8"?>

<feed xmlns="http://www.w3.org/2005/Atom">
  <title><%= Danbooru.config.app_name %><% if !params[:tags].blank? %>: <%= params[:tags] %><% end %></title>
  <link href="<%= posts_url(tags: params[:tags], format: :atom) %>" rel="self"/>
  <link href="<%= posts_url(tags: params[:tags]) %>" rel="alternate"/>
  <id><%= posts_url(tags: params[:tags], format: :atom) %></id>
  <% if @posts.any? %>
    <updated><%= @posts[0].created_at.gmtime.xmlschema %></updated>
  <% end %>
  <author><name><%= Danbooru.config.app_name %></name></author>

  <% @posts.select(&:visible?).each do |post| %>
    <entry>
      <title><%= post.presenter.humanized_essential_tag_string %></title>
      <link href="<%= post_url(post) %>" rel="alternate"/>
      <% if post.source =~ %r{\Ahttps?://} %>
        <link href="<%= post.source %>" rel="related"/>
      <% end %>
      <id><%= post_url(post) %></id>
      <updated><%= post.created_at.gmtime.xmlschema %></updated>
      <summary><%= post.tag_string %></summary>
      <content type="xhtml">
        <div xmlns="http://www.w3.org/1999/xhtml">
          <%= link_to post_url(post) do %>
            <%= image_tag post.preview_file_url %>
          <% end %>
          <p><%= post.tag_string %></p>
        </div>
      </content>
      <author>
        <name><%= post.uploader.name %></name>
      </author>
    </entry>
  <% end %>
</feed>
