<% content_for(:sidebar) do %>
  <%= render "posts/partials/common/search", :path => posts_path, :tags => params[:tags], :tags_dom_id => "tags" %>

  <%= render "posts/partials/index/mode_menu" %>

  <%= render "posts/partials/index/blacklist" %>

  <section id="tag-box">
    <h2>Tags</h2>
    <%= @post_set.tag_list_html(current_query: params[:tags], show_extra_links: policy(Post).show_extra_links?) %>
  </section>

  <%= render "posts/partials/index/options" %>

  <%= render "posts/partials/index/related", post_set: @post_set %>
<% end %>

<% content_for(:content) do %>
  <menu id="post-sections">
    <li class="active"><a href="#" id="show-posts-link">Posts</a></li>

    <% if @post_set.artist.present? %>
      <li class="artist-excerpt-link"><%= link_to "Artist", artist_path(@post_set.artist), :id => "show-excerpt-link" %></li>
    <% elsif @post_set.wiki_page.present? %>
      <li class="wiki-excerpt-link"><%= link_to "Wiki", wiki_page_path(@post_set.wiki_page), :id => "show-excerpt-link" %></li>
    <% elsif @post_set.pool.present? %>
      <li class="pool-excerpt-link"><%= link_to "Pool", pool_path(@post_set.pool), :id => "show-excerpt-link" %></li>
    <% elsif @post_set.favgroup.present? %>
      <li class="favgroup-excerpt-link"><%= link_to "Favorite Group", favorite_group_path(@post_set.favgroup), :id => "show-excerpt-link" %></li>
    <% elsif @post_set.has_blank_wiki? %>
      <li class="blank-wiki-excerpt-link"><%= link_to "Wiki", new_wiki_page_path(wiki_page: { title: @post_set.tag.name }), id: "show-excerpt-link" %></li>
    <% end %>

    <li id="searchbox-redirect-link" class="mobile-only"><a href="#search-box">Search &raquo;</a></li>
  </menu>

  <%= render "posts/partials/index/edit" %>
  <%= render "posts/partials/index/excerpt", :post_set => @post_set %>
  <%= render "posts/partials/index/posts", :post_set => @post_set %>
<% end %>

<div id="saved-searches-nav">
  <%= render "saved_searches/interface" %>
</div>

<% if params[:tags] =~ /search:/ %>
  <%= render "saved_searches/secondary_links" %>
<% else %>
  <%= render "posts/partials/common/secondary_links" %>
<% end %>

<% if @post_set.query.is_simple_tag? && @post_set.current_page == 1 %>
  <% if @post_set.post_count == 0 %>
    <%= missed_post_search_count_js(@post_set.query.to_s) %>
  <% else %>
    <%= post_search_count_js(@post_set.query.to_s) %>
  <% end %>
<% end %>

<% content_for(:html_header) do %>
  <%= render "posts/partials/index/seo_meta_tags" %>
<% end %>
