<div id="c-posts">
  <div id="a-index">
    <aside id="sidebar">
      <%= render "posts/partials/common/search", :path => posts_path, :tags => params[:tags] %>

      <%= render_advertisement("vertical") %>

      <%= render "posts/partials/index/mode_menu" %>

      <%= render "posts/partials/index/blacklist" %>

      <section id="tag-box">
        <h1>Tags</h1>
        <%= @post_set.presenter.tag_list_html(self) %>
      </section>

      <%= render "posts/partials/index/related" %>
    </aside>

    <section id="content">
      <menu id="post-sections">
        <li class="active"><a href="#posts" id="show-posts-link">Posts</a></li>

        <% if @post_set.has_wiki? %>
          <li><a href="#wiki-except" id="show-wiki-excerpt-link">Wiki</a></li>
        <% end %>
      </menu>

      <%= render "posts/partials/index/edit" %>
      <%= render "wiki_pages/excerpt", :post_set => @post_set %>
      <%= render "posts/partials/index/posts", :post_set => @post_set %>

      <%= render_rss_advertisement("short", @post_set.has_explicit?) %>
    </section>

    <% content_for(:page_title) do %>
      <% if @post_set.tag_string.present? %>
        <%= @post_set.humanized_tag_string %> - <%= Danbooru.config.app_name %>
      <% else %>
        <%= Danbooru.config.app_name %>
      <% end %>
    <% end %>

    <%= render "posts/partials/common/secondary_links" %>

  </div>
</div>

<%= content_for(:html_header) do %>
  <link href="<%= posts_path(:format => 'atom', :tags => params[:tags]) %>" rel="alternate" title="ATOM" type="application/atom+xml" />
  <% if @post_set.wiki_page %>
    <meta name="description" content="<%= @post_set.wiki_page.presenter.blurb %>"></meta>
  <% end %>
<% end %>
