<div id="c-posts">
  <div id="a-show">
    <aside id="sidebar">
      <section>
        <h1>Search</h1>
        <%= render :partial => "posts/partials/common/search" %>
      </section>
      
      <% if @post.pools.any? %>
        <section id="pool-sidebar">
          <h1>Pools</h1>
          <%= render :partial => "posts/partials/show/pools", :locals => {:post => @post} %>
        </section>
      <% end %>

      <section>
        <h1>Tags</h1>
        <%= @post.presenter.tag_list_html(self) %>
      </section>

      <section>
        <h1>Information</h1>
        <%= render :partial => "posts/partials/show/information", :locals => {:post => @post} %>
      </section>
      
      <section>
        <h1>Options</h1>
        <%= render :partial => "posts/partials/show/options", :locals => {:post => @post} %>
      </section>

      <section>
        <h1>History</h1>
        <ul>
          <li><%= link_to "Tags", post_versions_path(:search => {:post_id_eq => @post.id}) %></li>
          <li><%= link_to "Notes", note_versions_path(:search => {:post_id_eq => @post.id}) %></li>
        </ul>
      </section>

    </aside>

    <section id="content">
      <%= render :partial => "posts/partials/show/notices", :locals => {:post => @post} %>

      <section id="image-container">
        <div id="note-container"></div>
        <%= @post.presenter.image_html(self) %>
      </section>
      
      <menu id="post-sections">
        <li><a href="#comments">Comments</a></li>
        <li><a href="#notes">Notes</a></li>
        <li><a href="#edit">Edit</a></li>
      </menu>

      <section id="comments">
        <%= render :partial => "comments/partials/index/list", :locals => {:comments => @post.comments, :post => @post, :show_header => false} %>
      </section>

      <section id="notes">
        <% if @post.notes.active.empty? %>
          <p>There are no notes.</p>
        <% end %>

        <%= render :partial => "notes/note", :collection => @post.notes.active %>
      </section>

      <section id="edit">
        <%= render :partial => "posts/partials/show/edit", :locals => {:post => @post} %>
      </section>
    </section>    
  </div>

  <div id="flag-dialog" title="Flag Post">
    <%= render :template => "post_flags/new" %>
  </div>

  <div id="appeal-dialog" title="Appeal Post">
    <%= render :template => "post_appeals/new" %>
  </div>
  
  <div id="add-to-pool-dialog" title="Add to Pool">
    <%= render :template => "pool_elements/new" %>
  </div>
</div>

<% content_for(:page_title) do %>
  /p/<%= @post.tag_string %>
<% end %>

<% content_for(:html_header) do %>
  <meta name="tags" content="<%= @post.tag_string %>">
  <meta name="favorites" content="<%= @post.fav_string %>">
  <meta name="pools" content="<%= @post.pool_string %>">
  <meta name="post-id" content="<%= @post.id %>">
  <meta name="post-is-approvable" content="<%= @post.is_approvable? %>">
  <meta name="post-is-deleted" content="<%= @post.is_deleted? %>">
<% end %>

<%= render :partial => "posts/partials/common/secondary_links" %>
