<aside class="sidebar">
  <section>
    <h1>Search</h1>
    <%= render :partial => "posts/partials/common/search" %>
  </section>
  
  <section>
    <h1>Tags</h1>
    <%= @post.presenter.tag_list_html(self, @current_user) %>
  </section>
  
  <section>
    <h1>Information</h1>
    <%= render :partial => "posts/partials/show/information", :locals => {:post => @post} %>
  </section>

  <section>
    <h1>Options</h1>
    <%= render :partial => "posts/partials/show/options", :locals => {:post => @post} %>
  </section>  
</aside>

<section>
  <h1>Post</h1>
  
  <section>
    <h2>Image</h2>
    <%= @post.presenter.image_html(self, @current_user) %>
  </section>
  
  <section>
    <h2>Notes</h2>
    <%= render :partial => "notes/note", :collection => @post.notes.active %>
  </section>
  
  <section>
    <h2>Comments</h2>
    <%= render :partial => "comments/partials/index/list", :locals => {:comments => @post.comments, :post => @post} %>
  </section>
  
  <section>
    <h2>Edit</h2>
    <%= render :partial => "posts/partials/show/edit", :locals => {:post => @post} %>
  </section>
</section>

<% content_for(:page_title) do %>
  / <%= @post.tag_string %>
<% end %>

<% content_for(:html_header) do %>
  <meta name="tags" content="<%= @post.tag_string %>">
  <meta name="favorites" content="<%= @post.fav_string %>">
  <meta name="pools" content="<%= @post.pool_string %>">
<% end %>

<%= render :partial => "posts/common_secondary_nav_links" %>
