<aside>
  <section>
    <h1>Search</h1>
    <% form_tag(posts_path, :method => "get") do %>
      <%= text_field_tag("tags", params[:tags], :size => 20) %>
      <%= submit_tag "Go" %>
    <% end %>
  </section>
  
  <section>
    <h1>Tags</h1>
    <%= @post.presenter.tag_list_html %>
  </section>
  
  <section>
    <h1>Information</h1>
    <%= render :partial => "information", :locals => {:post => @post} %>
  </section>

  <section>
    <h1>Options</h1>
    <%= render :partial => "options", :locals => {:post => @post} %>
  </section>  
</aside>

<section>
  <h1>Post</h1>
  
  <section>
    <h2>Image</h2>
    <%= @post.presenter.image_html(self, @current_user) %>
  </section>
  
  <section>
    <h2>Notes</h2>
    <%= @post.presenter.note_html %>
  </section>
  
  <section>
    <h2>Comments</h2>
  </section>
  
  <section>
    <h2>Edit</h2>
  </section>
</section>

<% content_for(:page_title) do %>
  / <%= @post.tag_string %>
<% end %>

<% content_for(:html_header) do %>
  <meta name="tags" content="<%= @post.tag_string %>">
  <meta name="favorites" content="<%= @post.fav_string %>">
  <meta name="pools" content="<%= @post.pool_string %>">
<% end %>

<%= render :partial => "posts/common_secondary_nav_links" %>
