<div id="c-posts">
  <div id="a-show">
    <aside id="sidebar">
      <%= render "posts/partials/common/search", :path => posts_path, :tags => params[:tags] %>

      <%= render "posts/partials/index/blacklist" %>

      <section id="tag-list">
        <%= @post.presenter.split_tag_list_html(self) %>
      </section>

      <section>
        <h1>Information</h1>
        <%= render "posts/partials/show/information", :post => @post %>
      </section>

      <% if CurrentUser.is_member? %>
        <section>
          <h1>Options</h1>
          <%= render "posts/partials/show/options", :post => @post %>
        </section>
      <% end %>

      <section>
        <h1>History</h1>
        <ul>
          <li><%= fast_link_to "Tags", post_versions_path(:search => {:post_id => @post.id}) %></li>
          <li><%= fast_link_to "Notes", note_versions_path(:search => {:post_id => @post.id}) %></li>
          <li><%= fast_link_to "Flags", post_flags_path(:search => {:post_id => @post.id}) %></li>
          <li><%= fast_link_to "Appeals", post_appeals_path(:search => {:post_id => @post.id}) %></li>
        </ul>
      </section>

    </aside>

    <section id="content">
      <% if @post.presenter.has_nav_links?(self) %>
        <%= render "posts/partials/show/nav_links", :post => @post, :position => "top" %>
      <% end %>

      <%= render "posts/partials/show/notices", :post => @post %>

      <section id="image-container" data-tags="<%= @post.tag_string %>" data-uploader="<%= @post.uploader_name %>" data-rating="<%= @post.rating %>" data-flags="<%= @post.status_flags %>">
        <div id="note-container"></div>
        <div id="note-preview"></div>
        <%= @post.presenter.image_html(self) %>
      </section>

      <% if @post.presenter.has_nav_links?(self) %>
        <%= render "posts/partials/show/nav_links", :post => @post, :position => "bottom" %>
      <% end %>

      <menu id="post-sections">
        <li><a href="#comments">Comments</a></li>
        <% if CurrentUser.is_member? && Danbooru.config.can_user_see_post?(CurrentUser.user, @post) %>
          <li><a href="#edit" id="post-edit-link">Edit</a></li>
        <% end %>
        <li><a href="#share">Share</a></li>
      </menu>

      <section id="comments">
        <% if !CurrentUser.user.is_builder? %>
          <h2>Before commenting, read the <%= link_to "how to comment guide", wiki_pages_path(:search => {:title => "howto:comment"}) %>.</h2>
        <% end %>
        <%= render "comments/partials/index/list", :comments => @post.comments.visible(CurrentUser.user), :post => @post, :show_header => false %>
      </section>

      <section id="notes" style="display: none;">
        <%= render :partial => "notes/note", :collection => @post.notes.active %>
      </section>

      <% if CurrentUser.is_member? && Danbooru.config.can_user_see_post?(CurrentUser.user, @post) %>
        <section id="edit" style="display: none;">
          <%= render "posts/partials/show/edit", :post => @post %>
        </section>
      <% end %>

      <section id="share" style="display: none;">
        <%= render "posts/partials/show/share", :post => @post %>
      </section>
    </section>
  </div>

  <div id="flag-dialog" title="Flag post" style="display: none;">
    <%= render "post_flags/new" %>
  </div>

  <div id="appeal-dialog" title="Appeal post" style="display: none;">
    <%= render "post_appeals/new" %>
  </div>

  <div id="add-to-pool-dialog" title="Add to pool" style="display: none;">
    <%= render "pool_elements/new" %>
  </div>
</div>

<% content_for(:page_title) do %>
  <%= @post.presenter.humanized_essential_tag_string %> - <%= Danbooru.config.app_name %>
<% end %>

<% content_for(:html_header) do %>
  <meta name="tags" content="<%= @post.tag_string %>">
  <meta name="favorites" content="<%= @post.fav_string %>">
  <meta name="pools" content="<%= @post.pool_string %>">
  <meta name="post-id" content="<%= @post.id %>">
  <meta name="post-is-approvable" content="<%= @post.is_approvable? %>">
  <meta name="post-is-deleted" content="<%= @post.is_deleted? %>">
  <meta name="post-is-flagged" content="<%= @post.is_flagged? %>">
  <meta name="config-large-width" content="<%= Danbooru.config.large_image_width %>">
  <meta name="always-resize-images" content="<%= CurrentUser.user.always_resize_images? %>">
  <meta property="og:title" content="<%= @post.presenter.humanized_essential_tag_string %> - <%= Danbooru.config.app_name %>">
  <meta property="og:description" content="<%= @post.presenter.humanized_tag_string %>">
  <meta property="og:image" content="<%= @post.preview_file_url %>">

  <!-- Twitter properties -->
  <% if @post.twitter_card_supported? %>
    <meta name="twitter:card" content="photo">
    <meta name="twitter:image:src" content="http://<%= Danbooru.config.hostname %><%= @post.large_file_url %>">
    <meta name="twitter:image:width" content="<%= @post.image_width %>">
    <meta name="twitter:image:height" content="<%= @post.image_height %>">
  <% end %>

  <% if @post.presenter.next_post_in_pool %>
    <link rel="prefetch" href="<%= post_path(@post.presenter.next_post_in_pool, :pool_id => params[:pool_id]) %>">
    <link rel="prerender" href="<%= post_path(@post.presenter.next_post_in_pool, :pool_id => params[:pool_id]) %>">
  <% end %>
<% end %>

<%= render "posts/partials/common/secondary_links" %>
