<div class="post-tooltip-header flex gap-2 items-center whitespace-nowrap h-6">
  <%= link_to_user @post.uploader, classes: "truncate" %>

  <%= link_to posts_path(tags: "date:#{@post.created_at.strftime("%Y-%m-%d")}"), class: "post-tooltip-date inactive-link" do %>
    <%= time_ago_in_words_tagged(@post.created_at, compact: true) %>
  <% end %>

  <span class="post-tooltip-score">
    <%= render_post_votes @post, current_user: CurrentUser.user %>
  </span>

  <span class="flex-grow-1"></span>

  <% if Danbooru.config.comments_enabled?.to_s.truthy? && @post.last_commented_at.present? %>
    <span class="post-tooltip-comments text-muted">
      <span><%= @post.comments.count %></span>
      <%= comments_icon(class: "text-xxs") %>
    </span>
  <% end %>

  <%= link_to "#{@post.rating.upcase}", posts_path(tags: "rating:#{@post.pretty_rating}"), class: "post-tooltip-rating inactive-link" %>
  <%= link_to "#{@post.media_asset.image_width}x#{@post.media_asset.image_height}", @post.media_asset, class: "post-tooltip-dimensions inactive-link" %>

  <% if @post.parsed_source.present? %>
    <%= external_link_to @post.normalized_source, external_site_icon(@post.parsed_source.site_name, class: "h-3"), title: @post.normalized_source, class: "post-tooltip-source" %>
  <% end %>

  <%= render PopupMenuComponent.new do |menu| %>
    <% menu.item do %>
      <%= link_to "javascript:void(0)", class: "post-tooltip-disable"  do %>
        <%= close_icon %> Disable tooltips
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="post-tooltip-body thin-scrollbar text-xs flex <%= "has-preview gap-1" if params[:preview].truthy? %>">
  <div class="flex-none">
    <% if params[:preview].truthy? %>
      <%= post_preview(@post, show_deleted: true, compact: true) %>
    <% end %>
  </div>

  <div class="flex-1 min-w-0 space-y-1">
    <% if CurrentUser.is_approver? %>
      <% if @post.is_flagged? %>
        <div class="post-tooltip-flag">
          <strong>Flag</strong>
          <%= render "post_flags/reasons", flag: @post.flags.select(&:pending?).last %>
        </div>
      <% elsif @post.is_appealed? %>
        <div class="post-tooltip-appeal">
          <strong>Appeal</strong>
          <%= render "post_appeals/reasons", appeal: @post.appeals.select(&:pending?).last %>
        </div>
      <% end %>

      <% if @post.disapprovals.map(&:message).any?(&:present?) %>
        <div class="post-tooltip-disapprovals">
          <% @post.disapprovals.sort_by(&:id).select { |disapproval| disapproval.message.present? }.each do |disapproval| %>
            <ul class="post-disapproval-reason">
              <li>
                <strong>Disapproval</strong>
                <span class="prose"><%= format_text(disapproval.message.strip.chomp("."), inline: true) %></span>

                <% if policy(disapproval).can_view_creator? %>
                  (<%= link_to_user(disapproval.user) %>, <%= time_ago_in_words_tagged(disapproval.created_at) %>)
                <% else %>
                  (<%= time_ago_in_words_tagged(disapproval.created_at) %>)
                <% end %>
              </li>
            </ul>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <div class="post-tooltip-pools">
      <% @post.pools.series.undeleted.each do |pool| %>
        <%= link_to pool, class: "pool-category-#{pool.category} break-all" do %>
          <%= "pool:#{pool.name} [#{pool.page_number(@post.id)}/#{pool.post_count}]" %>
        <% end %>
      <% end %>
    </div>

    <%= render_inline_tag_list(@post) %>
  </div>
</div>
