<div id="c-posts">
  <div id="a-show">
    <aside id="sidebar">
      <%= render "posts/partials/common/search", :path => posts_path, :tags => params[:tags] %>
      
      <% if @post.pools.any? %>
        <section id="pool-sidebar">
          <h1>Pools</h1>
          <%= render "posts/partials/show/pools", :post => @post %>
        </section>
      <% end %>

      <section>
        <h1>Tags</h1>
        <%= @post.presenter.tag_list_html(self) %>
      </section>

      <section>
        <h1>Information</h1>
        <%= render "posts/partials/show/information", :post => @post %>
      </section>
      
      <section>
        <h1>Options</h1>
        <%= render "posts/partials/show/options", :post => @post %>
      </section>

      <section>
        <h1>History</h1>
        <ul>
          <li><%= link_to "Tags", post_versions_path(:search => {:post_id_eq => @post.id}) %></li>
          <li><%= link_to "Notes", note_versions_path(:search => {:post_id_eq => @post.id}) %></li>
        </ul>
      </section>

    </aside>

    <section id="content">
      <%= render "posts/partials/show/notices", :post => @post %>

      <section id="image-container">
        <div id="note-container"></div>
        <%= @post.presenter.image_html(self) %>
      </section>
      
      <menu id="post-sections">
        <li><a href="#comments">Comments</a></li>
        <li><a href="#edit" id="post-edit-link">Edit</a></li>
      </menu>

      <section id="comments">
        <%= render "comments/partials/index/list", :comments => @post.comments, :post => @post, :show_header => false %>
      </section>

      <section id="notes" style="display: none;">
        <%= render :partial => "notes/note", :collection => @post.notes.active %>
      </section>

      <section id="edit" style="display: none;">
        <%= render "posts/partials/show/edit", :post => @post %>
      </section>
    </section>    
  </div>

  <div id="flag-dialog" title="Flag Post">
    <%= render :template => "post_flags/new" %>
  </div>

  <div id="appeal-dialog" title="Appeal Post">
    <%= render :template => "post_appeals/new" %>
  </div>
  
  <div id="add-to-pool-dialog" title="Add to Pool">
    <%= render :template => "pool_elements/new" %>
  </div>
</div>

<% content_for(:page_title) do %>
  <%= @post.tag_string %> - <%= Danbooru.config.app_name %>
<% end %>

<% content_for(:html_header) do %>
  <meta name="tags" content="<%= @post.tag_string %>">
  <meta name="favorites" content="<%= @post.fav_string %>">
  <meta name="pools" content="<%= @post.pool_string %>">
  <meta name="post-id" content="<%= @post.id %>">
  <meta name="post-is-approvable" content="<%= @post.is_approvable? %>">
  <meta name="post-is-deleted" content="<%= @post.is_deleted? %>">
  <meta name="post-is-flagged" content="<%= @post.is_flagged? %>">
  <meta name="config-medium-width" content="<%= Danbooru.config.medium_image_width %>">
  <meta name="config-large-width" content="<%= Danbooru.config.large_image_width %>">
<% end %>

<%= render "posts/partials/common/secondary_links" %>
