<div id="posts" class="user-disable-cropped-<%= Danbooru.config.enable_image_cropping && CurrentUser.user.disable_cropped_thumbnails? %>">
  <div id="posts-container">
    <%= post_set.presenter.post_previews_html(self) %>
  </div>

  <% if post_set.hidden_posts.present? %>
    <div class="fineprint hidden-posts-notice">
      <% if post_set.banned_posts.present? %>
        <%= post_set.banned_posts.size %> post(s) were removed from this page at the artist's request (<%= link_to_wiki "learn more", "banned_artist" %>).<br>
      <% end %>

      <% if post_set.censored_posts.present? %>
        <%= post_set.censored_posts.size %> post(s) on this page require a <%= link_to "Gold account", new_user_upgrade_path %> to view (<%= link_to_wiki "learn more", "help:censored_tags" %>).<br>
      <% end %>

      <% if post_set.safe_posts.present? %>
        <%= post_set.safe_posts.size %> post(s) on this page were hidden by safe mode. Go to <%= link_to "Danbooru", "https://danbooru.donmai.us" %> or disable safe mode to view them (<%= link_to_wiki "learn more", "help:user_settings" %>).<br>
      <% end %>
    </div>
  <% end %>

  <% if show_tag_change_notice? %>
    <div class="fineprint tag-change-notice">
      <p>This tag is the subject of an ongoing discussion. If you have any relevant information, please join the <%= link_to "discussion", forum_topic_path(TagChangeNoticeService.get_forum_topic_id(params[:tags]) || 1) %>.</p>
    </div>
  <% end %>

  <% unless post_set.is_random? %>
    <%= numbered_paginator(post_set.posts) %>
  <% end %>
</div>
