<section id="related-box">
  <h2>Related</h2>
  <ul id="related-list">
    <% if discover_mode? %> 
      <li id="secondary-links-posts-hot"><%= link_to "Hot", posts_path(:tags => "order:rank") %></li>
      <li id="secondary-links-posts-popular"><%= link_to "Popular", popular_explore_posts_path %></li>
      <li id="secondary-links-posts-curated"><%= link_to "Curated", curated_explore_posts_path %></li>
      <li><%= link_to "Searches", searches_explore_posts_path %></li>
      <li><%= link_to "Viewed", viewed_explore_posts_path %></li>
    <% end %>

    <li><%= link_to "Deleted", posts_path(tags: "#{params[:tags]} status:deleted"), rel: "nofollow" %></li>
    <li><%= link_to "Random", random_posts_path(tags: params[:tags]), id: "random-post", "data-shortcut": "r", rel: "nofollow" %></li>
    <% if post_set.query.is_simple_tag? %>
      <li><%= link_to "History", post_versions_path(search: { changed_tags: params[:tags] }), rel: "nofollow" %></li>
    <% end %>
    <li><%= link_to "Count", posts_counts_path(tags: params[:tags]), rel: "nofollow" %></li>
  </ul>
</section>
