<% if CurrentUser.is_janitor? || !forum_post.is_deleted? %>
  <article data-forum-post-id="<%= forum_post.id %>">
    <div class="author">
      <h4>
        <%= link_to forum_post.creator.name, user_path(forum_post.creator_id) %>
        <% if forum_post.is_deleted? %>
          (deleted)
        <% end %>
      </h4>
      <p>
        <%= time_ago_in_words_tagged(forum_post.created_at) %>
      </p>
    </div>
    <div class="content">
      <div class="prose">
        <%= format_text(forum_post.body) %>
      </div>
      <% if forum_post.updater_id != forum_post.creator_id %>
        <p class="info">Updated by <%= link_to forum_post.updater_name, user_path(forum_post.updater_id) %> <%= time_ago_in_words_tagged(forum_post.updated_at) %></p>
      <% end %>
      <menu>
        <li>ID: <%= forum_post.id %></li>
        <% if @forum_topic %>
          <li><%= link_to "Quote", new_forum_post_path(:post_id => forum_post.id), :method => :get, :remote => true %></li>
        <% end %>
        <% if CurrentUser.user.is_janitor? %>
          <% if forum_post.is_deleted %>
            <li><%= link_to "Undelete", undelete_forum_post_path(forum_post.id), :method => :post, :remote => true %></li>
          <% else %>
            <li><%= link_to "Delete", forum_post_path(forum_post.id), :confirm => "Do you really want to delete this post?", :method => :delete, :remote => true %></li>
          <% end %>
        <% end %>
        <% if forum_post.editable_by?(CurrentUser.user) %>
          <% if forum_post.is_original_post? %>
            <li><%= link_to "Edit", edit_forum_topic_path(forum_post.topic) %></li>
          <% else %>
            <li><%= link_to "Edit", edit_forum_post_path(forum_post.id) %></li>
          <% end %>
        <% end %>
        <li><%= link_to "Parent", forum_topic_path(forum_post.topic, :page => forum_post.forum_topic_page) %></li>
        <li><%= link_to "Permalink", forum_post_path(forum_post) %></li>
      </menu>
    </div>
    <div class="clearfix"></div>
  </article>
<% end %>