<div id="c-forum-posts">
  <div id="a-index">
    <table width="100%" class="striped">
      <thead>
        <tr>
          <th>Topic</th>
          <th>Excerpt</th>
          <th>Creator</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @forum_posts.each do |forum_post| %>
          <tr>
            <td><%= link_to forum_post.topic.title, forum_topic_path(forum_post.topic) %></td>
            <td><%= link_to truncate(forum_post.body, :length => 50), forum_post_path(forum_post) %></td>
            <td><%= forum_post.creator.name %></td>
            <td><%= time_ago_in_words forum_post.created_at %> ago</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@forum_posts) %>
  </div>
</div>

<%= render "forum_topics/secondary_links" %>