<div id="c-forum-posts">
  <div id="a-index">

    <%= table_for @forum_posts, width: "100%" do |t| %>
      <% t.column "Topic", td: {class: "forum-post-topic-title"} do |forum_post| %>
        <%= link_to forum_post.topic.title, forum_topic_path(forum_post.topic) %>
      <% end %>
      <% t.column "Excerpt", td: {class: "forum-post-excerpt"} do |forum_post| %>
        <%= link_to truncate(forum_post.body, :length => 50), forum_post_path(forum_post) %>
      <% end %>
      <% t.column "Creator" do |forum_post| %>
        <%= link_to_user forum_post.creator %>
      <% end %>
      <% t.column "Date" do |forum_post| %>
        <%= time_ago_in_words_tagged forum_post.created_at %>
      <% end %>
    <% end %>

    <%= numbered_paginator(@forum_posts) %>
  </div>
</div>

<%= render "forum_topics/secondary_links" %>
