<div id="c-forum-posts">
  <div id="a-search">
    <h1>Search Forum</h1>

    <%= search_form_for(forum_posts_path) do |f| %>
      <%= f.input :topic_title_matches, label: "Title" %>
      <%= f.input :body_matches, label: "Body" %>
      <%= f.input :creator_name, label: "Creator", input_html: { "data-autocomplete": "user" } %>
      <%= f.input :topic_category_id, label: "Category", collection: ForumTopic::CATEGORIES.invert.to_a, include_blank: true %>
      <%= f.submit "Search" %>
    <% end %>
  </div>
</div>

<%= render "forum_topics/secondary_links" %>
