<div id="c-forum-posts">
  <div id="a-search">
    <h1>Search Forum</h1>
    <%= form_tag(forum_posts_path, :method => :get, :class => "simple_form") do %>
      <%= search_field "topic_title_matches", :label => "Title" %>
      <%= search_field "body_matches", :label => "Body" %>
      <%= search_field "creator_name", :label => "Author" %>
      <div class="input">
        <label for="search_topic_category_id">Category</label>
        <%= select "search", "topic_category_id", ForumTopic::CATEGORIES.invert.to_a, :include_blank => true %>
      </div>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>

<%= render "forum_topics/secondary_links" %>

<% content_for(:page_title) do %>
  Search Forum Posts - <%= Danbooru.config.app_name %>
<% end %>
