<div id="c-ai-metadata">
  <div id="a-index">
    <h1>AI Metadata</h1>

    <%= render "posts/partials/common/inline_blacklist" %>

    <%= search_form_for(ai_metadata_path) do |f| %>
      <%= f.input :prompt_matches, label: "Prompt" %>
      <%= f.input :negative_prompt_matches, label: "Negative prompt" %>
      <div class="input string optional search_parameter">
        <label class="string optional" for="search_parameter_value">
          <input id="search_parameter_name" class="text optional" placeholder="Parameter name" type="text" name="search[parameter_name]" data-autocomplete="ai-metadata-label" value="<%= params.dig(:search, :parameter_name) %>">
        </label>
        <input id="search_parameter_value" class="text optional" placeholder="Parameter value" type="text" name="search[parameter_value]" value="<%= params.dig(:search, :parameter_value) %>">
        <%= help_tooltip "Leave value blank to search for any metadata that has that parameter", link_class: "parameter-search-help" %>
      </div>
      <%= f.submit "Search" %>
    <% end %>

    <%= table_for @ai_metadata, width: "100%" do |t| %>
      <% t.column "Post", width: "1%" do |metadata| %>
        <%= post_preview(metadata.post, show_deleted: true) %>
      <% end %>

      <% t.column "Metadata" do |metadata| %>
        <%= render "ai_metadata/show", ai_metadata: metadata %>
      <% end %>
    <% end %>

    <%= numbered_paginator(@ai_metadata) %>
  </div>
</div>

<%= render "secondary_links" %>
