<div id="c-ai-metadata">
  <div id="a-search">
    <h1>Search AI Metadata</h1>

    <%= search_form_for(ai_metadata_path) do |f| %>
      <%= f.input :prompt_matches, label: "Prompt" %>
      <%= f.input :negative_prompt_matches, label: "Negative prompt" %>
      <%= f.input :sampler %>
      <%= f.input :seed %>
      <%= f.input :steps %>
      <%= f.input :cfg_scale %>
      <%= f.input :model_hash %>
      <%= f.submit "Search" %>
    <% end %>
  </div>
</div>
