<div id="c-maintenance-user-password-resets">
  <div id="a-edit">
    <h1>Reset Password</h1>

    <% if @nonce %>
      <%= form_tag(maintenance_user_password_reset_path, :method => :put) do %>
        <%= hidden_field_tag :email, params[:email] %>
        <%= hidden_field_tag :key, params[:key] %>
        <p>Do you wish to reset your password? A new password will be emailed to you.</p>
        <%= submit_tag "Reset" %>
      <% end %>
    <% else %>
      <p>Invalid key</p>
    <% end %>
  </div>
</div>

<%= render "sessions/secondary_links" %>

<% content_for(:page_title) do %>
  Reset Password - <%= Danbooru.config.app_name %>
<% end %>
