<div id="c-maintenance-user-password-resets">
  <div id="a-new">
    <h1>Reset Password</h1>

    <p>If you supplied an email address when signing up, <%= Danbooru.config.app_name %> can reset your password. You will receive an email confirming your request for a new password.</p>

    <p>If you didn't supply a valid email address, you are out of luck.</p>

    <%= form_tag(maintenance_user_password_reset_path, :class => "simple_form") do %>
      <div class="input email required">
        <label for="nonce_email" class="required">Email</label>
        <%= text_field :nonce, :email %>
      </div>
      <%= submit_tag "Submit" %>
    <% end %>
  </div>
</div>

<%= render "sessions/secondary_links" %>

<% content_for(:page_title) do %>
  Reset Password - <%= Danbooru.config.app_name %>
<% end %>
