<div id="c-tag-corrections">
  <div id="a-new">
    <h1>Fix Tag: <%= @correction.tag.name %></h1>

    <div style="margin-bottom: 1em;">
      <ul>
        <li><strong>category actual</strong>: <%= @correction.category %></li>
        <li><strong>category memcache</strong>: <%= @correction.category_cache || "none" %></li>
        <li><strong>post count db cache</strong>: <%= @correction.post_count %></li>
        <li><strong>post count actual:</strong> <%= @correction.real_post_count %></li>
      </ul>
    </div>

    <%= form_tag(tag_correction_path(:tag_id => @correction.tag.id)) do %>
      <%= submit_tag "Fix" %>
      <%= submit_tag "Cancel" %>
    <% end %>

    <% content_for(:page_title) do %>
      Tag Correction - <%= Danbooru.config.app_name %>
    <% end %>
  </div>
</div>
