<div id="c-tag-implications">
  <div id="a-request-new">
    <h1>Tag Implication Request</h1>

    <%= error_messages_for :tag_implication_request %>

    <p>You can request a new tag implication be created. This will create a corresponding forum topic for community review.</p>

    <%= form_tag(tag_implication_request_path, :class => "simple_form") do %>
      <div class="input">
        <label>From</label>
        <%= text_field "tag_implication_request", "antecedent_name", :data => { :autocomplete => "tag" } %>
      </div>

      <div class="input">
        <label>To</label>
        <%= text_field "tag_implication_request", "consequent_name", :data => { :autocomplete => "tag" } %>
      </div>

      <div class="input">
        <%= dtext_field "tag_implication_request", "reason", :name => "Reason" %>
      </div>

      <div class="input">
        <label class="checkbox optional" for="tag_implication_request_skip_secondary_validations">
          <%= check_box "tag_implication_request", "skip_secondary_validations" %>
          Skip validations
        </label>
        <p class="hint">You can ignore the wiki page and minimum count requirements</p>
      </div>

      <div class="input">
        <%= submit_tag "Submit", :data => { :disable_with => "Submitting..." } %>
        <%= dtext_preview_button "tag_implication_request", "reason" %>
      </div>
    <% end %>

    <%= render "tag_implications/secondary_links" %>
  </div>
</div>

<% content_for(:page_title) do %>
  Tag Implication Request - <%= Danbooru.config.app_name %>
<% end %>
