<div id="c-emails">
  <div id="a-edit" class="fixed-width-container">
    <% if @user.email_address.present? %>
      <% page_title "Change Email" %>
      <h1>Change Email</h1>

      <p>Your current email address is <strong><%= @user.email_address.address %></strong>.
      You must re-enter your password in order to update your email address.</p>
    <% else %>
      <% page_title "Add Email" %>
      <h1>Add Email</h1>

      <p>Add a new email address below. You must re-enter your password in
      order to update your email address.</p>
    <% end %>

    <% if @user.is_restricted? %>
      <p>Your account is restricted because you signed up from a proxy or VPN.
      You can still use the site, but you won't be able to leave comments, edit
      tags, or upload posts until you add a verified email address to your
      account. Disposable or throwaway email addresses can't be used to verify
      your account.</p>
    <% end %>

    <%= edit_form_for(@user, url: user_email_path(@user)) do |f| %>
      <%= f.input :email, as: :email, label: "New Email", input_html: { value: "" } %>
      <%= f.input :password %>
      <%= f.submit "Save" %>
    <% end %>
  </div>
</div>
