<div class="flex items-center mb-2">
  <h1 class="flex-1">My Uploads</h1>

  <span>
    <strong>Gallery</strong> |
    <%= link_to "Table", uploads_path(mode: "table") %>
  </span>
</div>

<%= render(MediaAssetGalleryComponent.new) do |gallery| %>
  <% @upload_media_assets.each do |upload_media_asset| %>
    <% media_asset = upload_media_asset.media_asset %>

    <% if media_asset.present? %>
      <% gallery.media_asset(media_asset: media_asset, size: gallery.size, link_target: [upload_media_asset.upload, upload_media_asset]) do |preview| %>
        <% preview.footer do %>
          <div class="text-center text-muted text-xs h-12">
            <% if media_asset.post.present? %>
              <div class="leading-none">
                <%= link_to "post ##{media_asset.post.id}", media_asset.post, class: "leading-none" %>
              </div>
            <% else %>
              <div class="leading-none">
                <%= link_to "upload ##{upload_media_asset.upload.id}", upload_media_asset.upload, class: "leading-none" %>
              </div>
            <% end %>

            <% if upload_media_asset.source_url.present? %>
              <%= external_link_to upload_media_asset.source_url, Addressable::URI.parse(upload_media_asset.source_url).domain %>
            <% else %>
              <em>No source</em>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= numbered_paginator(@upload_media_assets) %>
