<% if CurrentUser.user.upload_limit.limited? %>
  <p>You have reached your upload limit. Please wait for your pending uploads to be approved before uploading more.</p>

  <p id="upload-limit">Upload Limit: <%= render "users/upload_limit", user: CurrentUser.user %></p>
<% elsif upload_media_asset.loading? %>
  <p>Processing <%= external_link_to upload_media_asset.source_url %>...</p>

  <% content_for(:html_header) do %>
    <meta http-equiv="refresh" content="1">
  <% end %>
<% elsif upload_media_asset.failed? %>
  <p>Error: <%= upload_media_asset.error %>.</p>
<% else %>
  <% upload = upload_media_asset.upload %>
  <% media_asset = upload_media_asset.media_asset %>
  <% source = upload_media_asset.source_extractor %>

  <%= tag.div class: "upload-container grid gap-4 h-full", style: ("--edit-container-width: #{cookies[:upload_edit_container_width]};" if cookies[:upload_edit_container_width].present?) do %>
    <div class="upload-image-container">
      <%= render MediaAssetComponent.new(media_asset: media_asset, current_user: CurrentUser.user, outer_classes: "h-full top-0", inner_classes: "mx-auto", dynamic_height: true, scroll_on_zoom: true) do |component| %>
        <% component.with_footer do %>
          <% if policy(media_asset).can_see_image? %>
            <div class="flex flex-wrap flex-none gap-2 items-center justify-center text-xs my-1">
              <% if media_asset.source_urls.present? %>
                <span>
                  <% media_asset.source_urls.take(5).each do |url| %>
                    <%= external_link_to url, external_site_icon(Source::URL.site_name(url), class: "h-4"), title: url, class: "inline-block align-top" %>
                  <% end %>
                </span>
              <% end %>

              <%= link_to media_asset do %>
                <%= number_to_human_size(media_asset.file_size) %> .<%= media_asset.file_ext %>,
                <%= media_asset.image_width %>x<%= media_asset.image_height %>

                <% if media_asset.duration.present? %>
                  (<%= duration_to_hhmmss(media_asset.duration) %>)
                <% end %>
              <% end %>

              <span>
                <%= render PopupMenuComponent.new(hide_on_click: false) do |menu| %>
                  <% menu.item(hide_on_click: true) do %>
                    <%= link_to "#{media_asset.original.file_url}?download=1", download: media_asset.original.file_name do %>
                      <%= download_icon %> Download
                    <% end %>
                  <% end %>

                  <% menu.item do %>
                    <hr class="border">
                  <% end %>

                  <% menu.item do %>
                    <%= external_link_to "https://saucenao.com/search.php?url=#{CGI.escape(media_asset.original.file_url)}", target: "_blank" do %>
                      <%= search_icon %> SauceNAO
                    <% end %>
                  <% end %>

                  <% menu.item do %>
                    <%= external_link_to "https://ascii2d.net/search/url/#{CGI.escape(media_asset.original.file_url)}", target: "_blank" do %>
                      <%= search_icon %> Ascii2D
                    <% end %>
                  <% end %>

                  <% menu.item do %>
                    <%= external_link_to "https://yandex.com/images/search?rpt=imageview&url=#{CGI.escape(media_asset.original.file_url)}", target: "_blank" do %>
                      <%= search_icon %> Yandex
                    <% end %>
                  <% end %>

                  <% menu.item do %>
                    <%= external_link_to "https://lens.google.com/uploadbyurl?url=#{CGI.escape(media_asset.original.file_url)}", target: "_blank" do %>
                      <%= search_icon %> Google
                    <% end %>
                  <% end %>

                  <% menu.item do %>
                    <%= external_link_to "https://www.bing.com/images/searchbyimage?cbir=sbi&imgurl=#{CGI.escape(media_asset.original.file_url)}", target: "_blank" do %>
                      <%= search_icon %> Bing
                    <% end %>
                  <% end %>

                  <% menu.item do %>
                    <%= link_to iqdb_queries_path(search: { media_asset_id: media_asset.id }), target: "_blank" do %>
                      <%= search_icon %> <%= Danbooru.config.app_name %>
                    <% end %>
                  <% end %>
                <% end %>
              </span>

              <div class="inline-block">
                <% if upload_media_asset.file_upload? %>
                  <%= external_link_to "https://saucenao.com/search.php?url=#{Danbooru::URL.escape(media_asset.original.file_url)}", "No Source", target: "_blank", class: "upload-no-source-warning button-danger button-xs" %>
                <% elsif upload_media_asset.bad_source? %>
                  <%= link_to "Bad Source", wiki_page_path("bad_link"), class: "upload-source-warning button-danger button-xs" %>
                <% end %>

                <a class="upload-duplicate-warning button-danger button-xs hidden" href="javascript:$('a.tab.similar-tab').get(0).click()">Duplicate</a>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="upload-divider px-2 cursor-col-resize desktop-only"></div>

    <div class="upload-edit-container">
      <% post = Post.new_from_upload(upload_media_asset, add_artist_tag: true, source: upload_media_asset.canonical_url, **permitted_attributes(Post).to_h.symbolize_keys) %>
      <%= edit_form_for(post, html: { id: "form", class: "upload-form md:sticky top-4" }) do |f| %>
        <%= hidden_field_tag :media_asset_id, media_asset.id %> <%# used by iqdb javascript %>
        <%= hidden_field_tag :upload_media_asset_id, upload_media_asset.id %>

        <%= render(TabPanelComponent.new do |t| %>
          <% t.menu_item do %>
            <%= link_to external_link_icon(class: "text-sm align-bottom"), "javascript:void(0)", id: "open-edit-dialog", class: "desktop-only", "data-shortcut": "shift+e" %>
          <% end %>

          <% t.panel(name: "Tags", active: true) do %>
            <%= embed_wiki("help:upload_notice", id: "upload-guide-notice", classes: "mb-4") %>

            <%= f.input :rating, label: "Rating (#{link_to_wiki "?", "howto:rate"})".html_safe, collection: Post::RATINGS.invert.reverse_each.to_h, as: :radio_buttons, selected: post.rating %>

            <div class="input" id="tags-container">
              <div class="header">
                <%= f.label :tag_string, "Tags" %>

                <span data-tag-counter data-for="#post_tag_string">
                  <span class="tag-count"></span>
                  <img>
                </span>
              </div>

              <%= f.input :tag_string, label: false, hint: tag.span("Ctrl+Enter to submit", class: "desktop-only"), input_html: { "data-autocomplete": "tag-edit", "data-shortcut": "e", value: post.tag_string } %>
              <%= render "related_tags/buttons" %>

              <div class="mt-2">
                <%= f.submit "Post", class: "button-primary button-sm" %>

                <% if CurrentUser.is_contributor? %>
                  <%= f.input :is_pending, as: :boolean, label: "Upload for approval", wrapper_html: { class: "inline-block" }, input_html: { checked: post.is_pending? } %>
                <% else %>
                  <span id="upload-limit" class="fineprint">Upload limit: <%= render "users/upload_limit", user: CurrentUser.user %></span>
                <% end %>
              </div>

              <%= render "related_tags/container", media_asset: media_asset %>
            </div>
          <% end %>

          <% t.panel(name: "Source") do %>
            <% if upload_media_asset.source_extractor.present? %>
              <%= render_source_data(upload_media_asset.source_extractor) %>
            <% end %>

            <%= f.input :source, as: :string, input_html: { value: post.source } %>

            <%= f.input :artist_commentary_title, as: :string, label: "Original Title", input_html: { value: post&.artist_commentary&.original_title } %>
            <%= f.input :artist_commentary_desc, as: :text, label: "Original Description", input_html: { value: post&.artist_commentary&.original_description } %>
            <%= f.input :translated_commentary_title, as: :string, label: "Translated Title", input_html: { value: post&.artist_commentary&.translated_title } %>
            <%= f.input :translated_commentary_desc, as: :text, label: "Translated Description", input_html: { value: post&.artist_commentary&.translated_description } %>
          <% end %>

          <% t.panel(name: "Similar") do %>
            <%= f.input :parent_id, label: "Parent ID", as: :string, input_html: { value: post.parent_id } %>

            <div class="space-y-4">
              <% if source.present? && source.related_posts.present? %>
                <div id="related-posts-by-source">
                  <h2>Related Posts</h2>

                  <p class="fineprint">
                    Found <%= link_to pluralize(source.related_posts.total_count, "other post"), posts_path(tags: source.related_posts_search_query) %> from the same source.
                  </p>

                  <%= render(PostGalleryComponent.new(size: "180")) do |gallery| %>
                    <% source.related_posts.each do |post| %>
                      <%= gallery.post(post: post, size: gallery.size, show_deleted: true) do |preview| %>
                        <% preview.footer do %>
                          <div class="text-xs text-center mt-1">
                            <%= render "posts/partials/show/preview_source_footer", post: post %>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>

              <div id="iqdb-similar" style="display: none;"></div>
            </div>
          <% end %>

          <% t.panel(name: "AI Metadata") do %>
            <%= f.input :prompt, as: :text, input_html: { value: post&.ai_metadata&.prompt } %>
            <%= f.input :negative_prompt, as: :text, input_html: { value: post&.ai_metadata&.negative_prompt } %>
            <%= f.input :sampler, as: :string, input_html: { value: post&.ai_metadata&.sampler } %>
            <%= f.input :seed, as: :integer, input_html: { value: post&.ai_metadata&.seed } %>
            <%= f.input :steps, as: :integer, input_html: { value: post&.ai_metadata&.steps } %>
            <%= f.input :cfg_scale, as: :float, input_html: { value: post&.ai_metadata&.cfg_scale } %>
            <%= f.input :model_hash, as: :string, input_html: { value: post&.ai_metadata&.model_hash } %>
          <% end %>
        <% end) %>
      <% end %>
    </div>
  <% end %>
<% end %>
