<div id="c-uploads">
  <div id="a-index">
    <%= render "uploads/search" %>
    <%= render "posts/partials/common/inline_blacklist" %>

    <%= table_for @uploads, class: "striped autofit", width: "100%" do |t| %>
      <% t.column "Upload" do |upload| %>
        <%= PostPresenter.preview(upload.post, tags: "user:#{upload.uploader.name}", show_deleted: true) %>
      <% end %>
      <% t.column "Info", td: {class: "col-expand upload-info"} do |upload| %>
        <span class="info">
          <strong>Upload</strong>
          <%= link_to "##{upload.id}", upload %>
        </span>

        <span class="info">
          <strong>Rating</strong>
          <%= upload.rating %>
        </span>

        <% if upload.post.present? %>
          <span class="info">
            <strong>Size</strong>
            <%= link_to "#{upload.post.file_size.to_s(:human_size, precision: 4)} #{upload.post.file_ext}", upload.post.file_url %>
            <% if upload.post.has_dimensions? %>
              (<%= upload.post.image_width %>x<%= upload.post.image_height %>)
            <% end %>
          </span>
        <% end %>
        <br>

        <span class="info">
          <strong>Source</strong>
          <%= link_to_if (upload.source =~ %r!\Ahttps?://!i), (upload.source.presence.try(:truncate, 50) || content_tag(:em, "none")), upload.source %>
          <%= link_to "»", uploads_path(search: params[:search].merge(source_matches: upload.source)) %>
        </span>
        <br>

        <% if upload.referer_url.present? %>
          <span class="info">
            <strong>Referer</strong>
            <%= URI.parse(upload.referer_url).host rescue nil %>
          </span>
          <br>
        <% end %>

        <% if policy(upload).can_view_tags? %>
          <span class="info">
            <strong>Tags</strong>
            <%= TagSetPresenter.new(upload.tag_string.split).inline_tag_list_html %>
          </span>
        <% end %>
      <% end %>
      <% t.column "Uploader" do |upload| %>
        <%= link_to_user upload.uploader %>
        <%= link_to "»", uploads_path(search: params[:search].merge(uploader_name: upload.uploader.name)) %>
        <br><%= time_ago_in_words_tagged  upload.created_at %>
      <% end %>
      <% t.column "Status", td: {class: "col-normal"} do |upload| %>
        <%= render_status(upload) %>
      <% end %>
    <% end %>

    <%= numbered_paginator(@uploads) %>
  </div>
</div>

<%= render "uploads/secondary_links" %>
