<div id="c-uploads">
  <div id="a-index">
    <%= render "uploads/search" %>

    <table width="100%" class="striped">
      <thead>
        <tr>
          <th></th>
          <th>Uploader</th>
          <th>Status</th>
          <th>Date</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        <% @uploads.each do |upload| %>
          <tr>
            <td><%= link_to upload.id, upload_path(upload) %></td>
            <td><%= link_to_user upload.uploader %></td>
            <td><%= upload.presenter.status(self) %></td>
            <td><%= compact_time upload.created_at %></td>
            <td><%= upload.tag_string %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@uploads) %>
  </div>
</div>

<%= render "uploads/secondary_links" %>

<% content_for(:page_title) do %>
  Uploads - <%= Danbooru.config.app_name %>
<% end %>
