<%= simple_form_for(@bulk_update_request) do |f| %>
  <%= error_messages_for("bulk_update_request") %>

  <%= f.input :title, :as => :string %>

  <div class="input">
    <label class="text optional" for="bulk_update_request_script">Script</label>
<pre class="hint">
Use the following format:
unalias aaa -> bbb
unimply aaa -> bbb
alias aaa -> bbb
imply aaa -> bbb
update aaa -> bbb
category tag_name -> category_name
</pre>
    <%= text_area :bulk_update_request, :script, :size => "50x10" %>
  </div>

  <div class="input">
    <%= dtext_field "bulk_update_request", "reason", :name => "Reason" %>
  </div>

  <% if @bulk_update_request.errors.any? %>
    <div class="input">
      <label class="checkbox optional" for="bulk_update_request_skip_secondary_validations">
        <%= check_box "bulk_update_request", "skip_secondary_validations" %>
        Skip validations
      </label>
      <p class="hint">You can ignore the wiki page and minimum count requirements</p>
    </div>
  <% end %>

  <%= f.input :forum_topic_id, :hint => " (optional)" %>
  <%= f.button :submit, :value => "Submit", :data => { :disable_with => "Submitting..." } %>
  <%= dtext_preview_button "bulk_update_request", "reason" %>
<% end %>
