<%= edit_form_for(@bulk_update_request) do |f| %>
  <%= error_messages_for("bulk_update_request") %>

  <p>
    Request aliases or implications using the format shown below. An alias makes the first tag a
    synonym for the second tag. An implication makes the first tag automatically add the second tag.
    A mass update replaces the first tag with the second tag without making it a permanent alias.
  </p>

  <p>
    <% if @bulk_update_request.new_record? && @bulk_update_request.forum_topic.present? %>
      This request will be attached to
      <%= link_to "topic ##{@bulk_update_request.forum_topic_id}: #{@bulk_update_request.forum_topic.title}", @bulk_update_request.forum_topic %>.
      <%= f.input :forum_topic_id, as: :hidden, input_html: { value: params.dig(:bulk_update_request, :forum_topic_id) } %>
    <% elsif @bulk_update_request.new_record? && @bulk_update_request.forum_topic.blank? %>
      This request will create a new forum topic. To attach this request to an existing topic, find
      the forum topic and click "Request alias/implication" at the top of the page.

      <%= f.input :title, label: "Forum Title", as: :string %>
    <% end %>
  </p>

  <%= f.input :script, label: "Request", as: :text, placeholder: bur_script_example, input_html: { size: "50x15" } %>

  <% if @bulk_update_request.new_record? %>
    <div class="input">
      <%= f.input :reason, as: :dtext %>
    </div>
  <% end %>

  <% if @bulk_update_request.errors.any? %>
    <div class="input">
      <label class="checkbox optional" for="bulk_update_request_skip_secondary_validations">
        <%= check_box "bulk_update_request", "skip_secondary_validations" %>
        Skip validations
      </label>
      <p class="hint">You can ignore the wiki page and minimum count requirements</p>
    </div>
  <% end %>

  <% if @bulk_update_request.persisted? && policy(@bulk_update_request).can_update_forum? %>
    <%= f.input :forum_topic_id %>
    <%= f.input :forum_post_id %>
  <% end %>

  <%= f.submit value: "Submit" %>
  <%= dtext_preview_button "bulk_update_request_reason" %>
<% end %>
