<div class="bulk-update-requests">
  <div class="new">
    <h1>New Bulk Update Request</h1>
    <%= simple_form_for(@bulk_update_request) do |f| %>
      <%= error_messages_for("bulk_update_request") %>

      <%= f.input :title, :as => :string %>

      <div class="input">
        <label class="text optional" for="bulk_update_request_script">Script</label>
<pre class="hint">
Use the following format:
remove alias aaa -> bbb
remove implication aaa -> bbb
create alias aaa -> bbb
create implication aaa -> bbb
mass update aaa -> bbb
</pre>
        <%= text_area :bulk_update_request, :script, :size => "50x10" %>
      </div>

      <div class="input">
        <%= dtext_field "bulk_update_request", "reason", :name => "Reason" %>
      </div>

      <%= f.button :submit, :value => "Submit" %>
      <%= dtext_preview_button "bulk_update_request", "reason" %>
    <% end %>

  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  New Bulk Update Request - <%= Danbooru.config.app_name %>
<% end %>
