<div id="c-bulk-update-requests">
  <div id="a-show">
    <h1>Bulk Update Request</h1>

    <ul>
      <% if @bulk_update_request.forum_topic_id %>
        <li><strong>Reference</strong> <%= link_to "topic ##{@bulk_update_request.forum_topic_id}", forum_topic_path(@bulk_update_request.forum_topic_id) %></li>
      <% end %>
      <li><strong>Creator</strong> <%= link_to_user @bulk_update_request.user %></li>
      <li><strong>Date</strong> <%= @bulk_update_request.created_at %></li>
      <li><strong>Status</strong>: <%= @bulk_update_request.status %></li>
    </ul>

    <div style="margin: 1em 0;">
      <div class="prose">
        <%= format_text @bulk_update_request.processor.to_dtext %>
      </div>

      <%= render "bur_edit_links", bur: @bulk_update_request %>
    </div>
  </div>
</div>

<%= render "secondary_links" %>
