<div id="c-bulk-update-requests">
  <div id="a-show" class="flex flex-col gap-4 sm:items-center fixed-width-container">
    <h1>Bulk Update Request</h1>

    <div class="card-elevated px-4 py-2 flex flex-col items-start gap-4">
      <table class="aligned-vertical table-xs">
        <tr>
          <th>Forum</th>

          <% if @bulk_update_request.forum_post.present? %>
            <td><%= link_to @bulk_update_request.forum_topic.title, @bulk_update_request.forum_post || @bulk_update_rqeuest.forum_topic %></td>
          <% else %>
            <td><em>None</em></td>
          <% end %>
        </tr>
        <tr>
          <th>Creator</th>
          <td><%= link_to_user @bulk_update_request.user %></td>
        </tr>
        <tr>
          <th>Date</th>
          <td><%= time_ago_in_words_tagged @bulk_update_request.created_at %></td>
        </tr>
        <tr>
          <th>Status</th>
          <td><%= @bulk_update_request.status %></td>
        </tr>

        <% if @bulk_update_request.forum_post.present? %>
          <tr>
            <th>Votes</th>
            <td>
              +<%= @bulk_update_request.forum_post.votes.select(&:up?).count %> /
              -<%= @bulk_update_request.forum_post.votes.select(&:down?).count %>
            </td>
          </tr>
        <% end %>
      </table>

      <div class="prose">
        <%= format_text @bulk_update_request.processor.to_dtext %>
      </div>

      <% if @bulk_update_request.forum_post.present? %>
        <%= render "forum_post_votes/list", votes: @bulk_update_request.forum_post.votes, forum_post: @bulk_update_request.forum_post %>
      <% end %>
    </div>

    <div class="flex flex-wrap gap-2 items-center">
      <% if policy(@bulk_update_request).approve? %>
        <%= link_to "Approve", approve_bulk_update_request_path(@bulk_update_request), class: "button-primary button-sm leading-none", remote: true, method: :post, "data-confirm": "Are you sure you want to approve this bulk update request?" %>
      <% end %>

      <% if policy(@bulk_update_request).destroy? %>
        <%= link_to "Reject", @bulk_update_request, class: "button-outline-danger button-sm leading-none", remote: true, method: :delete, "data-confirm": "Are you sure you want to reject this bulk update request?" %>
      <% end %>

      <% if policy(@bulk_update_request).update? %>
        <%= link_to "Edit", edit_bulk_update_request_path(@bulk_update_request), class: "button-outline-primary button-sm leading-none", "data-shortcut": "e" %>
      <% end %>
    </div>
  </div>
</div>

<%= render "secondary_links" %>
