<div id="c-moderator-ip-addrs">
  <div id="a-search">
    <h1>Search IP Addresses</h1>

    <%= search_form_for(moderator_ip_addrs_path) do |f| %>
      <%= f.input :ip_addr, label: "IPs ", hint: "Separate with spaces", input_html: { value: params.dig(:search, :ip_addr) } %>
      <%= f.input :user_name, label: "Users", hint: "Separate with spaces", input_html: { value: params.dig(:search, :user_name), "data-autocomplete": "user" } %>
      <%= f.submit "Search" %>
    <% end %>
  </div>
</div>

<% content_for(:page_title) do %>
  Search IP Addresses - <%= Danbooru.config.app_name %>
<% end %>
