<div id="c-moderator-ip-addrs">
  <div id="a-search">
    <h1>Search IP Addresses</h1>

    <%= form_tag(moderator_ip_addrs_path, :method => :get, :class => "simple_form") do %>
      <%= search_field "user_name", :label => "User" %>
      <%= search_field "ip_addr", :label => "IP Addr" %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>

<% content_for(:page_title) do %>
  Search IP Addresses - <%= Danbooru.config.app_name %>
<% end %>
