<%= form_tag(pool_element_path, :class => "simple_form", :remote => true, :format => :js) do %>
  <%= hidden_field_tag "post_id", @post.id %>

  <div class="input">
    <label>Pool Name</label>
    <span id="pool-name-container"><%= text_field_tag "pool_name", "", :size => 20, :data => { autocomplete: "pool" } %></span>
    <span id="pool-name-hint" class="hint">Search for a pool containing (<%= link_to "see full list", all_select_pool_element_path, :remote => true %>)</span>
  </div>

  <div class="input">
    <%= submit_tag "Submit", :data => { :disable_with => "Submitting..." } %>
  </div>
<% end %>

<% if recent_updated_pools.any? %>
  <div>
    <h1>Recent Pools</h1>
    <ul id="recent-pools">
      <% recent_updated_pools.each do |pool| %>
        <%= content_tag :li, pool.pretty_name, "data-value" => pool.name %>
      <% end %>
    </ul>
  </div>
<% end %>
