<div id="c-pool-elements">
  <div id="a-new">
    <%= form_tag(pool_element_path, :class => "simple_form") do %>
      <%= hidden_field_tag "post_id", @post.id %>

      <div class="input">
        <label>Pool Name</label>
        <%= text_field_tag "pool_name", "", :size => 20 %>
        <span class="hint">Type the first two characters of a pool name</span>
      </div>
      
      <div class="input">
        <%= submit_tag "Submit" %>
      </div>
    <% end %>

    <% if recent_updated_pools.any? %>
      <div>
        <h1>Recent Pools</h1>
        <ul id="recent-pools">
          <% recent_updated_pools.each do |pool| %>
            <li><%= pool.name %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
