<div id="c-pool-elements">
  <div id="a-new">
    <%= form_tag(pool_element_path) do %>
      <%= hidden_field_tag "post_id", @post.id %>
      <%= text_field_tag "pool_name", "", :size => 20 %>
      <%= submit_tag "Select" %>
    <% end %>    

    <div>
      <h1>Recent Pools</h1>
      <ul id="recent-pools">
        <% recent_updated_pools.each do |pool| %>
          <li><%= pool.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
