<div id="c-favorite-groups">
  <div id="a-index">

    <%= table_for @favorite_groups, width: "100%" do |t| %>
      <% t.column nil, {width: "5%"} %>
      <% t.column "Name", {width: "60%"} do |favgroup| %>
        <%= link_to favgroup.pretty_name, favorite_group_path(favgroup) %>
        <% if favgroup.post_count > CurrentUser.user.per_page %>
          <%= link_to "page #{favgroup.last_page}", favorite_group_path(favgroup, :page => favgroup.last_page), :class => "last-page" %>
        <% end %>
      <% end %>
      <% t.column "Count", {width: "10%"} do |favgroup| %>
        <%= favgroup.post_count %>
      <% end %>
    <% end %>

    <%= render "secondary_links" %>
  </div>
</div>
