<div id="c-favorite-groups">
  <div id="a-new">
    <h1>New Favorite Group</h1>

    <%= error_messages_for "favorite_group" %>

    <%= simple_form_for(@favorite_group) do |f| %>
      <%= f.input :name, :as => :string, :required => true %>
      <%= f.input :post_ids, :label => "Posts" %>
      <%= f.button :submit, "Submit" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  New Favorite Group - <%= Danbooru.config.app_name %>
<% end %>
