<% page_title "Favgroup: #{@favorite_group.pretty_name}" %>
<%= render_meta_links @posts %>
<%= render "secondary_links" %>

<div id="c-favorite-groups">
  <div id="a-show">
    <h1>
      Favorite Group:
      <%= link_to @favorite_group.pretty_name, posts_path(:tags => "favgroup:#{@favorite_group.id} status:any") %>
    </h1>

    Creator: <%= link_to_user @favorite_group.creator %>
    <br>
    <br>

    <%= render "posts/partials/common/inline_blacklist" %>

    <%= render_post_gallery(@posts, tags: "favgroup:#{@favorite_group.id}", show_deleted: true) do |gallery| %>
      <% gallery.with_footer do %>
        <%= numbered_paginator(@posts) %>
      <% end %>
    <% end %>
  </div>
</div>
