<div id="c-user-name-change-requests">
  <div id="a-new">
    <h1>Name Change Request</h1>

    <p>You can request a name change once per week. Your previous names will still
    be visible on your profile to other Danbooru members, but they won't be visible
    to search engines.</p>

    <%= error_messages_for "change_request" %>

    <%= edit_form_for(@change_request) do |f| %>
      <%= f.input :desired_name, label: "Name" %>
      <%= f.input :desired_name_confirmation, label: "Confirm name" %>
      <%= f.submit "Submit", "data-confirm": "Are you sure you want to change your name?" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>
