<h1>Name Change Request</h1>

<p>You can request a name change but it must be approved. Factors that go into consideration include your upload and update history, and your user feedback.</p>

<%= error_messages_for "change_request" %>

<%= form_tag(user_name_change_requests_path, :class => "simple_form") do %>
  <div class="input">
    <label for="desired_name">Desired Name</label>
    <%= text_field_tag "desired_name" %>
  </div>

  <div class="input">
    <label for="desired_name">Reason</label>
    <%= text_field_tag "reason" %>
  </div>
  
  <div class="input">
    <%= submit_tag "Submit", :data => { :disable_with => "Submitting..." } %>
  </div>
<% end %>
