<div id="c-post-appeals">
  <div id="a-index">
    <h1>Appeals</h1>
    <%= render "search" %>
    <%= render "posts/partials/common/inline_blacklist" %>
    <table width="100%" class="striped">
      <thead>
        <tr>
          <th width="1%">Post</th>
          <th width="10%">Creator</th>
          <th>Reason</th>
          <th width="15%">Date</th>
          <th width="5%">Resolved?</th>
        </tr>
      </thead>
      <tbody>
        <% @post_appeals.each do |post_appeal| %>
          <tr>
            <td><%= PostPresenter.preview(post_appeal.post, :tags => "status:any") %></td>
            <td><%= link_to_user post_appeal.creator %></td>
            <td><%= format_text post_appeal.reason, :ragel => true %></td>
            <td><%= compact_time post_appeal.updated_at %></td>
            <td><%= post_appeal.resolved? %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@post_appeals) %>
  </div>
</div>

<% content_for(:page_title) do %>
  Appeals - <%= Danbooru.config.app_name %>
<% end %>
