<div id="c-post-events">
  <div id="a-index">
    <h1>Post Events</h1>

    <table width="100%" class="striped autofit">
      <thead>
        <tr>
          <th>Type</th>
          <th>User</th>
          <th>Description</th>
          <th>Resolved?</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr class="resolved-<%= event.is_resolved %>">
            <td><%= event.type_name %></td>
            <td>
              <% if event.is_creator_visible? %>
                <%= link_to_user event.creator %>
              <% else %>
                <i>hidden</i>
              <% end %>
              <br><%= time_ago_in_words_tagged event.created_at %>
            </td>
            <td class="col-expand"><%= format_text event.reason %></td>
            <td><%= event.is_resolved %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% content_for(:page_title) do %>
  Events - <%= Danbooru.config.app_name %>
<% end %>
