<div id="c-reports">
  <div id="a-user-promotions">
    <h1>Janitor Trial Report</h1>

    <p>All numbers shown are for the past 3 months. Binomial proportion confidence interval for how likely a janitor's approvals will achieve a score of at at least n with 95% confidence. Most statistics are not significant unless there are at least 300 approvals.</p>

    <table width="100%" class="striped" id="sortable">
      <thead>
        <tr>
          <th data-sort="string">User</th>
          <th data-sort="int">Age</th>
          <th data-sort="int">Level</th>
          <th data-sort="int">Approvals</th>
          <th data-sort="int">Del Chance</th>
          <th data-sort="int">Neg Score Chance</th>
          <th data-sort="int" title="25% of approvals received this score or less">Quartile Score</th>
          <th data-sort="int" title="50% of approvals received this score or less">Median Score</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @report.janitors.each do |janitor| %>
          <tr>
            <td><%= link_to_user janitor.user %></td>
            <td data-sort-value="<%= janitor.created_at.to_i %>"><%= time_ago_in_words(janitor.created_at) %></td>
            <td data-sort-value="<%= janitor.user.level %>"><%= janitor.user.level_string %></td>
            <td><%= link_to janitor.approval_count, posts_path(:tags => "approver:#{janitor.user.name} order:random", :limit => 200) %></td>
            <td><%= link_to janitor.deletion_chance, posts_path(:tags => "approver:#{janitor.user.name} status:deleted", :limit => 200) %></td>
            <td><%= link_to janitor.neg_score_chance, posts_path(:tags => "approver:#{janitor.user.name} score:<0", :limit => 200) %></td>
            <td><%= janitor.percentile_25_score %></td>
            <td><%= janitor.percentile_50_score %></td>
            <td>
              <% if CurrentUser.user.is_moderator? && janitor.trial && janitor.trial.active? %>
                <%= link_to "Promote", promote_janitor_trial_path(janitor.trial), :method => :put, :remote => true %>
                | <%= link_to "Demote", demote_janitor_trial_path(janitor.trial), :method => :put, :remote => true %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% content_for(:page_title) do %>
  Janitor Trial Report - <%= Danbooru.config.app_name %>
<% end %>

<%= content_for(:html_header) do %>
  <script type="text/javascript">
    $(function() {
      $("#sortable").stupidtable().on("aftertablesort", function() {
        $("#sortable tbody tr:even").removeClass("odd").addClass("even");
        $("#sortable tbody tr:odd").removeClass("even").addClass("odd");
      });
    });
  </script>
<% end %>
