<div id="c-reports">
  <div id="a-upload-tags">
    <h1>Upload tag changes report for <%= @user.pretty_name %></h1>

    <%= render "posts/partials/common/inline_blacklist" %>

    <%= table_for @upload_reports do |t| %>
      <% t.column "Post ID", width: "10%" do |upload_report| %>
        <%= PostPresenter.preview(upload_report.becomes(Post), show_deleted: true, tags: "user:#{upload_report.uploader.name}") %>
      <% end %>
      <% t.column "Tags added by uploader", width: "45%" do |upload_report| %>
        <%= TagSetPresenter.new(upload_report.uploader_tags_array).inline_tag_list_html %>
      <% end %>
      <% t.column "Tags added by uploader", width: "45%" do |upload_report| %>
        <%= diff_to_current(upload_report) %>
      <% end %>
    <% end %>

    <%= numbered_paginator(@upload_reports) %>
    </div>
</div>


<% content_for(:page_title) do %>
  Upload tag changes for <%= @user.pretty_name %> - <%= Danbooru.config.app_name %>
<% end %>
