<% page_title "Upload Tags: #{@user.pretty_name}" %>

<div id="c-reports">
  <div id="a-upload-tags">
    <h1>Upload tag changes report for <%= @user.pretty_name %></h1>

    <%= render "posts/partials/common/inline_blacklist" %>

    <%= table_for @upload_reports do |t| %>
      <% t.column "Post ID", width: "10%" do |upload_report| %>
        <%= PostPresenter.preview(upload_report.becomes(Post), show_deleted: true, tags: "user:#{upload_report.uploader.name}") %>
      <% end %>
      <% t.column "Tags added by uploader", width: "45%" do |upload_report| %>
        <%= TagSetPresenter.new(upload_report.uploader_tags_array).inline_tag_list_html %>
      <% end %>
      <% t.column "Tags changed by other users", width: "45%" do |upload_report| %>
        <%= render "reports/tag_diff_list", added_tags: upload_report.added_tags_array, removed_tags: upload_report.removed_tags_array %>
      <% end %>
    <% end %>

    <%= numbered_paginator(@upload_reports) %>
    </div>
</div>
