<div id="c-reports">
  <div id="a-user-promotions">
    <h1>User Promotion Report</h1>

    <p>Binomial proportion confidence interval for how likely a user's uploads will achieve a score of at at least n with 95% confidence within the past 60 days. Most statistics are not significant unless there are at least 300 uploads.</p>

    <table width="100%" class="striped" id="sortable">
      <thead>
        <tr>
          <th data-sort="string">User</th>
          <th data-sort="int">Level</th>
          <th data-sort="int">Uploads</th>
          <th data-sort="string">Age</th>
          <th data-sort="int">Del Chance</th>
          <th data-sort="int">Neg Score Chance</th>
          <th data-sort="int">Limit</th>
        </tr>
      </thead>
      <tbody>
        <% @report.users.each do |user| %>
          <% if user.confidence_interval_for(5) > 0 %>
            <tr>
              <td><%= link_to_user user.user %></td>
              <td data-sort-value="<%= user.level %>"><%= user.level_string %></td>
              <td><%= link_to user.post_upload_count, posts_path(:tags => "user:#{user.name} order:random", :limit => 200) %></td>
              <td data-sort-value="<%= user.created_at.to_formatted_s(:db) %>"><%= time_ago_in_words user.created_at %></td>
              <td><%= link_to number_to_percentage(user.deletion_confidence_interval, :precision => 0), posts_path(:tags => "user:#{user.name} status:deleted", :limit => 200) %></td>
              <td><%= link_to number_to_percentage(user.negative_score_confidence_interval, :precision => 0), posts_path(:tags => "user:#{user.name} score:<0", :limit => 200) %></td>
              <td><%= user.max_upload_limit %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% content_for(:page_title) do %>
  User Promotion Report - <%= Danbooru.config.app_name %>
<% end %>

<%= content_for(:html_header) do %>
  <%= javascript_include_tag "stupidtable" %>
  <script type="text/javascript">
    $(function() {
      $("#sortable").stupidtable().on("aftertablesort", function() {
        $("#sortable tbody tr:even").removeClass("odd").addClass("even");
        $("#sortable tbody tr:odd").removeClass("even").addClass("odd");
      });
    });
  </script>
<% end %>