<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= page_title %></title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="top" title="<%= Danbooru.config.app_name %>" href="/">
  <%= csrf_meta_tag %>
  <%= raw Danbooru.config.custom_html_header_content %>
  <%= javascript_pack_tag "application" %>
  <%= stylesheet_pack_tag "application" %>
  <%= yield :html_header %>
</head>
<body lang="en">
  <div id="page">
    <%= yield :layout %>
  </div>
</body>
</html>
