<!doctype html>
<html>
<head>
  <title><%= yield :page_title %></title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="top" title="<%= Danbooru.config.app_name %>" href="/">
  <%= csrf_meta_tag %>
  <%= auto_discovery_link_tag :atom, posts_path(:format => "atom", :tags => params[:tags]) %>
  <%= stylesheet_link_tag "application", :media => "screen" %>
  <%= javascript_include_tag "application" %>
  <%= Danbooru.config.custom_html_header_content %>
  <meta name="enable-auto-complete" content="<%= CurrentUser.user.enable_auto_complete %>">
  <%= yield :html_header %>
</head>
<body lang="en">
  <div id="page">
    <%= yield :layout %>
  </div>
</body>
</html>
