<!doctype html>
<html>
<head>
  <title><%= yield :page_title %></title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="top" title="<%= Danbooru.config.app_name %>" href="/">
  <%= csrf_meta_tag %>
  <meta name="current-user-name" content="<%= CurrentUser.name %>">
  <meta name="current-user-id" content="<%= CurrentUser.id %>">
  <% unless CurrentUser.user.blacklisted_tags.blank? %>
    <meta name="blacklisted-tags" content="<%= CurrentUser.user.blacklisted_tags %>">
  <% end %>
  <% if flash[:notice] =~ /error/ %>
    <meta name="errors" content="true">
  <% end %>
  <%= auto_discovery_link_tag :atom, posts_path(:format => "atom", :tags => params[:tags]) %>
  <%= stylesheet_link_tag "compiled/default" %>
  <%= stylesheet_link_tag "smoothness/jquery-ui-1.8.5.custom.css" %>
  <%= javascript_include_tag :defaults, :cache => true %>
  <%= Danbooru.config.custom_html_header_content %>
  <%= yield :html_header %>
</head>
<body>
  <header>
    <h1><%= Danbooru.config.app_name %></h1>
    <nav>
      <menu>
        <% if CurrentUser.user.is_anonymous? %>
          <%= nav_link_to("Login", new_session_path) %>
        <% else %>
          <%= nav_link_to("My Account", user_path(CurrentUser.user)) %>
        <% end %>
        <%= nav_link_to("Posts", posts_path) %>
        <%= nav_link_to("Comments", comments_path(:group_by => "post")) %>
        <%= nav_link_to("Notes", notes_path) %>
        <%= nav_link_to("Artists", artists_path(:order => "date")) %>
        <%= nav_link_to("Tags", tags_path(:order => "date")) %>
        <% if CurrentUser.is_moderator? %>
          <%= nav_link_to("Aliases", tag_aliases_path) %>
          <%= nav_link_to("Implications", tag_implications_path) %>
        <% end %>
        <%= nav_link_to("Pools", pools_path) %>
        <%= nav_link_to("Wiki", wiki_pages_path(:title => "help:home")) %>
        <%= nav_link_to("Forum", forum_topics_path, :class => (CurrentUser.user.has_forum_been_updated? ? "forum-updated" : nil)) %>
        <%= nav_link_to("&raquo;".html_safe, site_map_path) %>
      </menu>
      <%= yield :secondary_links %>
    </nav>
  </header>
  
  <%- if flash[:notice] -%>
    <div class="ui-corner-all ui-state-highlight" id="notice"><span class="ui-icon ui-icon-info"></span> <%= flash[:notice] %></div>
  <%- else -%>
    <div class="ui-corner-all ui-state-highlight" id="notice" style="display: none;"><span class="ui-icon ui-icon-info"></span> </div>
  <%- end -%>
  
  <div id="page">
    <%= yield :layout %>
  </div>
  
  <footer>
    <%= yield :page_footer_content %>    
  </footer>
</body>
</html>
