<!doctype html>
<html>
<head>
  <title><%= yield(:page_title) %></title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="top" title="<%= Danbooru.config.app_name %>" href="/">
  <%= csrf_meta_tag %>
  <% unless @current_user.blacklisted_tags.blank? %>
    <meta name="blacklisted-tags" content="<%= h @current_user.blacklisted_tags %>">
  <% end %>
  <%= auto_discovery_link_tag :atom, posts_path(:format => "atom", :tags => params[:tags]) %>
  <%= stylesheet_link_tag "default" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "rails" %>
  <%= javascript_include_tag "application" %>
  <%= Danbooru.config.custom_html_header_content %>
  <%= yield :html_header %>
</head>
<body>
  <header>
    <h1><%= Danbooru.config.app_name %></h1>
    <nav>
      <menu>
        <% if @current_user.is_anonymous? %>
          <%= nav_link_to("Login", new_session_path) %>
        <% else %>
          <%= nav_link_to("My Account", user_path(@current_user)) %>
        <% end %>
        <%= nav_link_to("Posts", posts_path) %>
        <%= nav_link_to("Comments", comments_path) %>
        <%= nav_link_to("Notes", notes_path) %>
        <%= nav_link_to("Artists", artists_path(:order => "date")) %>
        <%= nav_link_to("Tags", tags_path(:order => "date")) %>
        <%= nav_link_to("Pools", pools_path) %>
        <%= nav_link_to("Wiki", wiki_page_path(:id => "help:home")) %>
        <%= nav_link_to("Forum", forum_topics_path, :class => (@current_user.has_forum_been_updated? ? "forum-updated" : nil)) %>
        <%= nav_link_to("&raquo;".html_safe, site_map_path) %>
      </menu>
      <%= yield :secondary_nav_links %>
    </nav>    
  </header>
  
  <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
  <% else %>
    <div id="notice" style="display: none;"></div>
  <% end %>

  <div id="content">
    <%= yield :layout %>
  </div>
  
  <footer>
    <%= yield :page_footer_content %>    
  </footer>
</body>
</html>
