<!doctype html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title><%= yield :page_title %></title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="top" title="<%= Danbooru.config.app_name %>" href="/">
  <%= csrf_meta_tag %>
  <% unless CurrentUser.disable_responsive_mode? %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  <% end %>
  <meta name="current-user-name" content="<%= CurrentUser.name %>">
  <meta name="current-user-id" content="<%= CurrentUser.id %>">
  <meta name="current-user-can-approve-posts" content="<%= CurrentUser.can_approve_posts? %>">
  <meta name="user-comment-threshold" content="<%= CurrentUser.comment_threshold %>">
  <% if CurrentUser.user.blacklisted_tags.present? %>
    <meta name="blacklisted-tags" content="<%= CurrentUser.user.blacklisted_tags.gsub(/(?:\r|\n)+/, ",") %>">
  <% end %>
  <% if flash[:notice] =~ /error/i %>
    <meta name="errors" content="true">
  <% end %>
  <meta name="enable-js-navigation" content="<%= CurrentUser.user.enable_post_navigation %>">
  <meta name="new-post-navigation-layout" content="<%= CurrentUser.user.new_post_navigation_layout %>">
  <meta name="default-image-size" content="<%= CurrentUser.user.default_image_size %>">
  <meta name="enable-auto-complete" content="<%= CurrentUser.user.enable_auto_complete %>">
  <meta name="style-usernames" content="<%= CurrentUser.user.style_usernames? %>">
  <meta name="last-forum-read-at" content="<%= CurrentUser.user.last_forum_read_at %>">
  <meta name="disable-labeled-saved-searches" content="<%= CurrentUser.disable_categorized_saved_searches? %>">
  <%= content_tag(:meta, nil, name: "disable-mobile-gestures", content: CurrentUser.disable_mobile_gestures?) %>
  <%= auto_discovery_link_tag :atom, posts_path(:format => "atom", :tags => params[:tags]) %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />
  <%= stylesheet_link_tag "application", :media => "screen" %>
  <% if CurrentUser.user.custom_style.present? %>
    <%= stylesheet_link_tag custom_style_users_path, :media => "screen" %>
  <% end %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
  <%= javascript_include_tag "application" %>
  <%= raw Danbooru.config.custom_html_header_content %>
  <%= yield :html_header %>
  <% if Danbooru.config.twitter_site %>
    <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "Organization",
        "name" : "<%= Danbooru.config.app_name %>",
        "url" : "<%= root_url %>",
        "sameAs" : [
          "https://twitter.com/<%= Danbooru.config.twitter_site[1..-1] %>"
        ]
      }
    </script>
  <% end %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url" : "<%= root_url %>",
    "potentialAction": [{
      "@type": "SearchAction",
      "target": "<%= posts_url %>?tags={search_term_string}",
      "query-input": "required name=search_term_string"
    }]
  }
  </script>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "<%= Danbooru.config.app_name %>",
    "alternateName": "<%= Danbooru.config.description %>",
    "url" : "<%= root_url %>"
  }
  </script>
</head>
<body lang="en" <%= body_attributes(CurrentUser.user) %>>
  <header id="top">
    <%= render "news_updates/listing" %>

    <h1><%= link_to Danbooru.config.app_name, "/" %></h1>
    <span id="maintoggle"> ☰ </span> <!-- Maybe icon would be better, I'm not sure -->
    <nav id="nav">
      <%= render "layouts/main_links" %>
      <%= yield :secondary_links %>
    </nav>

    <%= render "layouts/more_links" %>
  </header>

  <div id="page">
    <% if CurrentUser.is_anonymous? && session[:started_at].is_a?(ActiveSupport::TimeWithZone) && session[:started_at] < 1.minute.ago && cookies[:hide_sign_up_notice].blank? %>
      <%= render "users/sign_up_notice" %>
    <% end %>

    <% if !CurrentUser.is_anonymous? && !CurrentUser.is_gold? && cookies[:hide_upgrade_account_notice].blank? && params[:action] != "upgrade_information" %>
      <%= render "users/upgrade_notice" %>
    <% end %>

    <% if CurrentUser.user.is_banned? %>
      <%= render "users/ban_notice" %>
    <% end %>

    <% if CurrentUser.has_mail? && CurrentUser.dmails.unread.first.present? && (cookies[:hide_dmail_notice].blank? || cookies[:hide_dmail_notice].to_i < CurrentUser.dmails.unread.first.id) %>
      <%= render "users/dmail_notice" %>
    <% end %>

    <% if CurrentUser.user.can_approve_posts? %>
      <%= render "moderator/post/queues/notice" %>
    <% end %>

    <% if cookies["accepted_tos"].blank? && !CurrentUser.is_gold? %>
      <%= render "users/tos" %>
    <% end %>

    <div class="ui-corner-all ui-state-highlight" id="notice" style="<%= "display: none;" unless flash[:notice] %>">
      <span><%= format_text(flash[:notice], inline: true) %>.</span>
      <a href="#" id="close-notice-link">close</a>
    </div>

    <%= yield :layout %>
  </div>

  <%= render "static/footer" %>
</body>
</html>
