<!doctype html>
<html>
<head>
  <title><%= yield :page_title %></title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "mobile", :media => "screen" %>
  <%= javascript_include_tag "jquery-1.11.1.min.js" %>
  <%= javascript_include_tag "rails.js" %>
  <%= Danbooru.config.custom_html_header_content %>
  <%= yield :html_header %>
</head>
<body lang="en">
  <header id="top">
    <h1><%= link_to Danbooru.config.app_name, "/" %></h1>
  </header>
  <div id="page">
    <%= yield :layout %>
  </div>
</body>
</html>
