<% content_for(:layout) do %>
  <div id="c-<%= params[:controller].parameterize.dasherize %>">
    <div id="a-<%= params[:action].parameterize.dasherize %>">
      <% if content_for(:top_content).present? %>
        <section id="top-content">
          <%= yield :top_content %>
        </section>
      <% end %>

      <div class="sidebar-container flex sm:flex-col gap-3">
        <aside id="sidebar" class="flex-0 break-words sm:order-2">
          <%= yield :sidebar %>
        </aside>

        <div id="content-container">
          <section id="content" class="flex-1 min-w-0 sm:order-1">
            <div id="canyai-banner">
              <% if CurrentUser.user.show_ads? && controller_name == "posts" %>
                <iframe src="https://assets.mediacandy.ai/aib/square.html" width="300" height="250" scrolling="no" margin-width="0" margin-height="0" frameborder="0"></iframe>
              <% end %>
            </div>
            <%= yield :content %>

            <% if CurrentUser.user.show_ads? && controller_name == "posts" %>
              <div>
                <iframe width="100%" height="100%" style="display:block" marginWidth="0" marginHeight="0" frameBorder="no" src="https://go.mnaspm.com/smartpop/ac148b33609ece1e28ad5b9ea6bb177c52b4ce65afb82ebe925be166584dbde1?userId=5187650635637f3653fa6cee9feb43adda609efbe33c90b104809ba2f8973671"></iframe>
              </div>
            <% end %>
          </section>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/default" %>
