<% content_for(:layout) do %>
  <div id="c-<%= params[:controller].parameterize.dasherize %>">
    <div id="a-<%= params[:action].parameterize.dasherize %>">
      <% if content_for(:top_content).present? %>
        <section id="top-content">
          <%= yield :top_content %>
        </section>
      <% end %>

      <div class="sidebar-container flex sm:flex-col gap-3">
        <aside id="sidebar" class="flex-0 break-words sm:order-2">
          <%= yield :sidebar %>
        </aside>

        <div id="content-container">
          <section id="content" class="flex-1 min-w-0 sm:order-1">
            <div id="clickadu">
              <% if CurrentUser.user.show_ads? && controller_name == "posts" %>
                <script data-cfasync="false" type="text/javascript" src="//ybs2ffs7v.com/lv/esnk/1976173/code.js" async class="__clb-1976173"></script>
              <% end %>
            </div>
            <%= yield :content %>
          </section>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/default" %>
