<% content_for(:layout) do %>
  <div id="c-<%= params[:controller].parameterize.dasherize %>">
    <div id="a-<%= params[:action].parameterize.dasherize %>">
      <% if content_for(:top_content).present? %>
        <section id="top-content">
          <%= yield :top_content %>
        </section>
      <% end %>

      <div class="sidebar-container flex sm:flex-col gap-3">
        <aside id="sidebar" class="flex-0 break-words sm:order-2">
          <%= yield :sidebar %>
        </aside>

        <div id="content-container">
          <section id="content" class="flex-1 min-w-0 sm:order-1">
            <%= yield :content %>
          </section>

          <section id="exoclick">
            <% if CurrentUser.user.show_ads? && controller_name == "posts" %>
              <% if cookies[:post_preview_size].to_i >= 360 %>
                <iframe src="//a.realsrv.com/iframe.php?idzone=4966200&size=900x250" width="900" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
              <% else %>
                <iframe src="//a.realsrv.com/iframe.php?idzone=4998976&size=728x90" width="728" height="90" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
              <% end %>
            <% end %>
          </section>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/default" %>
