<div class="file-upload-component relative card w-md max-w-full" data-drop-target="<%= j drop_target %>" data-max-file-size="<%= j max_file_size %>" data-max-files-per-upload="<%= j max_files_per_upload %>">
  <%= simple_form_for(Upload.new, url: uploads_path(format: :json), html: { class: "flex flex-col !m-0", autocomplete: "off" }, remote: true) do |f| %>
    <%= f.input :files, as: :file, wrapper_html: { class: "hidden" }, input_html: { "multiple": max_files_per_upload > 1 }  %>

    <div class="dropzone-container relative input text-center rounded-t-lg cursor-pointer p-4 max-h-360px thin-scrollbar">
      <div class="dropzone-hint py-4">
        <div>Choose file or drag image here</div>
        <div class="hint fineprint">Max size: <%= number_to_human_size(Danbooru.config.max_file_size) %>.</div>
      </div>
    </div>

    <p class="text-center">&mdash; or &mdash;</p>

    <%= f.input :source, label: false, as: :string, placeholder: "Paste URL here", input_html: { value: url, class: "text-center" }, wrapper_html: { class: "px-4 text-center" } %>
    <%= f.input :referer_url, as: :hidden, input_html: { value: referer_url } %>
    <%= f.submit "Upload", class: "button-primary text-center mx-auto hidden", "data-disable-with": false %>
  <% end %>

  <%= spinner_icon(class: "hidden absolute inset-0 m-auto h-12 link-color") %>

  <template class="dropzone-preview-template">
    <div class="dz-preview dz-file-preview flex flex-col text-center">
      <div class="dz-details text-xxs">
        <span class="dz-filename break-all" data-dz-name></span>,
        <span class="dz-size" data-dz-size></span>
      </div>

      <div class="dz-progress absolute bottom-0 left-0 w-full h-1">
        <div class="dz-upload h-1" data-dz-uploadprogress></div>
      </div>

      <div class="hidden dz-error-message block" data-dz-errormessage></div>
    </div>
  </template>
</div>
