<div class="post-gallery post-gallery-<%= gallery_type %> post-gallery-<%= size %>">
  <% if empty? %>
    <p>No posts found.</p>
  <% else %>
    <div class="posts-container grid gap-2">
      <% posts.each do |post| -%>
<%    %><%= post_preview(post, **options) -%>
      <% end -%>
    </div>
  <% end %>

  <%= footer %>

  <% if has_paginator? %>
    <%= numbered_paginator(posts) %>
  <% end %>
</div>
